{% set background_gradient = 'linear-gradient(270deg, rgba(247, 235, 95, 0.85) -12.88%, rgba(23, 167, 220, 0.85) 31.42%, rgba(10, 79, 123, 0.85) 86.23%)' %}

{% set common_base_class = common_base_class|default('callout-common') %}
{% if 'gradient' in common_modifiers %}
    {# <div class="container--full-bleed"> #}
    <div {{ bem(common_base_class, common_modifiers) }} style='background-image: {{ background_gradient }}, url({{ background_image }}'>
{% else %}
    <div {{ bem(common_base_class, common_modifiers) }} style={{ style }}>
{% endif %}
        <div class="content-wrapper">
            <div class="content">
                {# Header #}
                {% if heading_copy %}
                    {% include "@atoms/text/headings/_heading.twig" with {
                        heading_level: heading_level,
                        heading: heading_copy,
                    } %}
                {% endif %}
                {# Copy #}
                {% if body_copy %}
                    <p>{{ body_copy }}</p>
                {% endif %}
                {% if rich_body_copy %}
                    {% set rich_body = {
                        '#type' : 'processed_text',
                        '#text': rich_body_copy,
                        '#format': 'full_html',
                    } %}
                    {{rich_body}}
                {% endif %}

                {# Search #}
                {% if 'search' in common_modifiers %}
                    {% include "@molecules/searchBar/searchBar.twig" with {
                        field_label: search_field_label,
                        field_placeholder: search_field_placeholder,
                        modifiers: ['mini']
                    } %}
                {% endif %}
                {# CTA #}
                {% if ctas %}
                    <div class="cta">
                        {% for cta in ctas %}
                            {% include "@atoms/buttons/twig/button.twig" with {
                                button_content: cta.link_text,
                                button_url: cta.link_url,
                                button_modifiers: cta.button_modifiers,
                                external_link: cta.link_external,
                            } %}
                        {% endfor %}
                    </div>  
                {% endif %}
            </div>
            {% if img_src %}
                {% if 'photo' in common_modifiers %}
                    <div class="photo" style="background-image: url({{img_src}})"></div>
                {% else %}
                    <div class="photo">
                        {% include "@atoms/images/image/_image.twig" with {
                            image_src: img_src,
                            image_alt: img_alt
                        } %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>