{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{# {{kint(element)}} #}
{% set title = element['#title'] %}
{% set id = element['#id'] %}
{% set name = element['#name'] %}
{% set value = element['#return_value'] %}
{% set checked = element['#checked'] %}
{# {{kint(checked)}} #}

{% include "@atoms/forms/checkbox/_checkbox-item.twig" %}
{# <input{{ attributes }} />{{ children }} #}
