.person-teaser {
  width: 250px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    font-size: 11px;
  }

  background-color: $gray;
  .copy {
    padding: 15px 10px;
    text-align: left;
  }
  hr {
    border-color: #e6dcdc;
    // margin-bottom: 24px;
  }
  .name {
    color: $blue;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .info {
    p {
      font-size: 11px;
      margin: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}
