{% set person_teaser_base_class = person_teaser_base_class|default('person-teaser') %}


<div {{ bem(person_teaser_base_class, modifiers) }}>
    
    {% set content %}
        <div class="photo">
            {% include "@atoms/images/image/_image.twig" with {
                image_src: img_src,
                image_alt: name
            } %}
        </div>
        <div class="copy">
            <div class="name">
                {{ name }}
            </div>
            <hr>
            {% if titles %}
            {# Only show the first 2 titles on a teaser #}
            {% set teaser_titles = titles|slice(0, 2) %}

            <div class="info">
                {% for title in teaser_titles %}
                <p>{{title.value|default(title)}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if phone %}
                <div class="info">
                    <p>{{phone}}</p>
                </div>
            {% endif %}
            {% if email %}
                <div class="info">
                <p>{{email}}</p>
                </div>
            {% endif %}
        </div>
    {% endset %}
    
    {% if url %}
        <a href="{{url}}">
            {{content}}
        </a>
    {% else %}
        {{content}}
    {% endif %}
</div>