{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set anteater_src = directory ? '/' ~ directory ~ '/images/doctor-anteater.png' : 'doctor-anteater.png' %}

<div class="error_page container">
      <div class="copy">
        <h1>Oops!</h1>
        <h2>We can't find the page you're looking for!</h2>
      </div>
      <div class="image">
        <img src={{anteater_src}} />
      </div>
</div>