.error_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include site-padding();
  h1 {
    font-size: 125px;
    font-family: $font-body;
    margin-bottom: 24px;
  }
  h2 {
    font-family: $font-heading;
    font-size: 48px;
    margin-top: 0;
  }
  .image {
    transform: scaleX(-1);
  }
}
