.banner {
  // @include site-padding(0, 0);
  
  // padding: 0 60px 38px 60px;
  padding: 0;
  text-align: center;
  .banner-copy {
    margin: 28px auto 0 auto;
    max-width: 1220px;
  }
  .horizontalRule {
    margin-bottom: 20px;
    width: 140px;
  }
  .section-header {
    margin-top: 0;
  }
  &--gray {
    // padding: 38px 60px;
  }
  &--blue {
    // padding: 38px 60px;
    background-color: rgba($blue, 0.83);
    color: $white;
    .section-header {
      font-size: 36px;
      margin: 0;
      color: $white;
      font-weight: bold;
    }
    // @include breakpoint(0 $medium) {
    //   padding: 19px 30px;
    // }
  }
  &--white {
    background-color: $white;
    color: $black;
    .section-header {
      font-size: 36px;
      color: $blue;
    }
  }
}
