{% set banner_base_class = banner_base_class|default('banner') %}

<div {{ bem(banner_base_class, banner_modifiers) }}>
        {% if heading_text %}
        {% include "@atoms/text/headings/_sectionHeader.twig" with {
            heading_level: heading_level,
            heading: heading_text
        } %}
        {% endif %}
     <div class="banner-copy">
        <p>{{ body_copy }}</p>
    </div>
</div>