.callout-common {
  background-size: cover;
  // padding: 24px $side-padding-xl 24px $side-padding-xl;
  color: $white;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    color: $white;
    font-size: 35px;
    margin-top: 0;
  }
  p {
    margin-bottom: 60px;
  }
  .content-wrapper {
    @include site-padding(0, 0);

    display: flex;
    justify-content: space-between;
    position: relative;

    .content {
      // padding: 60px 0 60px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      p {
        margin: 0;
      }
    }
  }
  .photo {
    width: 30%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include breakpoint(0 $medium) {
      .image {
        margin: $s-margin 0;
      }
    }
  }
  .search-bar {
    margin: 20px 0;
  }
  .cta {
    margin-top: 20px;
    a {
      margin-right: 42px;
    }
  }
  &--reverse {
    .content-wrapper {
      flex-direction: row-reverse;
      @include breakpoint(0 $medium) {
        flex-direction: column-reverse;
      }
    }
  }
  &--photo {
    background-color: $blue;
    @include space-stack-page();

    .content-wrapper {
      padding: 0 0 0 $side-padding-xl;
      @include breakpoint($medium $large) {
        padding: 0 0 0 $l-margin;
      }
    }

    &.callout-common--gray {
      background-color: $gray;
      color: $black;
      h2.h2 {
        color: $blue;
      }
    }
    &.callout-common--white {
      background-color: $white;
      color: $black;
      h2.h2 {
        color: $blue;
      }
    }
    &.callout-common--reverse {
      // padding: 0 $side-padding-xl 0 0;
      @include breakpoint(0 $medium) {
        padding: 0;
      }
    }
    .content {
      padding: 24px 0;
    }
    @include breakpoint(0 $medium) {
      .content-wrapper {
        display: grid !important;
        grid-template-columns: 1fr;
        padding: 0;
        .content {
          @include site-padding(15px, 15px);

          grid-row: 2;
        }
        &.callout-common--reverse {
          padding: 0;
          .content {
            @include site-padding(15px, 15px);
          }
        }
        .photo {
          height: 250px;
          grid-row: 1;
        }
      }
    }
  }
  &--featured {
    padding: 0;
    .content {
      padding: 24px 0;
    }

    color: $black;
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
      color: $blue-dark;
      font-weight: normal;
    }
    .content-wrapper .content,
    .photo {
      width: 46%;
    }
  }
  &--gray {
    background-color: $gray;
  }

  @include breakpoint(0 $medium) {
    // padding: 24px 25px;
    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      .content,
      .photo {
        width: 100%;
      }
    }
  }
  @include breakpoint($medium $max-width) {
    // padding: 24px 50px;
  }
}
