.card {
  // display: grid;
  // grid-template-columns: 1fr 4fr;
  // margin-bottom: 60px;
  // max-width: 600px;
  .date {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 0;
  }
  hr {
    border-top: 1px solid $blue;
    max-width: 240px;
    margin-left: 0;
  }
  .copy {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .headline {
      color: $blue;
      text-decoration: none;
      font-size: 18px;
      line-height: 1.16;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    p,
    li {
      font-size: 15;
      line-height: 1.5;
      list-style: none;
    }
    .tags {
      margin: 0;
      padding: 0;
      li {
        display: inline;
      }
    }
  }
  &--featured {
    display: block;
    // max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    .copy {
      margin-left: 0;
      padding: 20px 20px 20px 20px;
      height: 100%;
    }
    &--feature-brief {
      background-color: $gray;
      .figure__caption {
        font-size: 20px;
        line-height: 29px;
        font-weight: bold;
      }
      .copy {
        padding-bottom: 20px;
      }
      .tags {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
        }
      }
    }
  }
  &--search {
    display: block;
    margin-bottom: 24px;
    .copy {
      p {
        margin-top: 0;
      }
    }
  }
  &--topic {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    figure {
      position: relative;
      margin: 0;
    }
    .figure--no-image {
      .caption-wrapper {
        position: relative;
      }
    }
    .figure__caption {
      font-size: 20px;
      font-weight: bold;
      min-height: 125px;
      display: flex;
      align-items: center;
    }
    .copy {
      padding: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin: 0;
      }
      .link {
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &--department {
    .copy {
      padding: 20px;
      min-height: 100px;
      p.headline {
        color: $black;
        margin: 0;
        &:hover {
          text-decoration: none;
        }
      }
    }
    figure {
      padding: 0;
      margin: 0;
    }
  }
  &--featured,
  &--topic {
    figure {
      position: relative;
      margin: 0;
    }
    .caption-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .teaser-image {
    position: relative;
    width: 180px;
    // float: left;
    // margin-right: 32px;
    .event-date {
      position: absolute;
      bottom: 14px;
      left: 14px;
      color: $white;
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 30px;
      .dateNumber {
        font-size: 45px;
      }
    }
  }
}

// Styleguide styles
.sg-newsTeaserFeatured {
  background-color: $gray;
}

.sb-teaser {
  max-width: 400px;
}

// #block-views-block-news-teasers {
//   margin: 40px 0;
//   .title {
//     margin-left: $side-padding-xl;
//     color: $blue-dark;
//     hr {
//       margin: 8px 0;
//       border-bottom: 0;
//       margin-bottom: 40px;
//     }
//   }
//   .view-content {
//     column-count: 2;
//     .views-row {
//       break-inside: avoid;
//     }
//   }
//   .link--arrow {
//     padding: 0;
//   }
// }
