{% if type == 'feature-brief' %}
    {% set image_caption = details.title %}
    {% set class = "card card--featured card--featured--feature-brief" %}
{% elseif type == 'topic' %}
    {% set image_caption = details.title %}
    {% set class = "card card--topic" %}
{% elseif type == "department" %}
    {% set class = "card card--department"%}
{% else %}
    {% set image_caption = details.date|date('M d, Y') ~ ' | ' ~ details.publication %}
    {% set class = "card card--featured" %}
{% endif %}


<div class="{{ class }}">
    {% include "@atoms/images/image/figure.twig" with {
        image_src: image_card.src,
        image_alt: image_card.alt,
    } %}
    <div class="copy">
        {% if type != 'feature-brief' and type != 'topic' %}
            {% if url %}
                <a class="headline" href={{ url }} target={{url_target}}>{{ details.title }}</a>
            {% else %}
                <p class="headline">{{ details.title }}</p>
            {% endif %}
        {% endif %}
        {% if details.description_short %}
            <p>{{ details.description_short }}</p>
        {% endif %}
        {% if tags %}
        <div>
            <ul class="tags">
                {% for tag in tags %}
                    <li>{% include "@atoms/buttons/twig/button.twig" with {
                        button_content: tag.title,
                        button_url: tag.url,
                        button_modifiers: ['tag']
                    } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if link %}
        {% include "@atoms/links/link/link.twig" with {
            'link_url': link.link_url,
            'link_content': link.link_content,
            'new_window': link.new_window,
        } %}
        {% endif %}
    </div>
</div>
