.form-item {
  color: clr(text);
  margin-bottom: 1em;
  @include clearfix;
  &--blue {
    .form-item__textfield {
      background-color: $blue-form;
      color: $white;
      border: none;
      width: 100%;
      &:focus {
        border-color: $white;
      }

      &::-webkit-input-placeholder {
        color: clr(highlight);
      }

      &:-moz-placeholder {
        color: clr(highlight);
      }

      &::-moz-placeholder {
        color: clr(highlight);
      }

      &:-ms-input-placeholder {
        color: clr(highlight);
      }

      &--ghost {
        background-color: $white;
        color: $blue;
        padding: 16px 16px 16px 24px;
      }
    }
    .form-item__label,
    .form-item__description {
      color: $white;
    }
  }
}

.form-item__label {
  display: block;
  font-family: $font-body;
  font-size: 15px;
  line-height: 1;
  padding: 8px 0;
  &.form-required {
    &::before {
      content: '* ';
      color: red;
    }
  }

  // @include xs {
  //   display: block;
  //   margin-right: 2%;
  //   padding: 0.6em 0;
  // }
}

.form-item__textfield {
  padding: 10px 15px 10px 15px;
  border: 2px solid $blue;
  max-width: 100%;
  font-family: $font-body;
  font-size: 20px;
  width: 100%;
  // font-style: italic;
  color: $blue;
  &::-webkit-input-placeholder {
    color: $blue;
  }

  &:-moz-placeholder {
    color: $blue;
  }

  &::-moz-placeholder {
    color: $blue;
  }

  &:-ms-input-placeholder {
    color: $blue;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    // margin-left: 1em;
    max-width: 31em;
  }
}

// Styleguide Styles
.sg-form--blue {
  background-color: $blue;
}

.sg-form {
  padding: 10px;
}
