
<div class="sg-form">
  <div class="form-item">
    <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Full Name</label>
    <input id="edit-name" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Full Name">
  </div>

  <div class="form-item">
    <label for="edit-pass" class="form-item__label form-item__label--required form-item__label--textfield">Password</label>
    <input id="edit-pass" type="password" name="pass" size="60" maxlength="128" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true">
    <p class="form-item__description paragraph--small">
      Enter the password that accompanies your username.
    </p>
  </div>

  <form>
    <fieldset class="form-fieldset">
    <legend class="heading-2 with-icon">Web and Email Address (fieldset example)</legend>
      <div class="form-item">
        <label for="webaddress" class="form-item__label form-item__label--textfield">Web Address</label>
        <input id="webaddress" type="url" class="form-item__textfield" placeholder="http://yoursite.com">
      </div>

      <div class="form-item">
        <label for="emailaddress" class="form-item__label form-item__label--textfield">Email Address</label>
        <input id="emailaddress" type="email" class="form-item__textfield" placeholder="name@email.com">
      </div>
    </fieldset>
  </form>

  <div class="form-item">
    <label for="text" class="form-item__label form-item__label--textfield">Number Input</label>
    <input id="text" type="number" class="form-item__textfield" placeholder="Enter a Number" pattern="[0-9]*">
  </div>

  <div class="form-item">
    <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
    <textarea id="textarea" class="form-item__textfield form-item__textarea"  rows="8" cols="48" placeholder="Enter your message here"></textarea>
  </div>

<div class="form-item">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Ghost Form Field</label>
  <input id="edit-name" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required form-item__textfield--ghost" required="required" aria-required="true" placeholder="Keyword(s)">
</div>

</div>
