// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: $space;
    width: 100px;
  }

  pre {
    background-color: clr(muted);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(muted);
  margin: $space-one-fourth;
}

svg#playButton {
  circle {
    fill: red;
  }
}
