a {
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
}

a.link {
  .icon {
    height: 14px;
    width: 14px;
    display: inline-block;
  }
  &--arrow {
    &:hover {
      .icon {
        margin-left: 25px;
      }
    }
    .icon {
      transition: margin 0.2s ease-in-out;
      position: relative;
      margin-left: 20px;
      top: 2px;
    }
  }
}

a.link-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid $yellow;
  border-radius: 25px;
  color: white;
  .icon {
    padding: 8px;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &--white {
    border: 4px solid $white;
  }
  &--blue {
    border: 4px solid $blue;
    color: $blue;
  }
}

ul.link-list {
  list-style: none;
  padding: 0;
}

ul[class^='link-list-level'] {
  list-style: none;
  li {
    margin-left: 5px;
  }
}

// Styleguide styling
.sg-linkSocialIcon {
  background-color: $blue;
  padding: 10px;
  &.blue {
    background-color: $white;
  }
}
