{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_attributes - array of attribute,value pairs
 * - link_base_class - the base class name
 * - link_modifiers - array of modifiers to add to the base classname
 * - link_blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set link_base_class = link_base_class|default('link') %}

<a
  {{ bem(link_base_class, link_modifiers) }}
  {% for attribute, value in link_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  {% for attribute, value in data_attributes %}
    data-{{ attribute }}="{{ value }}"
  {% endfor %}
  {% if link_url %}
    href="{{ link_url }}"
  {% endif %}
  {% if new_window %}
    target="_blank"
  {% endif %}
>
  {% block link_content %}
    {% if icon %}
      {% include "@atoms/images/icons/_icon.twig" with {
          icon_name: icon
      } %}
    {% endif %}
    {% if icon_before %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon_before
      } %}
    {% endif %}
      {{ link_content }}
    {% if icon_after %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon_after
      } %}
    {% endif %}
  {% endblock %}
</a>
