{% set link_social_base_class = link_social_base_class|default('link-social') %}

<a {{ bem(link_social_base_class, link_modifiers, link_blockname) }}
    {% for attribute, value in link_attributes %}
        {{ attribute }}="{{ value }}"
    {% endfor %}
    href="{{ link_url }}" alt="{{ link_alt_text }}" 
>
    {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: social_icon
    } %}
</a>