{% import _self as menus %}

{% macro menu_links(items, menu_level, context) %}
{% set classes = 
    [
        'level-' ~ menu_level
    ]
%}
    {% import _self as menus %}
    {% set attributes = context.attributes %}
    {% if menu_level == 0 %}
        {% set link_list_base_class = link_list_base_class|default('link-list') %}
        {% set link_list_modifiers = link_list_modifiers|default([]) %}
        <ul {{bem(link_list_base_class, link_list_modifiers, '', classes) }}>
    {% else %}
        {% set level_class = 'link-list-level-' ~ menu_level %}
        <ul class={{level_class}}>
    {% endif %}
    {% for item in items %}
        <li>
            {% include "@atoms/links/link/link.twig" with {
                link_content: item.title,
                link_url: item.url,
                link_attributes: link.attributes
            } %}
            {% if item.below %}
                {{ menus.menu_links(item.below, menu_level + 1, context) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}


{{ menus.menu_links(links, 0, _context)}}