{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{# {{kint(rows[0].content)}} #}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="content">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {# {{kint(_context)}} #}
    {# {{kint(row.content)}} #}
    {# {{kint(row.content['#row'])}} #}
    {# {{kint(row.content['#row']._item.toArray())}} #}
    {# {{kint(row.content['#row']._item.getFields().getValues())}} #}
    {# {{kint(row.content['#row']._object.getValue().body.get('text'))}} #}
    {# {{kint(row.content['#row']._item.getFields().body.getValues.getText())}} #}
    {# {{dump(row.content['#row']._item)}} #}
    {# {{kint(row.content['#row']._item|keys)}} #}
    {# {{kint(row.content['#row']._item.body)}} #}
    {# {{kint(row.content['#row']._item[title])}} #}
    {{- row.content -}}
  </div>
{% endfor %}
</div>
