{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{# {{kint(rows[0].content)}} #}
{% if title %}
  <h3 class="group-title">{{ title }}</h3>
{% endif %}

{% for key, row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {% set event = row.content['#row']._entity %}
    {% set details = {
      title: event.title.value,
      date: view.style_plugin.getField(key, 'field_smart_date'),
      description_short: event.field_summary.value,
      content: event.field_smart_date.0,
      url: event.getType == 'event_short' ? event.field_registration.0.url : event.path.value[0].alias,
    } %}
    {# {{kint(details)}} #}
    {% if event.field_teaser_thumbnail.entity.field_media_image.entity.uri %}
      {% set img = {
        src: event.field_teaser_thumbnail.entity.field_media_image.entity.uri.value | image_style('search_result_thumbnail'),
        alt: event.field_teaser_thumbnail.entity.field_media_image.alt
      } %}
    {% endif %}
  {% include "@molecules/news-events/teaser.twig" with {
    details: details,
    image: img,
    type: 'event',
  } %}
  </div>
{% endfor %}

{# date: row.content['#row']._entity.field_smart_date.0.value
{# src: row.content['#row']._entity.field_teaser_thumbnail.entity.field_media_image.entity.uri.value | image_style('thumbnail') #}
