{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
  
  {% set title = row._object.getEntity().getTitle() %}
  {% set url = row._object.getEntity().path.getValue()[0].alias %}
  {% set description_short = row._object.getEntity().field_summary.getValue()[0]['value'] %}
  {% set type = row._object.entity.field_news_type.entity.name.value %}
  {% if type == 'In the News' %}
  {# {% if row._object.entity.field_news_type.entity.name.value == 'In the News'
  %} #}
    {% set url = row._object.entity.field_link.0.url %}
    {% set url_target = "_blank" %}
  {% elseif type == 'Newsletter' %}
      {# {{kint(row._object.entity.field_document.entity.field_media_document.entity.fileuri)}} #}
      {% set url = file_url(row._object.entity.field_document.entity.field_media_document.entity.fileuri) %}
      {% set url_target = "_blank" %}
  {% endif %}
  {# {{kint(row._object.getEntity().field_news_type.getValue())}} #}
  {# {{kint(row._object.entity.field_news_type[0].value)}}
  {{kint(row._object.entity.field_news_type.getvalue())}} #}
  {# {{kint(row._object.entity.field_news_type.entity.name.value)}} #}
  {# {{kint(row._object.field_news_type)}} #}
  {% set details = {
    'title': title,
    'description_short': description_short,
    'url': url,
    'url_target': url_target,
  } %}

  {% include "@molecules/news-events/teaser.twig" with {
    type: 'search',
    modifiers: ['search'],
  } %}

  {# {{kint(details)}} #}

{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}
