{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{# {{kint()}} #}
<div class="social-media">
    {# <div class="content"> #}
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="container--full-bleed header">
      <div class="view-header content-wrapper">
        <div class="content">
          {{ header }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if footer %}
    <div class="container--full-bleed footer">
      <div class="view-footer content-wrapper">
        <div class="content">
          {{ footer }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters container--centered">
      <div class="content">
        {{ exposed }}
      </div>
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
  <div class="container--centered">
    {% set entries = [] %}
    {# <div class="view-content"> #}
      {% for item in rows.0['#rows'] %}
      
        {% set term = item['#taxonomy_term'] %}
        {% set social_icons = [] %}
        {% for link in term.field_social_links %}
          {% set social_icons = social_icons|merge([{
            icon: link.entity.field_template_icon.value,
            button_url: link.entity.field_link.0.url,
          }]) %}
        {% endfor %}
        {% set entries = entries|merge([{
          name: term.name.value,
          social_icons: social_icons,
        }]) %}
      {% endfor %}
      <div class="content-wrapper content">
      {% include "@molecules/news/social/news-social.twig" with {
        title: view.getTitle(),
        entries: entries,
      } %}
    </div>
    </div>
  {% elseif empty %}
    <div class="container--locked" style="padding: 0">
      <div class="view-empty content">
        {{ empty }}
      </div>
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if (attachment_after) and (view.exposed_data.name == '') %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
{# </div> #}