{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'content',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
    {# {{dd(more['#url'].routeName)}} #}
      {% set modifiers = ['teaser', 'event-items', 'events'] %}
      {% set all_events_cta = more['#title'] %}
      {% set all_events_url = path(more['#url'].routeName) %}
      {% if "{{" not in more['#url'].options.query.department %}
        {% set all_events_query = more['#url'].options.query %}
        {% set department = all_events_query.department|split(", ")[0] %}
        {% set all_events_url = all_events_url ~ '?department=' ~ department %}
      {% endif %}
      {% set event_items = [] %}
      {% set event_count = 0 %}
      {# Limit the number of events to 5 #}
      {% set max_events = 5 %}

      {% for item in rows.0['#rows'] %}
        {% if event_count < max_events %}
          {% set event = item['#node'] %}
          {% set title = item['#node'].title.getValue().0.value %}
          {% set dates = item['#node'].field_smart_date.getValue() %}

          {# Create an event item for each date instance #}
          {% for date in dates %}
            {% if event_count < max_events %}
              {% set details = {
                'title': title,
                'date_start': date.value,
                'date_end': date.end_value,
                'url': event.getType == 'event_short' ? event.field_registration.0.url : event.path.value[0].alias,
              } %}
              {% set event_items = event_items|merge([{
                'type': 'event',
                'details': details,
              }]) %}
              {% set event_count = event_count + 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% include "@organisms/events/events-list.twig" %}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}

      {% set empty_events_url = '/events' %}

      {% if more['#url'].options.query is defined %}
        {% set query_params = [] %}
        {% for key, value in more['#url'].options.query %}
          {% set query_params = query_params|merge([key ~ '=' ~ value]) %}
        {% endfor %}
        {% set empty_events_url = empty_events_url ~ '?search_text=&field_smart_date_value=2&' ~ query_params|join('&') %}
      {% endif %}

      {% include "@atoms/buttons/twig/button.twig" with {
        button_content: 'View Past Events',
        button_url: empty_events_url,
      } %}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more and not empty %}
    {% include "@atoms/buttons/twig/button.twig" with {
      button_content: more['#title'],
      button_url: all_events_url,
      button_additional_classes: 'events-secondary-button'
    } %}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
