{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set news_type = view.filter.field_news_type_target_id.value|first %}
{# Because we switch to group filters so Newsletters could have sub-groups, we can no longer use the TID for filtering #}
{# {% set more_link = '/news/search?search=&field_news_type%5B' ~ news_type ~ '%5D=' ~ view.filter.field_news_type_target_id.value|first %} #}
{% set more_link = '/news/search?search=&field_news_type=2' %}


{# <div> #}
      {% if rows %}
        <div{{ attributes.addClass(classes) }}>
        <div class="features_briefs--teaser">
          <div class="view-content content">        
        {{ title_prefix }}
          {% if title %}
            {{ title }}
          {% endif %}
          {{ title_suffix }}
          {% if header %}
            <div class="view-header">
              {{ header }}
            </div>
          {% endif %}
          <div class="items">
            {{ rows }}
          </div>
          {% if more %}
            <div class="view-all">
              <a href={{more_link}} class="button view">{{more['#title']}}</a>
            </div>
          {% endif %}
          </div>
          {% if footer %}
          <div class="view-footer">
            <div class="sidebar">
              {{ footer }}
            </div>
          </div>
          {% endif %}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if attachment_after %}
        <div class="attachment attachment-after">
          {{ attachment_after }}
        </div>
      {% endif %}


    </div>
  {# </div> #}
{# </div> #}