{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{# {{kint(form)}} #}
{# {% set field_label = form['#info']['filter-search_api_fulltext']['label'] %} #}
{% set field_label = form['search']['#title'] %}
{% set cta_text = form['actions']['submit']['#value'] %}
{# {{kint(field_label)}}
{{kint(cta_text)}} #}
{# {{ form }} #}

<div class="content">
  <div class="search-bar">
    {% include "@molecules/searchBar/searchBar.twig" %}
  </div>
</div>