// Drupal styling for event-search-form
.view-events-search,
.view-news-search {
  .view-header {
    p {
      font-size: 20px;
    }
  }
  .form-item__label,
  legend {
    font-size: 17px;
    font-weight: bold;
  }
  .events-search-form {
    input[id^='edit-reset'] {
      font-weight: normal;
      color: $blue;
      text-decoration: italic;
      font-size: 16px;
      background-color: transparent;
      text-transform: initial;
      &:hover {
        text-decoration: underline;
      }
    }
    // @include breakpoint(0 $medium) {
    //   .form-item--checkboxes {
    //     .form-checkboxes {
    //       // display: grid;
    //       // grid-template-columns: 1fr 1fr;
    //     }
    //   }
    // }
  }
}
