{% set event_search_base_class = event_search_base_class|default('events-search') %}

<form {{ bem(event_search_base_class) }}>
    <p><b>{{ heading }}</b></p>
    <div class="form-item">
        <label for="keyword" class="form-item__label form-item__label--required form-item__label--textfield">{{ keyword_field_label }}</label>
        <input id="keyword" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" maxlength="60" class="form-item__textfield form-item__textfield--required keyword" required="required" aria-required="true" placeholder="{{ keyword_field_placeholder }}">
    </div>
    {% include "@atoms/forms/checkbox/checkbox.twig" with {
        title: event_type_heading,
        checkboxes: event_types
    } %}
        <div class="buttons">

    {% include "@atoms/buttons/twig/button.twig" with {
        button_content: search_button_cta,
        button_url: '#'
    } %}
        {% include "@atoms/links/link/link.twig" with {
            link_url: '#',
            link_content: clear_filters_cta
        } %}
    </div>
</form>