{% set month_pagination_base_class = month_pagination_base_class|default('month-pagination') %}

<div {{ bem(month_pagination_base_class, modifeirs) }}>
    {% include "@atoms/buttons/twig/iconButton.twig" with {
        button_modifiers: ['arrow', 'previous'],
        aria_label: previous_alt_text,
        icon: 'arrowRight'
    } %}
    <span class="month">{{ label }}</span>
    {% include "@atoms/buttons/twig/iconButton.twig" with {
        button_modifiers: ['arrow', 'next'],
        aria_label: next_alt_text,
        icon: 'arrowRight'
    } %}
</div>