{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}

{% if external_link or new_window %}
  {% set button_modifiers = button_modifiers|default([]) %}
  {% set button_modifiers = button_modifiers|merge(['with-icon']) %}
{% endif %}

{% set button_position = content.field_button.0['#paragraph'].field_position.value %}
{% set button_position = button_position ? button_position : '' %}
{% set button_position = "button-position__" ~ button_position %}
{% set button_additional_classes = [button_additional_classes, button_position] %}

{% set additional_attributes = {
  class: bem(button_base_class, button_modifiers, button_blockname, button_position),
  "aria-label": 'button',
} %}


{# {{ dd(content.field_button.0['#paragraph'].field_position.value) }} #}

  {% if button_url %}
  {# {{dd(button)}} #}
    <a href="{{ button_url }}" {{ add_attributes(additional_attributes) }} {% if (external_link or new_window) %} target="_blank" {% endif %}>{{ button_content }}
    {% if external_link or new_window %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: 'readMore'
      } %}
    {% endif %}
    {% if icon %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    {% endif %}
  {% else %}
    <button {{ on_click }} {{ add_attributes(additional_attributes) }}>
      {{ button_content }}
      {% if icon %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    {% endif %}</button>
  {% endif %}
    </a>

{# <button {{ add_attributes(additional_attributes) }}>

  {% block button_content %}
    {{ button_content }}
  {% endblock %}
</button> #}
