{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set colored_button_base_class = colored_button_base_class|default('colored-button') %}

{% set additional_attributes = {
  class: bem(colored_button_base_class, button_modifiers, button_blockname),
  "aria-label": 'button',
} %}

 <a href="{{ button_url }}" {{ add_attributes(additional_attributes) }}>{{ button_content }} {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: 'arrowRight'
      } %}</a>
