{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set icon_button_base_class = icon_button_base_class|default('iconButton') %}

{% set additional_attributes = {
  class: bem(icon_button_base_class, button_modifiers, button_blockname),
  "aria-label": aria_label,
} %}
    <div {{bem(icon_button_base_class, icon_button_modifiers )}}>
      <button {{ on_click }} {{ add_attributes(additional_attributes) }}>

        {% include "@atoms/images/icons/_icon.twig" with {
          icon_name: icon,
          icon_extra_class: 'normal'
        } %}
        {% if active_icon %}
          {% include "@atoms/images/icons/_icon.twig" with {
          icon_name: active_icon,
          icon_extra_class: 'active'
          } %}
        {% endif %}
      </button>
        {% if title_url %}
          {% include "@atoms/links/link/link.twig" with {
            link_content: text,
            link_url: title_url,
            icon: '',
            link_modifiers: ['root-link'],
          } %}
        {% elseif text %}
          <span class="label">{{ text }}</span>
        {% endif %}
    </div>

{# <button {{ add_attributes(additional_attributes) }}>
  
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
</button> #}
