{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('shareButton') %}

{% set additional_attributes = {
  class: bem(button_base_class, button_modifiers, button_blockname),
  "aria-label": 'button',
} %}

  {% if button_url %}
    <a href="{{ button_url }}" {{ add_attributes(additional_attributes) }} target="_blank">
         {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    </a>
  {% endif %}

{# <button {{ add_attributes(additional_attributes) }}>
  
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
</button> #}
