{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set tab_base_class = tab_base_class|default('button-tab') %}

{% set additional_attributes = {
  class: bem(tab_base_class, button_modifiers, button_blockname, ['button']),
  "aria-label": 'button',
} %}

    <a {{ on_click }} {{ add_attributes(additional_attributes) }} {% if tab_id %} data-tab-id={{ tab_id }} {% endif %} {% if url %} href={{ url }} {% endif %}>
      {{ tab_content }} 
    </a>

{# <button {{ add_attributes(additional_attributes) }}>
  
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
</button> #}
