.playlist_item {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: $gray;
  button {
    width: 80px;
    height: 80px;
    svg {
      width: 32px;
      height: 35px;
    }
  }
  &-info {
    padding: 10px;
    p {
      margin: 0;
    }
    &--title {
      font-weight: bold;
      margin: 0;
    }
  }
}
