{% set playlist_item_base_class = playlist_item_base_class|default('playlist_item') %}

<div {{ bem(playlist_item_base_class, modifiers) }}>
    <div class="{{playlist_item_base_class}}-video">
        {% include '@atoms/video/video.twig' %}
    </div>
    <div class="{{playlist_item_base_class}}-info">
        <p class="{{playlist_item_base_class}}-info--title">{{ title }}</p>
        <p class="{{playlist_item_base_class}}-info--account">{{ account }}</p>
        <p class="{{playlist_item_base_class}}-info--views">{{ numViews }} | {{ posted }}</p>
    </div>
</div>
