.event-list {
  a {
    // display: flex;
    // align-items: flex-start;
    display: grid;
    grid-template-columns: auto 1fr;
    &:hover {
      text-decoration: none;
      .headline {
        text-decoration: underline;
      }
    }
    .summary-label {
      font-family: $font-body;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .summary-icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      color: $blue;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &--event,
  &--events {
    .summary-icon {
      width: 25px;
      height: 25px;
    }
    .date {
      margin-top: 0;
      margin-bottom: 6px;
      text-transform: uppercase;
      color: $black;
    }
    .headline {
      text-decoration: none;
      font-weight: bold;
      margin-top: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Storybook specific styling
.sb-summaryIcon {
  margin-left: 24px;
}
