.event-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .date {
    font-weight: bold;
    text-transform: uppercase;
  }
  &--type,
  &--location {
    display: flex;
    .label {
      margin-right: 24px;
      font-weight: bold;
    }
  }
  &--location {
    justify-content: center;
  }
  .add-to-calendar {
    // column-span: 3;
    grid-column: 1 / span 3;
  }
  .calendar_icon {
    display: inline;
    padding: 0 4px 0 2px;
    position: relative;
    top: 2px;
  }
  @include breakpoint(0 $large) {
    display: block;
    &--location {
      justify-content: left;
    }
    .col {
      margin: 15px 0;
    }
  }
  .button--tag {
    border: 1px solid $white;
  }
}
