// .event-sponsors {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   .sponsor {
//     flex: 0 0 180px;
//     width: 180px;
//     margin-top: 24px;
//     .logo {
//       width: 180px;
//       margin-right: 46px;
//     }
//     &--withText {
//       display: flex;
//       flex: 1 1 100%;
//       .sponsor--header {
//         font-weight: bold;
//       }
//       .logo {
//         width: 180px;
//         flex: 0 0 180px;
//       }
//     }
//   }
// }


.event-sponsors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  .sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    &--withText {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
      .copy {
        grid-column: 2 / -1;
      }
    }
  }
  // @include breakpoint ($small $$) {
  
    // .sponsor {
    //   &--withText {
    //     grid-template-columns: 1fr 1fr 1fr;
    //     .copy {
    //       grid-column: span 2;
    //     };
    //   }
    // }
  // }

  @include breakpoint ($small $medium) {
    grid-template-columns: 1fr 1fr;
    .sponsor--with-Text {
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  }


  @include breakpoint (0 $small) {
    display: block;
    .sponsor {
      margin: 24px 0;
      &--withText {
        text-align: center;
        display: block;
        .logo {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}