.event-speakers {
  .news-event-person {
    .copy {
      .info {
        align-items: flex-start;
      }
      .about {
        margin-top: 16px;
        p {
          margin: 0;
        }
        .label {
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }
}
