.event-agenda {
  list-style: none;

  li {
    border-bottom: 1px solid $black;
    padding: 24px;

    p:last-child {
      margin-bottom: 0;
    }

    // &:nth-child(even) {
    //   background-color: $blue-light;
    // }

    &:last-child {
      border-bottom: none;
    }
  }
}