{% set sectionClass = sectionClass|default('block') %}

<section class="{{sectionClass}}">
  <h3>{{label}}</h3>
  {# <div class="content" aria-hidden="true"> #}
    <ul class="content">
        {% for item in list_items %}
          <li>{{item|raw}}</li>
        {% endfor %}
    </ul>
    {{html_copy|raw}}
  {# </div> #}
</section>