    {% set news_teasers_base_class = news_teasers_base_class|default('news-teasers') %}
    <div class="items">
            {% for item in items %}
                <div class="item">
                    {% block news_teaser %}
                        {% include "@molecules/news-events/teaser.twig" with {
                            details: item.details,
                            image: item.image,
                            url: item.url,
                            tags: item.tags
                        } %}
                    {% endblock %}
                </div>
            {% endfor %}
    </div>