{% set news_teasers_base_class = news_teasers_base_class|default('news-teasers') %}
<h3>News Teasers Organism</h3>
<div {{ bem(news_teasers_base_class, modifiers) }}>
    {% if section_title %}
        <h2 class="h2">{{ section_title }}</h2>
    {% endif %}
    {% if features_briefs %}
        {% include "@organisms/news/features-briefs/_features-briefs.twig" %}
    {% endif %}
    {% if press_releases %}
        {% include "@organisms/news/news/_news--teasers.twig" with {
            items: press_releases
        } %}
    {% endif %}
    {# {% block news_teasers %} #}
        {# {% if items %} #}
            {% include "@organisms/news/news/_news--teasers.twig" %}
        {# {% endif %} #}
    {# {% endblock %} #}
    {% if cta_text %}
        <div class="cta">
            {% include "@atoms/buttons/twig/button.twig" with {
                button_content: cta_text,
                button_url: cta_url
            } %}
        </div>
    {% endif %}
</div>