.container--card-grid {
  .view-filters {
    @include breakpoint($large) {
      margin: 0 $xl-margin 40px $xl-margin;
      padding-bottom: 40px;
    }
    @include breakpoint($medium $large) {
      margin: 0 $l-margin 40px $l-margin;
      padding-bottom: 40px;
    }
    @include breakpoint(0 $medium) {
      margin: 0 $s-margin 40px $s-margin;
      padding-bottom: 10px;
    }

    // margin-bottom: 40px;
    form {
      // max-width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      .form-item {
        margin-bottom: 0;
        flex: 1 1 100%;
        margin-right: 18px;
      }
    }
    @include breakpoint(0 $medium) {
      width: 100%;
      form {
        display: block;
        input[type='submit'] {
          display: block;
          margin: 10px auto;
        }
      }
    }

    border-bottom: 1px solid #c6beb5;
    .form-item__dropdown {
      select {
        height: auto;
      }
    }
  }
  // &.departments {
  //   form,
  //   .view-header {
  //     @include breakpoint($max-width) {
  //       width: 75%;
  //     }
  //   }
  // }
  // .view-header {
  //   h3 {
  //     margin-bottom: 0;
  //   }
  // }
}
