.node--event {
  .tabs {
    ul {
      margin: 0 10px;
    }
  }
  .container {
    @include breakpoint(0) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .container--locked {
    padding: 0;
    &.container--tabs {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .container--news {
    // column-gap: $side-padding-xl;
    // margin-right: -$side-padding-xl;
    // padding-top: 0;
    // padding-bottom: 0;
    @include breakpoint(0 $large) {
      grid-template-columns: 1fr;
    }
    .content {
      // padding-top: 0;
      @include site-padding();
      
      padding-left: 0;
      padding-right: 0;
      @include breakpoint(0) {
        padding-left: 0;
        padding-right: 0;
      }
      @media only screen and (min-width: $large) {
        padding-right: 15px;
        padding-left: 0;
      }
        // margin-right: -$xl-margin;
        // @include site-padding();
        
        
      // }

      // @include breakpoint($medium $large) {
      //   margin-right: 0;
      //   padding-right: $l-margin;
      //   padding-left: $l-margin;
      // }
      // @include breakpoint(0 $medium) {
      //   margin-right: 0;
      //   padding-right: $s-margin;
      //   padding-left: $s-margin;
      // }
    }
  }
  .callout-map--parking {
    .content-wrapper {
      padding: 0;
    }
  }
  .full-width-video {
    .container {
      @include breakpoint(0) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
