.webform-page {
  main,
  header {
    max-width: $max-width;
    margin: 0 auto;
  }
  header,
  .webform-confirmation,
  .webform-progress-tracker {
    @include site-padding(24px, 24px);
  }

  .webform-confirmation__message {
    font-size: 24px;
    line-height: 1.25;
    // text-align: center;
  }

  .form-item--checkbox__item {
    input {
      display: inline-block;
      width: 24px;
    }
  }

  .event-type {
    margin-bottom: 1em;
    .form-item--checkboxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      @include breakpoint(0 $large) {
        display: block;
      }
    }
    legend {
      font-weight: 700;
      font-size: 15px;
      &::before {
        content: '* ';
        color: red;
      }
    }
    label {
      font-weight: normal;
    }
  }
}

.event-submission {
  legend,
  label {
    font-weight: bold;
  }
}

.js-form-wrapper[required='required'] {
  legend {
    &::before {
      content: '* ';
      color: red;
    }
  }
}
