.events {
  &--search {
    .container--sidebar-left {
      position: relative;
      .content {
        margin-top: 60px;
        .group-title {
          font-family: $font-heading;
          font-size: 35px;
        }
      }
    }
    .submit_event {
      position: absolute;
      right: $xl-margin;
      z-index: 10;
      @include breakpoint($medium $large) {
        right: $l-margin;
      }
      @include breakpoint(0 $medium) {
        position: relative;
        left: 0;
      }
    }
  }
}
