// Local tasks block
[id*='local-tasks'] > ul,
[class*='local-tasks'] > ul {
  display: flex;
  flex-flow: row wrap;
  left: -15px;
  list-style: none;
  justify-content: center;
  margin-top: 0;
  padding: 35px 0 0 0;
  position: relative;

  > li {
    margin: 0 5px 10px !important;
    //
    > a {
      border: 2px solid #000;
      color: #000;
      display: block;
      margin: 0;
      min-width: 140px;
      padding: 10px 20px;
      text-align: center;
      transition: 0.2 ease-in-out;
      transition-property: background, border-color, color, outline;
      text-decoration: none;
      //
      &:hover,
      &:focus {
        background: #000;
        border-color: #fff;
        color: #FFF;
        text-decoration: none;
      }
      //
      &:focus {
        box-shadow: 0 0 0 3px #000;
        outline: none !important;
      }
    }
  }
}
