.fixed-nav {
  position: fixed;
  top: -1000px;
  width: 100%;
  z-index: 60;
  transition: top 0.75s;
  &.show {
    top: 0;
    &.is_admin {
      top: 79px;
      @include breakpoint (0 $large) {
        top: 39px;
      }
    }
  }

}

body {
  margin-top: 123px;

  @include breakpoint (0 $large-menu) {
    margin-top: 63px;
  }

  &.site--uci-school-of-medicine {
    &.logged-in {
      .menu_primary {
        // margin-top: 40px;

        .content-wrapper .main-menu {
          top: 142px !important;

          @include breakpoint (0 $large) {
            top: 102px !important;
          }
        }
      }
    }
  }
}

// $menu-global-height-large: 43px;
// @include breakpoint($large) {
//   .menu_global {
//     position: fixed;
//     top: -$menu-global-height-large;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//     transition: top 0.3s;
//     &.show {
//       top: 0;
//     }
//   }
//   .menu_primary {
//     position: fixed;
//     top: -400px;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//     transition: top 0.3s;
//     &.show {
//       top: $menu-global-height-large;
//     }
//   }
//   body {
//     margin-top: 121px;
//     &.toolbar-icon-8 {
//       .menu_global {
//         &.show {
//           top: 78px;
//         }
//       }
//       .menu_primary {
//         &.show {
//           top: $menu-global-height-large + 78px;
//         }
//       }
//     }
//   }
// }

// @include breakpoint(1080px) {
//   .menu_primary {
//     position: fixed;
//     top: -100px;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//     transition: top 0.3s;
//     &.show {
//       top: 44px;
//       &.logged-in {
//         top: 78px;
//       }
//     }
//   }
//   body {
//     margin-top: 63px;
//   }
//   #block-views-block-alerts-alerts {
//     position: relative;
//     // top: -36px;
//     top: 0;
//   }
// }

// @include breakpoint(0 1080px) {
//   .menu_primary {
//     position: fixed;
//     top: -100px;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//     transition: top 0.3s;
//     &.show {
//       top: 0;
//       &.logged-in {
//         top: 39px;
//       }
//     }
//   }
//   body {
//     margin-top: 63px;
//   }
// }
