.newsroom {
  &--social-media {
    .social-media {
      .container--full-bleed {
        padding-top: 30px;
        padding-bottom: 30px;
        &.header {
          margin-top: 32px;
          background-color: $gray;
        }
        &.footer {
          background-color: $blue;
        }
        .content {
          @include site-padding;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .config_pages_media_contacts {
            border-left: 1px solid $blue;
            padding-left: 50px;
            grid-column: 3;
            grid-row: 1 / span 2;

            @include breakpoint(0 $medium) {
              grid-column: 1 / span all;
              border: none;
              padding: 0;
              .summary-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
            }
          }
          .config_pages_social_media_intro {
            padding-right: 50px;
            @include breakpoint(0 $medium) {
              grid-column: 1 / span all;
            }
          }
          .config_pages_social_media {
            display: flex;
            justify-content: left;
            align-items: center;
            grid-row: 2;
            .title {
              display: none;
            }
            li {
              width: 36px;
              margin-right: 16px;
            }
            a.link-social {
              color: $blue-dark;
              border-color: $blue-dark;
              margin-right: 24px;
              width: 36px;
              height: 36px;
              .icon {
                padding: 5px;
              }
            }

            // background-color: $blue;
            color: $blue-dark;
            grid-column: 1 / span 3;
          }
        }
      }
      .views-exposed-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .form-item {
          flex: 1 1 auto;
        }
        .form-actions {
          position: relative;
          top: 7px;
          left: 10px;
        }
        @include breakpoint(0 $medium) {
          display: block;
          .form-actions {
            text-align: center;
          }
        }
        // grid-template-columns: 0.75fr 0.25fr;
      }
    }
  }
}
