.newsroom-menu {
  @include site-padding;
  h2.h2 {
    position: absolute;
  }
  .tabs {
    display: flex;
    justify-content: flex-end;
  }
  @include breakpoint(0 $large) {
    h2.h2 {
      position: relative;
    }
    .tabs {
      display: none;
    }
  }
}
