.newsroom {
  // padding-top: 1px;
  @include breakpoint(0 $medium) {
    // padding-top: 1px;
    .sidebar {
      grid-column: 1 / span all;
      grid-row: 5;
    }
  }
  .container--sidebar-right {
    .views-element-container {
      grid-column: 1 / span 2;
      @include breakpoint(0 $large) {
        grid-column: 1 / span all;
      }
    }
  }
  &--home {
    .views-exposed-form {
      max-width: $max-width;
      margin: 0 auto;
      @include site-padding(48px, 48px);
      input[data-drupal-selector='edit-reset'],
      fieldset[data-drupal-selector='edit-field-news-type'] {
        display: none;
      }
      form {
        label {
          font-weight: bold;
        }

        max-width: 800px;
        display: flex;
        align-items: flex-end;
        .form-item {
          margin-bottom: 0;
          flex: 1 1 100%;
          margin-right: 40px;
        }
      }
    }
  }

  .tabs {
    ul {
      margin-right: 0;
    }
  }

  .view-all {
    margin: 16px 0;
  }

  // .content {
  //   padding-top: 0;
  // }

  .container--locked {
    margin-bottom: 0;
  }

  .view-display-id-newsroom_page_2 {
    grid-column: 1 / span 2;
    padding: 0;
  }

  .view-display-id-newsroom_page_3 {
    padding: 0;
  }

  .features_briefs--teaser {
    // margin: 0 100px;
    // @include site-padding;
    .item {
      margin-bottom: 0;
    }
    .card {
      margin-bottom: 0;
    }
    .view-all {
      text-align: center;
    }
    .content {
      padding: 0;
    }
    .views-row {
      margin: 12px 0;
    }
  }
  .teaser--Newsletter {
    a {
      // display: block;
    }
    .teaser-image {
      // display: none;
    }
    .copy .headline + p {
      display: none;
    }
  }

  &--search {
    .teaser--Newsletter {
      a {
        display: grid;
      }
      .teaser-image {
        display: grid;
      }
    }
  }

  .view-display-id-newsroom_page_4 {
    display: block;
    padding: 0;
    .content {
      padding-left: 0;
    }
  }
  .sidebar {
    .social-media-intro {
      display: none;
    }
    // .socialLinks {
    //   margin-top: 20px;
    //   a.link-social {
    //     border-color: $blue;
    //     color: $blue;
    //     margin-right: 20px;
    //   }
    // }
  }
  .socialLinks {
    // display: block;
  }
  // .social-media {
  //   .content-wrapper {
  //     @include site-padding(24px, 24px);
  //   }
  // }
  // &--search {
  //   .views-exposed-form {
  //     input[data-drupal-selector='edit-reset'],
  //     fieldset[data-drupal-selector='edit-field-news-type'] {
  //       display: block;
  //     }
  //   }
  // }

}

.newsroom-config {
  .title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
  }
  p {
    margin-top: 0;
  }
  .buttons {
    a {
      margin-bottom: 0;
    }
  }
}

.more-link {
  text-align: center;
  .button {
    margin-top: 48px;
    a {
      color: $black;
    }
  }
}

.view-news.view-display-id-teasers_cards {
  // @include site-padding;
  .more-link {
    margin: 0 auto;
  }
}
