ul.timeline-list {
  @include wrapper;
  &.alternate {
    li {
      &.timeline-item {
        @include breakpoint(0 $medium) {
          .timeline-item-wrapper {
            display: block;
            float: none;
            width: 100%;
          }
          .timeline-marker {
            display: none;
          }

          border-bottom: 2px solid $blue;
          padding: 20px 0;
          &:last-child {
            border-bottom: 0;
          }
        }
        &.odd {
          .timeline-item-wrapper {
            padding-right: 2rem;
            .image-wrapper {
              justify-content: flex-end;
            }
            .timeline-marker {
              right: -10px;
              top: 30px;
              border-color: $blue;
            }
          }
        }
        &.even {
          .timeline-item-wrapper {
            padding-left: 2rem;
            .timeline-marker {
              left: -10px;
              top: 30px;
              border-color: $blue;
            }
          }
        }
      }
      .image-wrapper {
        display: flex;
      }
    }
    &::after {
      background-color: $blue;
    }
    @include breakpoint(0 $medium) {
      &::after {
        display: none;
      }
    }
  }
  .timeline-marker {
    width: 20px !important;
    height: 20px !important;
  }
}
