$margin: 10px;
.copy {
  img {
    margin-right: $margin;
  }
  .align-right {
    img {
      margin-right: 0;
      margin-left: $margin;
    }
  }
  .align-center {
    img,
    .filter-caption {
      margin: 0 auto;
    }
  }
}

.filter-caption {
  &.align-right {
    float: right;
    margin-left: $margin;
    margin-right: 0;
    img {
      margin-left: 0;
    }
  }
  &.align-center {
    margin: 0 auto;
    float: none;
  }
  &.align-left {
    margin-right: $margin;
  }

  display: table;
  &__caption {
    display: table-caption;
    caption-side: bottom;
    margin: $margin;
    margin-bottom: 0;
  }
}
