{% set page_layout_modifier = 'full' %}

{% embed "@templates/full-width.twig" %}
  {% block page_content %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: '2',
      heading: 'Page Intro',
    } %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
    } %}
    {% include "@organisms/grid/grid.twig" with {
      grid_label: 'Here\'s an awesome grid',
      grid_type: 'card',
      item_type: 'card',
      items: {
        1: {
          card__image__src: "https://loremflickr.com/480/300/people",
          card__image__alt: "People",
          card__image__output_image_tag: true,
          card__heading: "Super Awesome Card",
          card__link__url: card_link_url,
          card__link__text: card__link__text,
          card__subheading: "Person of Interest",
          card__body: "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat."
        },
        2: {
          card__image__src: "https://loremflickr.com/480/300/nature",
          card__image__alt: "Nature",
          card__image__output_image_tag: true,
          card__heading: "Card Number Two",
          card__subheading: "Some pretty sweet nature",
          card__body: "Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo."
        },
        3: {
          card__image__src: "https://loremflickr.com/480/300/animals",
          card__image__alt: "Animals",
          card__image__output_image_tag: true,
          card__heading: "The Last Card Heading",
          card__subheading: "Awesome animals",
          card__body: "Tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.. Nulla quis lorem ut libero malesuada feugiat."
        }
      }
    } %}
    {% include "@molecules/cta/cta.twig" with {
      cta__heading: 'Here\'s a cool thing!',
      cta__button_text: 'Click me!',
    } %}
  {% endblock %}
{% endembed %}
