.news-teasers {
  &--features-briefs {
    .cta {
      text-align: center;
    }
  }
  &--news-items,
  &--press-releases,
  &--event-items,
  &--teaser {
    .item {
      margin-bottom: 60px;
    }
  }
}

.features_briefs {
  display: flex;
  flex-wrap: wrap;
  .featureBrief {
    margin-right: 24px;
    margin-bottom: 36px;
  }
}

.container--news {
  .press-release {
    .tags {
      display: flex;
      align-items: center;
    }
  }
  .sidebar {
    .h4 {
      color: $black;
    }
  }
  .socialLinks {
    justify-content: flex-end;
  }
}

@media print {
  .container--news {
    display: block;
    .sidebar,
    .socialLinks {
      display: none;
    }
  }
  footer,
  nav {
    display: none;
  }
}

.pager__items {
  list-style: none;
  text-align: center;
  li {
    display: inline;
    margin: 0 12px;
  }
}

#block-views-block-news-teasers {
  .title {
    hr.horizontalRule--yellow {
      margin-left: 0;
    }
  }
}

.view-display-id-cards, .view-display-id-newshome {
  .view-header {
    text-align: center;
    .horizontalRule {
      margin: 14px auto 20px auto;
    }
  }
}
