{% set event_list_base_class = event_list_base_class|default('event-list') %}

<div {{ bem(event_list_base_class, modifiers) }}>
    <a href={{details.url}}>
        <div class="summary-icon">
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: 'calendar'
            } %}
        </div>
        <div class="summary-data">
            <div class="summary-event">
                
                {% set date_start = details.date_start|date("M j") %}
                {% set date_end = details.date_end|date("M j") %}
                
                {% if date_start != date_end %}
                    <p class='paragraph--x-small date'>{{ details.date_start|date("M j") }} – {{ details.date_end|date("M j, Y") }}</p>
                {% elseif details.date_start %}
                    <p class='paragraph--x-small date'>{{ details.date_start|date("M j, Y") }}</p>
                {% endif %}
                <p class="headline">{{details.title}}</p>
            {# {% include "@atoms/links/link/link.twig" with {
                link_url: details.url,
                link_content: details.title
            } %} #}
            </div>
        </div>
    </a>
</div>