{% set event_sponors_base_class = event_sponors_base_class|default('event-sponsors') %}

<div {{ bem(event_sponors_base_class, modifiers) }}>
        {% for sponsor in sponsors %}
            
            {% if sponsor.title_sponsor == "1" %}
                <div class="sponsor sponsor--withText">
                    <div class="logo">
                        {% if sponsor.link %}
                            <a href={{sponsor.link}} target="_blank">
                        {% endif %}
                            {% include "@atoms/images/image/_image.twig" with {
                            image_src: sponsor.img_url,
                            image_alt: sponsor.name
                    } %}
                        {% if sponsor.link %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="copy">
                        {% if sponsor.copy_header %}
                            <p class="sponsor--header">{{ sponsor.copy_header }}</p>
                            <p>{{ sponsor.copy_text }}</p>
                        {% endif %}
                    </div>
                    
                </div>
            {% else %}
                <div class="sponsor">
                    <div class="logo">
                        {% if sponsor.link %}
                            <a href={{sponsor.link}} target="_blank">
                        {% endif %}
                        {% include "@atoms/images/image/_image.twig" with {
                        image_src: sponsor.img_url,
                        image_alt: sponsor.name
                    } %}
                     {% if sponsor.link %}
                    </a>
                    {% endif %}
                    </div>
                   
                </div>
            {% endif %}
            
        {% endfor %}
</div>