{% set related_faculty_base_class = related_faculty_base_class|default('event-speakers') %}

<div {{ bem(related_faculty_base_class, modifiers) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 4,
        heading: 'Featured'
    } %}
    <hr>
    <div class="speakers">
        {% for person in featured_speakers %}
        {% set name = person.url ? link(person.name, person.url[0].uri) : person.name %}
            {% include "@molecules/news-events/person.twig" with {
                url: null,
                image_alt: person.name,
                img_url: person.img_url,
                titles: person.titles,
                about_speaker: person.about_speaker,
            } %}
        {% endfor %}
    </div>
</div>