{% set event_agenda_base_class = event_agenda_base_class|default('event-agenda') %}

<ul {{ bem(event_agenda_base_class, modifiers) }}>
    {% for item in agenda %}
        <li>{{ item|raw }}</li>
    {% endfor %}
</ul>