{% set base_class = base_class|default('event-details') %}

{% set date_start = details.date_start|date("l, F j, Y", false) %}
{% set date_end = details.date_end|date("l, F j, Y", false) %}

{% set time_start = details.date_start|date("g:iA", false) %}
{% set time_end = details.date_end|date("g:iA", false) %}


{# Indicates a Full Day Event so dont' show time #}
{# {% if time_start == "12:00AM" or time_end == "11:59PM" %}
    {% set time_start = NULL %}
    {% set time_end = NULL %}
{% endif %} #}
{# {% set share_date_start = details.date_start|date("Ymd") %}
{% set share_time_start = details.date_start|date("His", "GMT") %}
{% set share_start = share_date_start ~ "T" ~ share_time_start ~ "Z" %}

{% set share_date_end = details.date_end|date("Ymd") %}
{% set share_time_end = details.date_end|date("His", "GMT") %}
{% set share_end = share_date_end ~ "T" ~ share_time_end ~ "Z" %}
{% set share_end = share_date_end ~ "T" ~ share_time_end ~ "Z" %}

{% set share = {
    date: share_start ~ "/" ~ share_end,
    text: details.title|url_encode,
    details: details.description_short|url_encode,
    location: details.location|url_encode,
} %} #}

{% set calendar_icon = directory ? '/' ~ directory ~ '/images/icons' : '/' %}
{# {% set share_link = "https://calendar.google.com/calendar/render?action=TEMPLATE&dates=" ~ share.date ~ "&details=" ~ share.details ~ "&location=" ~ share.location ~ "&text=" ~ share.text %} #}
<div class="content">
<div {{ bem(base_class, modifiers) }}>
    <div class="col event-details--date">
        <div class="date">{{content.field_smart_date}}</div>
        {# {% if date_start != date_end %}
                <div class="date">{{ date_start }}<br />{{ date_end }}{% if time_start %}, {{ time_start }} – {{ time_end }} {% endif %}</div>
        {% else %}
            <div class="date">{{ date_start }}{% if time_start %}, {{ time_start }} – {{ time_end }} {% endif %}</div>
        {% endif %} #}
        {# {% endfor %}</p> #}
    </div>
    <div class="col event-details--location">
        <div class="label">Location</div>
        <div class="value">{{ details.location|raw }}</div>
    </div>
    <div class="col event-details--type">
        <div class="label">Event Type</div>
        <div class="value">
                    {# {{kint(details.type)}} #}

            {% for detail in details.type %}
                {% include '@atoms/buttons/twig/button.twig' with {
                    button_content: detail.entity.name.value,
                    button_modifiers: ['tag']
                } %}
     
            {% endfor %}
            {% if details.cme_eligible == '1' %}
                {% include '@atoms/buttons/twig/button.twig' with {
                    button_content: 'CME Eligible',
                    button_modifiers: ['tag']
                } %}
            {% endif %}
            
        </div>
    </div>
    {% if content.field_smart_date.1 is empty %}
    <p class="add-to-calendar"><b>Add to Calendar:</b>
        {% set calendarItems = details.add_to_calendar %}
        {# {% for item in details.add_to_calendar %} #}
            <a target="_blank" href={{calendarItems['ics'].url}}><img class="calendar_icon" src="{{calendar_icon}}/cal-msoffice.png" />Outlook</a> | 
            <a target="_blank" href={{calendarItems['google'].url}}><img class="calendar_icon" src="{{calendar_icon}}/cal-gcal.png" />Google</a> | 
            <a target="_blank" href={{calendarItems['ics'].url}}><img class="calendar_icon" src="{{calendar_icon}}/cal-apple.png" />iCal</a>
        </p>
    {% endif %}
    </div>
</div>
