{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# 
field_accordion_item  Entity reference revisions
 #}

{# {%
  set classes = [
    paragraph.bundle|clean_class,
    'container'
  ]
%} #}

{{ attach_library('ucisom/accordion') }}

<div class="container">
  {% if paragraph.field_jumplink.value == "1" %}
    {% set id = paragraph.field_title.value|clean_id %}
  {% endif %}
  {% set accordion_items = [] %}
  {% if (paragraph.field_title.value) or (paragraph.field_body.value) %}
    {% include "@molecules/banners/banner.twig" with {
      heading_level: 2,
      heading_text: paragraph.field_title.value,
      body_copy: paragraph.field_body.value,
      banner_modifiers: ['white'],
      create_id: create_id,
    } %}
  {% endif %}
  {% for item in content.field_accordion_item['#items'] %}

  {% set accordion_content = {
    '#type': 'processed_text',
    '#text': item.entity.field_long_formatted_text.value,
    '#format': 'full_html'
  } %}
  {% set accordion_items = accordion_items|merge([{
    'title': item.entity.field_title.value,
    'content': accordion_content,
  }]) %}
  {% endfor %}
  {% include "@organisms/accordion/accordion.twig" %}

</div>
{# 'content': item.entity.field_long_formatted_text.value #}