{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
  {% set id = paragraph.field_title.value|clean_id %}
{% endif %}

{# {{kint(paragraph.field_centered.value)}} #}
{% set banner = {'heading_level': 2, 'heading_text': paragraph.field_title.value, 'body_copy': paragraph.field_body.value} %}
{% set topics = [] %}
{% set modifiers = ['topics'] %}
{% if paragraph.field_centered.value == "1" %}
  {% set modifiers = modifiers|merge(['topics-centered']) %}
{% endif %}
{% for topic in paragraph.field_topics %}
  {% set advanced_link = topic.entity.field_advanced_link.entity %}
  {% set new_window = advanced_link.field_new_window.value == "1" %}
  {% set details = {'title': topic.entity.field_title.value, 'description_short': topic.entity.field_body.value} %}
  {% set image_card = topic.entity.field_image.entity.field_media_image ? {'src': topic.entity.field_image.entity.field_media_image.entity.fileuri | image_style('callout_topic'), 'alt': topic.entity.field_image.entity.field_media_image.alt} : {} %}  
  {% if advanced_link.field_link.0 is not empty %}
    {% set link = {'link_url': advanced_link.field_link.0.url, 'link_content': advanced_link.field_link_text.getString(), 'new_window': new_window} %}
  {% elseif advanced_link.field_document %}
    {% set link = {'link_url': file_url(advanced_link.field_document.entity.field_media_document.entity.fileuri), 'link_content': advanced_link.field_link_text.getString(), 'new_window': new_window} %}
  {% else %}
    {% set link = null %}
  {% endif %}

  {# {{kint(link)}} #}
  {# {{kint(topic.entity.field_link.0.url)}} #}
  {% set item = {'details': details, 'image_card': image_card, 'link': link} %}
  {% set topics = topics|merge([item]) %}
{% endfor %}
{# {{kint(topics)}} #}
  {% include "@molecules/callouts/basic/basicCallout.twig" %}
{# {{kint(paragraph.field_title)}} #}
{# <div{{ attributes.addClass(classes) }}>
  {{ content }}
</div> #}
