{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
    paragraph.bundle|clean_class ~ '--' ~ paragraph.field_callout_basic_variation.value,
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
    {% set id = paragraph.field_title.value|clean_id %}
  {% endif %}
{# <div{{ attributes.addClass(classes) }}> #}
{% set links = [] %}

{% for button in paragraph.field_button %}  
  {% set advanced_link = button.entity.field_advanced_link.entity %}
  
  {# {{kint(advanced_link.field_new_window.getValue())}} #}
  
  {% set link_title = advanced_link.field_link_text.getString() %}
  {% set new_window = advanced_link.field_new_window.value == "1" %}
  {% if advanced_link.field_link.0 is not empty %}
    {% set link_url = advanced_link.field_link.0.url %}
  {% elseif advanced_link.field_document %}
    {% set link_url = file_url(advanced_link.field_document.entity.field_media_document.entity.fileuri) %}
  {% endif %}
  
  {% set link_modifier = button.entity.field_button_color.value %}
  
  {% set links = links|merge([{'button_content': link_title, 'button_url': link_url, 'button_modifiers': [link_modifier], 'new_window': new_window}])%}
{% endfor %}

{% set modifiers = [paragraph.field_callout_basic_variation.value] %}
{% set item_links = [] %}
{% set banner = {'heading_level': 2, 'heading_text': paragraph.field_title.value, 'body_copy': paragraph.field_body.value} %}
{% set images = [] %}
{% set items = paragraph.field_callout_items %}
{% for image in callout_images %}
  {% set item_links = items[loop.index0].entity.field_links %}
  {% set additional_links = [] %}
  {% for link in item_links %}
    {% set additional_link = [{'url': link.url, 'label': link.title}] %}
    {% set additional_links = additional_links|merge(additional_link) %}
  {% endfor %}
  {% set url =  items[loop.index0].entity.field_link.0.url %}
  {% set itemArray = [{'image_src': image.url, 'image_alt': image.alt, 'image_type': image.type, 'label': image.label, 'link_url': url, 'additional_links': additional_links, 'rich_text': image.rich_text}] %}
  {% set images = images|merge(itemArray) %}
{% endfor %}
{{button.entity.field_advanced_link}}

{% include "@molecules/callouts/basic/basicCallout.twig" %}