{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class
  ]
%}

{% set faculty_view_filter = drupal_view('faculty', 'faculty_contextual_filter', content.field_department_filter.0['#plain_text']) %}
{% set faculty_department = paragraph.field_department_filter.entity.label %}
{% set faculty_title = content.field_title.0 %}
{% set faculty_wysiwyg = content.field_rich_text.0 %}
{# {% set faculty_jump_link = content.field_jumplink.0 %} #}
{% set faculty_dept_or_title = faculty_title is not empty ? faculty_title : '' %}
{# {% set faculty_dept_or_title = faculty_title is not empty ? faculty_title : 'Faculty Directory'|t ~ ': ' ~ faculty_department %} #}
{# {% set faculty_jump_link_id = faculty_dept_or_title|render|lower|replace({' ':'-'}) %} #}

<div{{ attributes.addClass(classes) }}>
  {% if faculty_title is not empty %}
    <h2 class="section-header"> {# id="{{ faculty_jump_link == TRUE ? faculty_jump_link_id }}" #}
      {{ faculty_dept_or_title }}
    </h2>

    <hr class="horizontalRule horizontalRule--yellow">
  {% endif %}

  {% if faculty_wysiwyg is not empty %}
    <div class="container">
      {{ faculty_wysiwyg }}
    </div>
  {% endif %}

  {% if faculty_view_filter is not empty %}
    {{ faculty_view_filter }}
  {% endif %}
</div>