{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
    'container--full-bleed'
  ]
%}
{# <div{{ attributes.addClass(classes) }}> #}
  {# Preprocess generates values for images_5050 #}
  {% set callouts = [] %}
  {% for item in paragraph.field_callout_5050_item %}
    {% set button = item.entity.field_button_link.0 %}
    {% set image = images_5050[loop.index0] %}
    {% set callouts = callouts|merge([{
      'img_src': images_5050[loop.index0].url,
      'img_alt': images_5050[loop.index0].alt,
      'heading_level': 3,
      'heading_copy': item.entity.field_title.value,
      'copy': item.entity.field_body.value,
      'button_url': button.url,
      'button_copy': button.title,
      'button_external_link': button.url.external,
      }])
    %}
  {% endfor %}
  <div class="container--full-bleed callout-fiftyFifty--container">
    {% include "@molecules/callouts/fiftyFifty/callout-fiftyFifty.twig" %}
  </div>
{# </div> #}
