{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# 
field_body              Text(plain, long)
field_button            Entity Reference revisions
field_image             Entity Reference
field_text_position     List(text)
field_title             Text(plain)
 #}

{%
  set classes = [
    paragraph.bundle|clean_class,
    'container--full-bleed'
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
    {% set id = paragraph.field_title.value|clean_id %}
{% endif %}

{% set background_color = paragraph.field_callout_basic_variation.value is empty ? NULL : paragraph.field_callout_basic_variation.value %}

{% set container_class = 'container--full-bleed' %}
<div class={{container_class}}>
{# Preprocess generates values for image #}
{% set button = paragraph.field_button.entity %}
{% set button_link = button.field_button_link.0 %}
{% set img_src = image.url %}
{% set img_alt = image.alt %}
{% set heading_level = 2 %}
{% set heading_copy = paragraph.field_title.value %}
{% set body_copy = paragraph.field_body.value %}

{% if ( button_link.title is not empty ) %}
  {% set ctas = [{'link_text': button_link.title, 'link_url': button_link.url, 'link_external': button_link.url.external, 'button_modifiers': [button.field_button_color.value]}] %}
{% endif %}
{% set common_modifiers = ['photo', background_color] %}
{% if paragraph.field_text_position.value == 'right' %}
  {% set common_modifiers = common_modifiers|merge(['reverse']) %}
{% endif %}
{% include "@molecules/callouts/callout-common.twig" %}

  {# {{ content }} #}
</div>
