{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
    'container'
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
    {% set id = paragraph.field_title.value|clean_id %}
  {% endif %}

{# <div{{ attributes.addClass(classes) }}> #}
  {% set ctas = [] %}
  {% for button in paragraph.field_button %}
    {# {{kint(button.entity.field_button_link.0.isExternal())}} #}
    {% set ctas = ctas|merge([{'link_url': button.entity.field_button_link.0.url, 'link_text': button.entity.field_button_link.0.title, 'button_modifiers': [button.entity.field_button_color.value], 'link_external': button.entity.field_button_link.0.isExternal()}]) %}
  {% endfor %}
  {% set common_modifiers = ['featured'] %}
  {% if paragraph.field_text_position.value == 'right' %}
    {% set common_modifiers = common_modifiers|merge(['reverse']) %}
  {% endif %}

  {% set background_color = paragraph.field_background_color.value is empty ? NULL : paragraph.field_background_color.value %}
  {% set common_modifiers = common_modifiers|merge([background_color]) %}
  {# {% set container_class = 'container' %} #}
  {% set container_class = 'container--full-bleed' %}
  <div class={{container_class}}>
    {% include "@molecules/callouts/callout-common.twig" with {
      img_src: image.url,
      img_alt: image.alt,
      heading_level: 2,
      heading_copy: paragraph.field_title.value,
      body_copy: paragraph.field_body.value,
      rich_body_copy: paragraph.field_rich_text.value,
    } %}
  </div>
  
  {# Reverse Modifier #}

{# </div> #}
