{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ucisom/menu') }}
{{ attach_library('ucisom/htmlVideoPlayer') }}
{# {{ attach_library('ucisom/main-menu') }} #}
{{ attach_library('ucisom/collapsing_nav') }}



{% set video_file = paragraph.field_image.entity.field_media_video_file | file_url %}
{% set poster = paragraph.field_image.entity.field_media_document | file_url %}
{# {{kint(paragraph.field_image.entity.field_media_document | file_url)}} #}
{% if video_file %}
  {% set video = {
    mp4: video_file,
    poster: poster,
  }
  %}
{% endif %}

{# sub_menu is from pre-process #}
{% set links = sub_menu['#items'] %}
{%
  set classes = [
    paragraph.bundle|clean_class,
  ]
%}


{# Logic For Determining whether to use default or blue layout #}
{# node is a variable set in preprocess #}
{% if node_is_front %}
  {% set hero_type = 'blue' %}
  {% set modifiers = ['blue', 'microsite'] %}
  {% if video_file %}
    {% set modifiers = modifiers|merge(['video']) %}
  {% endif %}
{% elseif paragraph.field_blue_box_variant.value == '1' %}
  {% set hero_type = 'blue' %}
    {% set modifiers = ['blue', 'microsite'] %}
{# {% elseif node.type[0].target_id == 'page' %} #}
{% else %}
  {% set hero_type = 'default' %}
{% endif %}

{# Logic for Determing what to show in the menu based on landing pages #}
{# landing_page_title, and landing_page_url set in preprocess#}

{% set main_menu = drupal_menu('main', 1, 10) %}
  {% set title = '' %}
  {% for item in main_menu['#items'] %}
    {% if item.in_active_trail %}
      {% set title = item.title %}
    {% endif %}

    {% if item.url.toString() == landing_page_url.toString() %}
      {% set currentLlink = item %}
      {% set links = links|merge([{'title': item.title, 'url': item.url}]) %}
    {% endif %}

    

  {% endfor %}

  {% if links %}
    {% set menu = {'title': landing_page_title, 'links': links, 'title_url': landing_page_menu} %}
  {% endif %}

{# Breadcrumbs #}
  {% set breadcrumb_data = drupal_breadcrumb() %}
  {% set links = [] %}
  {% for link in breadcrumb_data['#links'] %}
    {% set links = links|merge([{'url': link.url, 'text': link.text}]) %}
  {% endfor %}
  {% if links|length > 1 %}
    {% set breadcrumbs = {'links': links} %}
  {% endif %}

{% if (title_override and paragraph.field_title.value is empty) %}
    {% set title = title_override %}
{% else %}
  {% set title = paragraph.field_title.value %}
{% endif %}

  {% set img = {'src': image.url, 'alt': image.alt} %}
  {% if hero_type == 'default' %}
    {% set copy = {'title': title, 'text': paragraph.field_body.value} %}
  {% elseif hero_type == 'blue' %}
    {% set blue_box = {'title': title, 'text': paragraph.field_body.value} %}
  {% endif %}

{% set v_align = paragraph.field_bkgd_vertical_align.value %}
{% set h_align = paragraph.field_bkgd_horizontal_align.value %}

{% if node_is_front %}
  {% set arrow = true %}
{% endif %}

  {% include "@organisms/heroes/hero.twig" %}

