{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}



{%
  set classes = [ 
    paragraph.bundle|clean_class,
    'container'
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
  {% set id = paragraph.field_title.value|clean_id %}
{% endif %}


{% set video_url = paragraph.field_video.entity.field_media_oembed_video.getvalue().0.value %}
{% if '/shorts/' in video_url %}
  {% set video_id = video_url|split('/shorts/')[1] %}
{% elseif 'vimeo.com' in video_url %}
  {% set vimeo_video_id = video_url|split('vimeo.com/')[0] %}
{% elseif '.be' in video_url %}
  {% set video_id = video_url|split('.be/')[1] %}
{% else %}
  {% set video_id = video_url|split('?v=')[1] %}
{% endif %}
{# {{ attach_library('ucisom/youtubeVideoPlayer') }} #}

{% set video_modifiers = ['youtube'] %}

<div class="container">
  {% include "@organisms/video/video_player_full.twig" with {
    'poster_image': file_url(paragraph.field_video.entity.field_splash_image.entity.field_media_image.entity.fileuri | image_style('video_splash_image')),
    'poster_image_alt': paragraph.field_image.entity.field_media_image.alt,
    'poster_image_caption': paragraph.field_caption.0.value,
    'youtube_video_id': video_id,
    'video_modifiers': video_modifiers,
    'title': paragraph.field_title.value,
    'copy': paragraph.field_rich_text.value,
    'video': video,
  } %}
</div>
