{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# {%
  set classes = [ 
    paragraph.bundle|clean_class,
    'container'
  ]
%} #}

{% if paragraph.field_jumplink.value == "1" %}
  {% set id = paragraph.field_title.value|clean_id %}
{% endif %}


{# {{kint(paragraph.field_video.entity.field_media_oembed_video)}} #}

{% set video_url = paragraph.field_video.entity.field_media_oembed_video.getvalue().0.value %}
{{ attach_library('ucisom/youtubeVideoPlayer') }}

{% set video_modifiers = ['youtube'] %}
{# {% if paragraph.field_gradient_background.0.value != "1" %}
  {% set video_modifiers = video_modifiers|merge(['no-gradient']) %}
{% endif %} #}

{# {{kint(file_url(paragraph.field_video.entity.field_splash_image.entity.field_media_image.entity.fileuri))}} #}

{# {{dd(paragraph.field_rich_text is empty)}} #}
{% if paragraph.field_rich_text is not empty %}
  {% set copy = paragraph.field_rich_text.value|check_markup('full_html') %}
{% endif %}

{# <div{{ attributes.addClass(classes) }}> #}
<div class="container">
  {% include "@organisms/video/embed_code.twig" with {
    'video_modifiers': video_modifiers,
    'title': paragraph.field_title.value,
    'copy': copy,
    'embed_code': paragraph.field_embed_code.value
  } %}
</div>
