{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
  ]
%}

{{ attach_library('ucisom/personas') }}

{% if paragraph.field_jumplink.value == "1" %}
  {% set id = paragraph.field_title.value|clean_id %}
{% endif %}



<div{{ attributes.addClass(classes) }}>
  {% set personas = [] %}
  {# {{kint(paragraph.field_persona)}} #}
  {% for persona in paragraph.field_persona %}
  {# {{kint(persona.entity)}}
  {{kint(persona.entity.field_content)}} #}
  {% set content = [] %}
  {% for item in persona.entity.field_content %}
    {# {{kint(item.entity.field_long_formatted_text.value)}} #}
    {% set img_src = "" %}
    {% if item.entity.field_image.entity.field_media_image.entity.fileuri is not empty %}
      {% set img_src = file_url(item.entity.field_image.entity.field_media_image.entity.fileuri) %}
    {% endif %}
    {% set content = content|merge([{
      title: item.entity.field_title.value,
      img_src: img_src,
      img_alt: item.entity.field_image.entity.field_media_image.alt,
      copy: item.entity.field_long_formatted_text.value
    }]) %}
  {% endfor %}
    {% set personas = personas|merge([{
      title: persona.entity.field_title.value,
      image_src: file_url(persona.entity.field_image.entity.field_media_image.entity.fileuri|image_style('persona_background')),
      image_alt: persona.entity.field_image.entity.field_media_image.alt,
      color: persona.entity.field_color.value,
      persona_menu_item_modifiers: ['menu-item'],
      persona_tab_modifiers: ['tab'],
      persona_panel_modifiers: ['panel'],
      content: content,
    }]) %}
    {# {{kint(persona.entity)}} #}
  {% endfor %}
  {# {{kint(personas)}} #}
  {# {{ content }} #}
  {% include "@organisms/persona/personas.twig" %}
</div>
