{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class
  ]
%}

{% set block_ids = [] %}
{% for item in paragraph.field_blocks %}
  {% set block_ids = block_ids|merge([item.entity.id|split('__')[1]]) %}
{% endfor %}
<div{{ attributes.addClass(classes) }}>
{% set filters = content.field_department['#items'].getValue() %}
{% set departments = [] %}
{% for filter in filters %}
  {% set departments = departments|merge([filter.target_id]) %}
{% endfor %}

  {% if block_ids|length > 1 %}
  <div class="container--fifty-fifty">
  {% else %}
  <div class="container--locked">
  {% endif %}
    <div>
      {% if departments is not empty %}
        {{drupal_view(block_ids[0]|split('_')[0], block_ids[0]|split('_')[1], departments|join(', '))}}
      {% else %}
        {{drupal_view(block_ids[0]|split('_')[0], block_ids[0]|split('_')[1])}}
      {% endif %}
      {# {{drupal_view('news', 'teasers', departments|join(', '))}} #}
      {# {{drupal_view('news', 'embed_1', 174, 169)}} #}
    </div>
    <div>
      {# {{drupal_entity('block', block_ids[1])}} #}
      {% if departments is not empty %}
        {{drupal_view(block_ids[1]|split('_')[0], block_ids[1]|split('_')[1], departments|join(', '))}}
      {% else %}
        {{drupal_view(block_ids[1]|split('_')[0], block_ids[1]|split('_')[1])}}
      {% endif %}


    </div>
  </div>
</div>
