{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    paragraph.bundle|clean_class,
  ]
%}

{% if paragraph.field_jumplink.value == "1" %}
  {% set id = paragraph.field_title.value|clean_id %}
{% endif %}
{# {{ kint(paragraph.field_button.entity.field_button_link.0.url)}} #}

<div class="container">
  {% set link_colors = ['blue', 'blue', 'green', 'green', 'yellow', 'yellow'] %}
  {% set menu_items = [] %}
  {% for link in paragraph.field_links %}
    {% set menu_items = menu_items|merge([{'button_content': link.title, 'button_url': link.url, 'button_modifiers': link_colors[loop.index0]}]) %}
  {% endfor %}
  {# {% set callout_button = paragraph.field_button.entity.field_button_link.0 %} #}
  {% set buttons = [] %}
  {% for button in paragraph.field_button %}
    {% set link_url = button.entity.field_button_link.0.url %}
    {% set link_text = button.entity.field_button_link.title %}
    {% set button_modifiers = button.entity.field_button_link.entity.field_button_color.value %}
    {% set link_external = button.entity.field_button_link.0.isExternal() %}
    {% set buttons = buttons|merge([{'link_url': link_url, 'link_text': link_text, 'button_modifiers': button_modifiers, 'link_external': link_external}]) %}
  {% endfor %}

  {% include "@organisms/callouts/miniMenu/miniMenu.twig" with {
    img_src: image.url,
    img_alt: image.alt,
    heading_level: 2,
    heading_copy: paragraph.field_title.value,
    body_copy: paragraph.field_body.value,
    ctas: buttons,
    modifiers: ['mini-menu'],
    common_modifiers: ['photo', 'reverse'],
    bar_title: paragraph.field_subtitle_link_description.value,
  } %}
</div>
