.personas {
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  &.hide-menu {
    .persona-menu-items {
      // display: none;
      opacity: 0;
      z-index: 0;
    }
    .persona-panels {
      // display: flex;
      opacity: 1;
      z-index: 30;
    }
  }
  .persona-menu-items {
    display: flex;
    // position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s;
    .persona--menu-item {
      flex: 1 1 auto;
    }
  }

  .persona-panels {
    position: absolute;
    top: 0;
    display: flex;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s;
    .persona--panel {
      transition: max-width 0.3s ease-in-out;
      max-width: 0;
    }
    .persona-wrapper {
      display: flex;
      .persona {
        &--panel {
          padding: 70px 0;
        }
      }
      &.active {
        .persona {
          &--panel {
            max-width: 2000px;
            padding: 70px 40px;
          }
          &--tab {
            display: none;
            max-width: 0;
          }
        }
      }
    }
  }
  @include breakpoint(0 $large) {
    .personas.hide-menu {
      .persona-menu-items {
        display: none;
      }
    }
    .persona-menu-items {
      display: block;
      transition: opacity 0s;
    }
    .persona--menu-item {
      background-image: none !important;
      height: 100px;
      width: 100%;
      max-width: none;
      .transparent-button {
        position: static;
        width: 100%;
      }
    }
    .persona--tab {
      display: none;
    }
    .persona-panels {
      position: relative;
      display: block;
      // top: -100px;
      .persona-wrapper {
        display: none;
      }
      .persona-wrapper.active {
        // display: flex;
        display: block;
        top: 0;
        width: 100vw;
        .persona--panel {
          padding: 20px;
          height: auto;
          z-index: 10;
        }
      }

      transition: opacity 0s;
      .persona--panel {
        transition: max-width 0s;
        // max-width: 2000px;
        .items {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
