footer {
  padding-top: 1px; //Temporary until we get the form in

  @include breakpoint($large) {
    .wrapper {
      @include site-padding;
    }
  }

  .col-2 {
    margin-top: 32px;
  }
  @include breakpoint($medium $large) {
    .footer-info {
      grid-column: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .info {
        &--logo {
          grid-column: 1;
        }
        &--address {
          grid-column: 1;
        }
      }
      .socialLinks {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-end;
      }
    }
    nav {
      grid-column: 1 / span 2;
    }
  }

  @include breakpoint(0 $medium) {
    .col-2 {
      display: block;
    }
    .footer-info {
      grid-column: 1 / span 2;
    }
    .footer-links {
      column-count: 1;
    }
    .footer-bar {
      .content-wrapper {
        display: block;
      }
      .link-list {
        text-align: left;
      }
    }
  }
}
