{% set footer_base_class = footer_base_class|default('footer') %}
<footer {{ bem(footer_base_class, modifiers) }}>
    <div class="wrapper">
    {% block footer_registration %}
      {% include "@molecules/footer/registration-form.twig" %}
    {% endblock %}
        <div class="col-2">
            {% block footer_info %}
                {% include "@molecules/footer/footer-info.twig" with {
                    socialLinks: footer_info.socialLinks,
                } %}
            {% endblock %}
            {# {% block footer_social_links %}
                {% include "@molecules/socialLinks/socialLinks.twig" with {
                    socialLinks: footer_info.socialLinks,
                } %}
            {% endblock %} #}
            {% block footer_links %}
                {% include "@molecules/footer/footer-links.twig" with {
                    links: footer_links,
                } %}
            {% endblock %}
        </div>
    </div>
    <section class='footer-bar'>
        {% block footer_bar %}
            {% include "@molecules/footer/footer-bar.twig" with {
            copyright: footer_bar.copyright,
            links: footer_bar.links,
        } %}
        {% include "@atoms/links/link/link-list.twig" with {
            links: footer_bar.links, 
        } %}
        {% endblock %}
    </section>
</footer>