{% extends '@organisms/footer/_footer.twig' %}

{% block footer_registration %}
  {# {% include "@molecules/footer/registration-form.twig" %} #}
{% endblock %}
{% block footer_info %}
  {# {% include "@molecules/footer/footer-info.twig" with {
    logo_img: footer_info.logo_img,
    logo_alt: footer_info.logo_alt,
    department_or_center: footer_info.department_or_center,
    copy: footer_info.copy
  } %} #}
{% endblock %}
{% block footer_links %}
  {% include "@molecules/footer/footer-links.twig" with {
    links: footer_links,
  } %}
{% endblock %}
{% block footer_bar %}
  {% include "@molecules/footer/footer-bar.twig" with {
    copyright: footer_bar.copyright,
    links: footer_bar.links,
  } %}
{% endblock %}