{#
/**
 * @file
 * Default theme implementation to display a config_page.
 *
 * @see template_preprocess_config_pages()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'config_pages',
  'config_pages--type--' ~ config_pages.bundle|clean_class,
  view_mode ? 'config_pages--view-mode--' ~ view_mode|clean_class,
  view_mode ? 'config_pages--' ~ config_pages.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
{% set copy = [] %}

{% for item in content.field_icon_text['#items'] %}
  {% set icon = item.entity.field_template_icon.value %}
  {% set text = item.entity.field_title.value %}
  {% set copy = copy|merge([{'icon': icon, 'text': text}]) %}
{% endfor %}

{% set socialLinks = [] %}
{% for item in social_media %}
  {% set link_url = item.link_url %}
  {# {% set link_alt_text = item.entity.field_link.0.title %} #}
  {% set social_icon = item.social_icon %}
  {% set socialLinks = socialLinks|merge([{'link_url': link_url, 'social_icon': social_icon}]) %}
{% endfor %}

{% set footer_info = [] %}
  {% set footer_info = footer_info|merge({'logo_img': site_logo}) %}
  {% set footer_info = footer_info|merge({'department_or_center': content.field_text[0]['#context'].value}) %}
  {% set footer_info = footer_info|merge({'copy': copy}) %}
{% set footer_info = footer_info|merge({'socialLinks': socialLinks}) %}

{% set copyright = config_pages.field_copyright.value %}


<div class="content-wrapper">
  <div class="col-2">
  {% include "@molecules/footer/footer-info.twig" %}
  {# {{ drupal_entity('block', 'footerlinks') }} #}
  {{ drupal_menu('footer-links') }}
  </div>
</div>
<section class="footer-bar">
  <div class="content-wrapper">
    {% include "@molecules/footer/footer-bar.twig" %}
    {{ drupal_menu('footer-bar-links') }}
  </div>
</div>

