{#
/**
 * @file
 * Default theme implementation to display a config_page.
 *
 * @see template_preprocess_config_pages()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'config_pages',
  'config_pages--type--' ~ config_pages.bundle|clean_class,
  view_mode ? 'config_pages--view-mode--' ~ view_mode|clean_class,
  view_mode ? 'config_pages--' ~ config_pages.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'social-links'
]
%}
{# <div> #}
<div class="config_pages_social_media">
  {% set socialLinks = [] %}  
  {% for button in content.field_site_wide_social_media['#items'] %}
    {# {{kint(button.entity.field_link.0.title)}} #}
    {% set link_attributes = [] %}
    {% if button.entity.field_link.0.url.external %}
      {% set link_attributes = {
        'target': '_blank'
      } %}
    {% endif %}
    {# {{kint(link_attributes)}} #}
    {% set socialLinks = socialLinks|merge([{
      link_url: button.entity.field_link.0.url,
      link_alt_text: button.entity.field_link.0.title,
      social_icon: button.entity.field_template_icon.value,
      link_attributes: link_attributes,
    }]) %}
  {% endfor %}
  {% set label = content.field_title.0['#context'].value %}
  {# <p class="title">{{content.field_title.0['#context'].value}}</p> #}
  {% set color = ['blue', 'alt'] %}
  {% include "@molecules/socialLinks/socialLinks.twig" with {
    color: color
  } %}

</div>
