.breadcrumbs {
  display: block;
  padding: 0;
  max-width: $max-width;
  margin: 24px auto;
  margin-top: 24px;
  @include site-padding(24px, 0);
  li {
    display: inline-block;
    a {
      color: $blue;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
    }
    }
    &::before {
      content: '>';
      color: $blue;
      margin: 0 16px;
    }
    &:first-child {
      &::before {
        content: '';
        margin: 0;
      }
    }
    .icon {
      margin-right: 14px;
      position: relative;
      top: 1px;
    }
  }
}

// Storybook styling
.sb-breadcrumbs {
  background-color: $blue-dark;
}
