{% set breadcrumb_base_class = breadcrumb_base_class|default('breadcrumbs') %}
    <ul {{ bem(breadcrumb_base_class, breadcrumb_modifiers) }}>
        {% for link in links %}
            {% if link.text|lower == 'home' %}
                {% set icon = 'home' %}
            {% else %}
                {% set icon = '' %}
            {% endif %}
            <li>{% include "@atoms/links/link/link.twig" with {
                link_url: link.url,
                link_content: link.text,
                link_attributes: link.attributes,
                link_base_class: link.base_class,
                link_modifiers: link.link_modifiers
            } %}</li>
        {% endfor %}
    </ul>