.tabs {
  border-bottom: 1px solid $blue;
  ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0 $side-padding-xl;
    padding: 0;
    flex-wrap: nowrap;
    li {
      margin-right: 10px;
    }
    @include breakpoint (0 $large) {
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin: 10px;
      }
    }
  }
}

.js-tabs-container {
  display: none;
  // @include site-padding;
  &.active {
    display: block;
  }
}

.tabs-wrapper {
  .form-item {
    display: none;
  }
  @include breakpoint(0 $large) {
    .form-item {
      display: block;
    }
    // .tabs {
    //   display: none;
    // }
  }
}
