{% set tabs_base_class = tabs_base_class|default('tabs') %}

{{ attach_library('ucisom/tabs') }}

{# {{kint(tabs)}} #}
{% set select = [] %}
{% for option in tabs %}
    {% if 'active' in option.button_modifiers %}
        {% set selected = "selected" %}
    {% else %}
        {% set selected = null %}
    {% endif %}
    {% set select = select|merge([{
        title: option.title,
        data: option.url,
        selected: selected,
        }]) 
    %}
{% endfor %}


<div class="tabs-wrapper">
    {# {% include "@atoms/forms/select/select.twig" %} #}
    <div {{ bem(tabs_base_class, tabs_modifiers, '', tabs_additional_classes) }}> 
        <ul>
            {% for tab in tabs %}
                <li>{% include "@atoms/buttons/twig/siteTab.twig" with {
                    tab_content: tab.title,
                    tab_id: tab.id,
                    url: tab.url,
                    button_modifiers: tab.button_modifiers
                } %}</li>
            {% endfor %}
        </ul>
    </div>
</div>