{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{# {{dd(node)}}
{{dd(content)}} #}
  
  {% set first_name = node.field_first_name.value %}
  {% set middle_name = node.field_middle_name.value %}
  {% set last_name = node.field_last_name.value %}
  {% set degree = node.field_degree.value %}
  {% if middle_name is not empty %}
    {% set name = "#{first_name} #{middle_name} #{last_name}, #{degree}" %}
  {% else %}
    {% set name = "#{first_name} #{last_name}, #{degree}" %}
  {% endif %}
  {% set media_uri = node.field_profile_image|file_uri %}
  {% if media_uri is not null %}
    {% set profile_image = media_uri|image_style('staff_faculty_photo') %}
  {% endif %}
  {% set titles = [] %}
  {% for item in node.field_working_title %}
    {% set titles = titles|merge([item.value]) %}
  {% endfor %}

  {% set phone = node.field_phone_number.value %}
  {% set email = node.field_email.value %}

  {% set contact = [] %}
  {% if phone %}
    {% set contact = contact|merge(["Phone: #{phone}"]) %}
  {% endif %}
  {% if email %}
    {% set contact = contact|merge(["Email: <a href='mailto:#{email}'>#{email}</a>"]) %}
  {% endif %}

  {% set departments = [] %}
  {% for key, department in content.field_home_department if key|first != '#' %}
    {% set departments = departments|merge([department['#title']]) %}
  {% endfor %}

  {% set home_departments = content.field_home_department.0['#title']|default(NULL) %}
  
  {% if node.field_education.value %}
    {% set education = node.field_education.value|striptags|default(NULL) %}
  {% endif %}
  
<div class="container--locked">
  <article class="employee-directory">
    <div class="content">
      <div class="sidebar">
        <img className="headshot" src="{{profile_image}}" alt='{{"Headshot of #{first_name} #{last_name}"}}' />
        {# Education #}
        {% if education %}
          {% include "@molecules/text/directory/directory.twig" with {
            label: 'Education',
            list_items: [education]
          } %}
        {% endif %}
        {# Home Department #}
        {% if departments %}
          {% include "@molecules/text/directory/directory.twig" with {
            label: 'Department(s)',
            list_items: departments
          } %}
        {% endif %}
        {# Contact Info #}
        {% if phone or email %}
          {% include "@molecules/text/directory/directory.twig" with {
            label: 'Contact',
            list_items: contact  
          } %}
        {% endif %}
        {% if content.field_links %}
          {% include "@molecules/text/directory/directory.twig" with {
            sectionClass: 'block links',
            label: '',
            html_copy: content.field_links
          } %}
          {# <section class="block">
          <div class="links">
            {{content.field_links}}
          </div> #}
        {% endif %}

      </div>
    </div>
    <div class="main">
      <h1 class="h1">{{name}}</h1>
      {% if titles %}
        <ul class="titles">
          {% for title in titles %}
            <li>{{title}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="content_blocks">
        {% if node.field_education.value %}
          <div class="content_block">
            <h1>Bio</h1>
            <div class="content">
              {{content.field_bio}}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>

