{#
/**
 * @file
 * Default theme implementation for a filter caption.
 *
 * Returns HTML for a captioned image, audio, video or other tag.
 *
 * Available variables
 * - string node: The complete HTML tag whose contents are being captioned.
 * - string tag: The name of the HTML tag whose contents are being captioned.
 * - string caption: The caption text.
 * - string classes: The classes of the captioned HTML tag.
 */
#}
{# {{dd()}} #}

{% set classlist = [classes, 'filter-caption'] %}

<figure role="group" {{create_attribute({'class': classlist}) }}>
{{ node }}
<figcaption class="filter-caption__caption">{{ caption }}</figcaption>
</figure>
