{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}

{% if "youtu" in video %}
  {% if "?v=" in video %}
    {% set youtube_video_id = video|split('?v=')[1] %}
  {% else %}
    {% set youtube_video_id = video|split('.be/')[1] %}
  {% endif %}
{% endif %}


{% include "@organisms/video/video_player_full.twig" with {
    'poster_image': splash_image.url,
    'video_modifiers': ['youtube', 'no-gradient'],
} %}