<div class="search-result">
    <a href="{{ url }}" class="search-result__link">{{ label }}</a>
    {% if node.field_summary is not empty %}
        <div class="search-result__summary">{{ content.field_summary }}</div>
    {% endif %}
</div>