{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{# Is NOT full day - start["#attribures"]["#] == "datetime" #}
{# IS full day - start["#attribures"][0] == "date" #}
{% set smart_date = {
    "field" : content.field_smart_date.0,
    "start": content.field_smart_date.0['#value'],
    "start_attributes": content.field_smart_date.0,
    "end": content.field_smart_date.0['#end_value'],
    "allDay": "T" in content.field_smart_date.0.start['#attributes']['datetime'] ? false : true
} %}

{# Add to Calendar #}
{% set addToCalendar = calendar_links(
  node.label,
  date(smart_date.start),
  date(smart_date.end),
  smart_date.allDay,
  node.field_summary.value,
  node.field_location.0.value|nl2br,
) %}

{% set details = {
  'title': node.label,
  'location': node.field_location.0.value|nl2br,
  'type': content.field_event_type['#items'],
  'cost': node.field_event_cost.value,
  'url': NULL,
  'description_short': node.field_summary.value,
  'registration_cta': node.field_call_to_action_text.value,
  'registration_url': node.field_registration.0.url,
  'add_to_calendar': addToCalendar,
  'cme_eligible': node.field_cme_eligible.value,
} %}

 {% if node.field_contact.value %}
  {% set organizer = content.field_contact %}
{% endif %}

{% set page_url = url("<current>")['#markup'] %}
  {% set facebook = {
    link_url: "https://www.facebook.com/sharer/sharer.php?u=" ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: "Share on Facebook",
    social_icon: 'facebook',
  } %}
  {% set twitter = {
    link_url: 'https://twitter.com/intent/tweet?text=' ~ node.label|url_encode ~ '&url='
      ~ page_url|url_encode,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Share on Twitter/X',
    social_icon: 'x'
  } %}
  {% set linkedIn = {
    link_url: 'https://www.linkedin.com/sharing/share-offsite/?url=' ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Share on LinkedIn',
    social_icon: 'linkedIn',
  } %}
  {% set email = {
    link_url: 'mailto:?subject=' ~ node.label|url_encode ~ '&body=' ~ page_url|url_encode,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Email',
    social_icon: 'email',
  } %}
{% set socialLinks = {
  'label': 'Share',
  'icon': 'share',
  'shareIcons': [facebook, twitter, linkedIn, email]
} %}

{# Featured Speakers #}
{% set featured_speakers = {} %}
{% for speaker in node.field_speakers %}
{# {{kint(speaker.entity.field_link)}} #}
  {% if speaker.entity.field_image.entity.field_media_image.entity.fileuri %}
    {% set img_url = speaker.entity.field_image.entity.field_media_image.entity.fileuri|image_style('medium') %}
  {% else %}
    {% set img_url = NULL %}
  {% endif %}
  {% set person = {
    'name': speaker.entity.field_title.value,
    'titles': speaker.entity.field_speaker_titles.getValue(),
    'img_url': img_url,
    'url': speaker.entity.field_link.value,
    'about_speaker': speaker.entity.field_about.value,
    'about_label': 'About'
  } %}

  {% set featured_speakers = featured_speakers|merge([person]) %}
{% endfor %}

{% set more_info = node.field_more_info.0.value|nl2br %}

{# Agenda #}
{% set agenda = [] %}
{% for item in node.field_agenda_items %}
  {% set agenda = agenda|merge([item.value|check_markup('full_html')]) %}
{% endfor %}

{# Parking #}
{% set parking = [] %}
{% for item in node.field_parking %}
  {% set parking = parking|merge([item.entity]) %}
{% endfor %}

{# Sponsors #}
{% set sponsors = [] %}
{% for sponsor in node.field_sponsors %}
  {% if sponsor.entity.field_image.entity.field_media_image.entity.fileuri %}
    {% set img_url = sponsor.entity.field_image.entity.field_media_image.entity.fileuri|image_style('sponsor_logo') %}
  {% else %}
    {% set img_url = NULL %}
  {% endif %}
  {% set sponsor = {
    'name': sponsor.entity.field_title.value,
    'link': sponsor.entity.field_link.0.url,
    'img_url': img_url,
    'copy_header': sponsor.entity.field_title.value,
    'copy_text': sponsor.entity.field_body.value,
    'title_sponsor': sponsor.entity.field_is_title_sponsor.value,
  } %}
  {% set sponsors = sponsors|merge([sponsor]) %}
{% endfor %}

{# Tabs #}
{% set event_home_tab = {
  title: 'Description',
  id: 'event-home',
  on_click: 'onTabClick'
} %}
{% set tabs = [event_home_tab] %}

{% if agenda %}
  {% set agenda_tab = {
    title: 'Agenda',
    id: 'agenda',
    on_click: 'onTabClick'
  } %}
  {% set tabs = tabs|merge([agenda_tab]) %}
{% endif %}

{% if featured_speakers %}
  {% set speakers_tab = {
    title: 'Speakers',
    id: 'speakers',
    on_click: 'onTabClick',
  } %}
  {% set tabs = tabs|merge([speakers_tab]) %}
{% endif %}

{% if parking %}
  {% set parking_tab = {
    title: 'Parking',
    id: 'parking',
    on_click: 'onTabClick',
   } %}
   {% set tabs = tabs|merge([parking_tab]) %}
{% endif %}

{% if sponsors %}
  {% set sponsors_tab = {
    title: 'Sponsors',
    id: 'sponsors',
    on_click: 'onTabClick'
  } %}
  {% set tabs = tabs|merge([sponsors_tab]) %}
{% endif %}


<div{{ content_attributes }} class="node--event">
  <div class="container--full-bleed">
    {{content.field_hero}}
  </div>

  <div class="container--locked container--details">
    {% include "@molecules/events/event_details.twig" %}
  </div>

  <div class="container--locked container--tabs">
    <div class="content">
      {% include "@molecules/tabs/tabs.twig" %}
    </div>
  </div>

  <div class="container--news">
    <div class="content">
      <div class="js-tabs-containers">
        {% if node.field_event_home.value is not empty %}
        <div class="js-tabs-container event-home">
            {{content.field_event_home}}
        </div>
        {% endif %}
        {% if agenda is not empty %}
        <div class="js-tabs-container agenda">
          {% include "@molecules/events/event_agenda.twig" %}
        </div>
        {% endif %}
        {% if featured_speakers %}
        <div class="js-tabs-container speakers">
          {% include "@molecules/events/event_speakers.twig" %}
        </div>
        {% endif %}
        {% if parking is not empty %}
        <div class="js-tabs-container parking">
          {% for item in parking %}
            {% set background_color = item.field_map_background_color.value %}
            {% include "@molecules/callouts/map/callout-map.twig" with {
              'name': item.field_name.value,
              'address1': item.field_address_1.value,
              'address2': item.field_address_2.value,
              'city': item.field_city.value,
              'state': item.field_state.value,
              'zip': item.field_zip.value,
              'phone': item.field_phone.value,
              'iframe': item.field_iframe.value,
              'callout_map_modifiers': ['parking', background_color],
              'rich_text': item.field_rich_text.value
            } %}
          {% endfor %}
        </div>
        {% endif %}
        {% if sponsors is not empty %}
        <div class="js-tabs-container sponsors">
          {% include "@molecules/events/event_sponsors.twig" %}
        </div>
        {% endif %}
      </div>
    </div>
      {% include "@organisms/sidebar/sidebar.twig" with {
        'type': 'event',
      } %}
  </div>
</div>
{# </article> #}

