{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

  {# {% set type = {
    'title': content.field_news_type[0]['#title'],
    'url': node.field_news_type.entity.field_link.0.url,
  } %} #}

{% set tags = {} %}

{% if content.field_link.0['#url'].uri %}
  {% set external_link_url = content.field_link.0['#url'].uri %}
{% endif %}

{# Funding Agency #}
{% set tags = tags|merge([{
    title: content.field_funding_agency.0['#title'],
    url: "/research/funding-opportunities?field_funding_agency=#{node.field_funding_agency.value[0]['target_id']}"
}]) %}

{# Funding Type #}
{% set tags = tags|merge([{
    title: content.field_funding_type.0['#title'],
    url: "/research/funding-opportunities?field_funding_type=#{node.field_funding_type.value[0]['target_id']}"
}]) %}

{% for key, item in content.field_funding_discipline if key|first != '#' %}
  {% set tags = tags|merge([{
    title: item['#title'],
    url: "/research/funding-opportunities?field_funding_discipline=#{item['#url'].routeParameters.taxonomy_term}"
  }]) %}
{% endfor %}

<article {{ bem("node") }}>
  {% set modifiers = ['teaser', 'funding-opportunity'] %}
  {% set type = 'funding-opportunity' %}
  {% set linkUrl = external_link_url ? external_link_url : url %}
  {% set linkUrlTarget = external_link_url ? '_blank' : '' %}
  {# {% if node.field_hide_details_page.value == '1' %}
    {% set linkUrl = node.field_registration.0.url %}
    {% if node.field_registration.0.url.external == '1' %}
      {% set linkUrlTarget = '_blank' %}
    {% endif %}
  {% endif %} #}
  {% set details = {
    'date': node.field_due_dates.entity.field_date.date,
    'date_label': node.field_due_dates.entity.field_label.value,
    'title': node.title.getString(),
    'url': linkUrl,
    'url_target': linkUrlTarget,
    'description_short': content.field_summary
  } %}
  {# {% include "@organisms/events/_events-teasers.twig" %} #}
  {% include "@molecules/news-events/teaser.twig" with {
  details: details,
  url: null
} %}
  
  {# <div{{ content_attributes }}>
    {{ content }}
  </div> #}

</article>

{# 
date_start
date_end
title
url
description_short

 #}