{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<article {{ bem("node") }}>
  {# IMAGE DATA COMES FROM PREPROCESSING (preprocess_news.php) #}
  {% set details = {
    'title': node.title.value,
    'date': node.field_news_date.value,
    'publication': content.field_source[0]['#title'],
    'description_short': content.field_summary[0]['#context'],
  } %}
  {% set type = {
    'title': content.field_news_type[0]['#title'],
    'url': node.field_news_type.entity.field_link.0.url,
  } %}
  {% set tags = [type] %}
  {% set copy = content.body.0 %}
  {% set page_title = node.title.value|url_encode %}
  {% set page_url = url("<current>")['#markup'] %}
  {% set facebook = {
    link_url: "https://www.facebook.com/sharer/sharer.php?u=" ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: "Share on Facebook",
    social_icon: 'facebook',
  } %}
  {% set twitter = {
    link_url: 'https://twitter.com/intent/tweet?text=' ~ page_title ~ '&url='
      ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Share on Twitter/X',
    social_icon: 'x'
  } %}
  {% set email = {
    link_url: 'mailto:?subject=' ~ page_title ~ '&amp;body=' ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Email',
    social_icon: 'email',
  } %}
  {# {% set print = {
    link_url: 'javascript:window.print()',
    link_attributes: { 'class': 'print-article' },
    link_alt_text: 'Print',
    social_icon: 'printer'
  } %} #}
  {% set linkedIn = {
    link_url: 'https://www.linkedin.com/shareArticle?mini=true&url=' ~ page_url,
    link_attributes: { 'target': '_blank' },
    link_alt_text: 'Share on LinkedIn',
    social_icon: 'linkedIn',
  } %}
  {% set socialLinks = [facebook, twitter, linkedIn, email] %}
  {# If it's a press release #}
  {% if node.field_news_type.value.0.target_id == "53" %}
    {% set about = {
      heading: about_ucisom.title,
      heading_level: 4,
      copy: about_ucisom.body,
    } %}
  {% endif %}

  {% set people = [] %}
  {% for faculty in node.field_related_faculty %}
    {% set person = faculty.entity %}
    {# Name #}
    {% set name = person.field_first_name.value ~ ' ' ~ person.field_last_name.value %}
    {% if person.field_degree.value %}
      {% set name = person.field_first_name.value ~ ' ' ~ person.field_last_name.value ~ ', ' ~ person.field_degree.value %}
    {% endif %}

    {# Image #}
    {% set img_src = null %}
    {% set img_uri = person.field_profile_image|file_uri %}
    {% if img_uri is not null %}
      {% set img_src = img_uri|image_style('profile_image') %}
    {% endif %}

    {# Url #}
    {% set url = path('entity.node.canonical', {'node': person.id}) %}
    {% if person.type.target_id is same as 'faculty' %}
      {% set url = url ~ '?id=' ~ person.field_unique_id.value  %}
    {% else %}
      {% set url = null %}
    {% endif %}

    {% set object = {
      url: url,
      first_name: person.field_first_name.value,
      last_name: person.field_last_name.value,
      credentials: person.field_degree.value,
      name: name,
      working_titles: person.field_working_title,
      img_src: img_src,
    } %}
    {% set people = people|merge([object]) %}
    {# {% set nid = person.nid %}
    {% set url = path('entity.node.canonical', {'node': nid}) %} #}
  {% endfor %}

  {# {{dd(node.field_related_faculty)}} #}
  <div{{ content_attributes }}>
    <div class="container--news">
      {% include "@organisms/news/pressRelease/pressRelease.twig" %}
        <div class="sidebar">
          <h4 class="h4">{{media_contacts.title}}</h4>
          {{media_contacts.body|raw}}
          {% if related_links %}
            <h4 class="h4">Associated Links</h4>
            {% include "@atoms/links/link/link-list.twig" with {
            links: related_links
            } %}
          {% endif %}
          {% if related_documents %}
            <h4 class="h4">Associated Documents</h4>
            <br>
            {% for document in related_documents %}
              {% include "@atoms/buttons/twig/button.twig" with {
                button_content: document.title,
                button_url: document.url
              } %}
            {% endfor %}
          {% endif %}
          {# Render View of 3 Related Stories #}
          {# This has been put on hold for the time being. #}
          {# {% if related_news %}
            {% include "@molecules/news/related-links.twig" with {
              links: related_news,
              heading_level: 4,
              heading: related_news_title,
            } %}
          {% endif %} #}
      </div>
    </div>
    {% if people is not empty %}
      {% include "@molecules/callouts/basic/basicCallout.twig" with {
        banner: {'heading_level': 2, 'heading_text': 'Related Faculty/Staff'},
        faculty: people
      } %}
    {% endif %}
  </div>

</article>

