{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<article {{ bem("node") }}>

{% set due_dates = {} %}

{% for date in node.field_due_dates %}
  {% set due_dates = due_dates|merge([{
    date: date.entity.field_date.date,
    label: date.entity.field_label.value
  }]) %}
{% endfor %}

{% set sidebar_content = node.field_sidebar_content.value %}

  {# IMAGE DATA COMES FROM PREPROCESSING (preprocess_news.php) #}
  {% set details = {
    'title': node.title.value,
    'publication': content.field_source[0]['#title'],
    'description_short': content.field_summary[0]['#context'],
  } %}
  {% set type = {
    'title': content.field_news_type[0]['#title'],
    'url': node.field_news_type.entity.field_link.0.url,
  } %}
  {% set tags = [type] %}
  {% set copy = content.body.0 %}
  {% set page_title = node.title.value|url_encode %}
  {% set page_url = url("<current>")['#markup'] %}
  

  {# Funding Agency #}
  {% set funding_agency = {
      title: content.field_funding_agency.0['#title'],
      url: "/research/funding-opportunities?field_funding_agency=#{node.field_funding_agency.value[0]['target_id']}"
  } %}

  {# Funding Type #}
  {% set funding_type = {
      title: content.field_funding_type.0['#title'],
      url: "/research/funding-opportunities?field_funding_type=#{node.field_funding_type.value[0]['target_id']}"
  } %}


  {% set funding_disciplines = {} %}
  {% for key, item in content.field_funding_discipline if key|first != '#' %}
    {% set funding_disciplines = funding_disciplines|merge([{
      title: item['#title'],
      url: "/research/funding-opportunities?field_funding_discipline=#{item['#url'].routeParameters.taxonomy_term}"
    }]) %}
  {% endfor %}


  {% if node.field_news_type.value.0.target_id == "53" %}
    {% set about = {
      heading: about_ucisom.title,
      heading_level: 4,
      copy: about_ucisom.body,
    } %}
  {% endif %}

  <article{{ content_attributes }}>
    <div class="container--funding-opportunity">
      {% include "@organisms/fundingOpportunities/fundingOpportunity.twig" %}
        <div class="sidebar">
          <h2 class="h3">More Info</h2>
          <hr>
              <ul class="due-dates">
                {% for date in due_dates %}
                    <li><b>{{date.label}}</b>: {{date.date|date('M d, Y - g:i:A')}}
                {% endfor %}
              </ul>
          {% if node.field_link.0 %}
              {% include "@atoms/buttons/twig/button.twig" with {
                button_content: node.field_link.0.title,
                button_url: node.field_link.0.url,
                external_link: node.field_link.0.url.external,
                button_additional_classes: 'more-link'
              } %}
            {% endif %}
          {# <h2 class="h3">More Info</h2> #}
          <div class="tags">
            <div class="tag">
              <span class="label">Agency&nbsp;</span>
              {% include "@atoms/buttons/twig/button.twig" with {
                button_content: funding_agency.title,
                button_url: funding_agency.url,
                button_modifiers: ['tag']
              } %}
            </div>
            <div class="tag">
              <span class="label">Type&nbsp;</span>
              {% include "@atoms/buttons/twig/button.twig" with {
                button_content: funding_type.title,
                button_url: funding_type.url,
                button_modifiers: ['tag']
              } %}
            </div>
            {% if funding_disciplines is not empty %}
              <div class="tag">
                <span class="label">Disciplines&nbsp;</span>
                  {% for tag in funding_disciplines %}
                    {% include "@atoms/buttons/twig/button.twig" with {
                    button_content: tag.title,
                    button_url: tag.url,
                    button_modifiers: ['tag']
                    } %}
                  {% endfor %}
              </div>
            {% endif %}
            {{sidebar_content|raw}}
        </div>
        <hr>
      </div>
    </div>
  </article>
