{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes }}>
  {% set image = content.field_image.entity.field_media_image.entity %}
  {% if content.field_image.0 %}
    {% set image_path = content.field_image.0['#media'].field_media_image.entity.uri.value %}
    {% set image_alt = content.field_image.0['#media'].field_media_image.alt %}
    {% set image_card = {
      src: image_path|image_style('card_thumbnail'),
      alt: image_alt,
    } %}
  {% endif %}
  {# {% else %}
    {% set image_path = placeholder_image.field_image.entity.field_media_image.entity.uri.value %}
    {% set image_alt = placeholder_image.field_image.entity.field_media_image.alt %} #}
  {% set card_link = content.field_link.0['#url'] %}
  {% if card_link.external %}
    {% set url_target = '_blank' %}
  {% endif %}
  {% include "@molecules/card/card.twig" with {
    type: 'department',
    details: {
      title: name
    },
    url: card_link
  } %}
</div>
