.imageLink {
  text-align: center;
  // width: 150px;
  .image {
    margin: 0 auto;
  }
  svg {
    color: $gray-dark;
    height: 100px;
    max-width: 150px;
  }
  a {
    text-decoration: none;
    display: block;
  }
  p.text,
  a p.text {
    color: $blue;
    font-family: $font-body;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.16;
  }
  &--blue {
    svg {
      color: $white;
    }
    p.text,
    a p.text {
      color: $yellow;
    }
    .additional-links,
    .rich-text {
      a {
        color: $white;
        text-decoration: underline;
        font-size: 15px;
        line-height: 1.5;
      }
    }
    .rich-text {
      color: $white;
    }
  }
}

// Storybook specific styling
.sb-iconImage {
  padding: 10px;
  &--alt {
    background-color: $blue;
  }
}
