.news-social {
  width: 100%;
  // margin-bottom: 50px;
  .heading {
    margin: 0;
    background-color: $blue;
    color: $white;
    font-family: $font-heading;
    font-weight: normal;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $gray;
    border-bottom: 1px solid $blue;
    .name {
      font-weight: bold;
      color: $blue-dark;
    }
    .icons {
      display: flex;
      align-items: center;
      .shareButton {
        margin-right: 16px;
        color: $blue-dark;
        border-color: $blue-dark;
      }
    }
  }
  .cta {
    .button {
      width: 100%;
    }
  }

  .heading,
  li {
    padding: 16px 36px;
  }
}
