{% set news_social_base_class = news_social_base_class|default('news-social') %}
<div {{ bem(news_social_base_class, modifiers) }}>
    <h2 class="heading">{{ title|raw }}</h2>
    <ul class="entries">
    {% for entry in entries %}
        <li>
        <div class="name">{{ entry.name }}</div>
        <div class="icons">{% for icon in entry.social_icons %}
            {% include "@atoms/buttons/twig/shareButton.twig" with {
                icon: icon.icon,
                button_url: icon.button_url,
                button_modifiers: ['alt']
            } %}
        {% endfor %}
        </div>
        </li>
    {% endfor %}
    </ul>
    {% if cta %}
    <div class="cta">
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: cta,
            button_url: cta_url
        } %}
    </div>
    {% endif %}
</div>