.video-player-full-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  // &:not(.video-player-full-wrapper--no-gradient) {
  //   @include media-wrapper;
  // }
  .h2 {
    text-align: center;
    // color: $white;
    // @include breakpoint(0 $large) {
    //   @include site-padding;

    //   color: $blue;
    // }
  }
  .richTextCopy {
    // padding: 0 100px 0 100px;
    // max-width: 1440px;
    // margin: 0 auto;
  }
  .caption-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .text-long {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
}
