{# {% set video_player_full_base_class = video_player_full_base_class|default('video-player-full-wrapper') %} #}
{% set embed_code_base_class = embed_code_base_class|default('embed-code') %}

<div {{bem(embed_code_base_class, embed_code_modifiers, '', additional_classes)}}>
    {% if title %}
    {% if id %}
      <h2 class="h2" data-jumpid="{{id}}">{{title}}</h2>
    {% else %}
      <h2 class="h2">{{title}}</h2>
    {% endif %}
      <hr class="horizontalRule horizontalRule--yellow">
    {% endif %}
    {% if copy %}
      <div class="richTextCopy">
        {{copy}}
      </div>
    {% endif %}
  <div class="content-wrapper">
    {{embed_code|raw}}
  </div>
</div>
