{% set playlist_base_class = playlist_base_class|default('video-playlist') %}
<div {{ bem(playlist_base_class, modifiers) }}>
    <div class="{{playlist_base_class}}-player">
        {% include "@atoms/video/video.twig" with {
            poster_image: main_video.poster_image,
            on_click: main_video.on_click,
            title: main_video.title,
            account: main_video.account,
            numViews: main_video.numViews,
            posted: main_video.posted
        } %}
    </div>
    <div class="{{playlist_base_class}}-list">
        {% for video in other_videos %}
            {% include "@molecules/video/playlist-item/playlist_item.twig" with {
                poster_image: video.poster_image,
                on_click: video.on_click,
                title: video.title,
                account: video.account,
                numViews: video.numViews,
                posted: video.posted
            } %}
        {% endfor %}
        {% include "@atoms/links/link/link.twig" with {
            link_url: cta_url,
            link_content: cta_text,
            link_modifiers: ['arrow'],
            icon_after: 'arrowRight'
        } %}
    </div>
</div>