{{ attach_library('ucisom/youtubeVideoPlayer') }}


{% set video_player_full_base_class = video_player_full_base_class|default('video-player-full-wrapper') %}

{# {% set video_url = paragraph.field_video.entity.field_media_oembed_video.getvalue().0.value %} #}
{% set video_url = video_url|default(video) %}
{% if '/shorts/' in video_url %}
  {% set video_id = video_url|split('/shorts/')[1] %}
{% elseif 'vimeo' in video_url %}
  {% set vimeo_video_id = video_url|split('vimeo.com/')[1] %}
  {% if 'event' in vimeo_video_id %}
    {% set vimeo_video_id = vimeo_video_id|split('/')[1] %}
  {% endif %}
  {% set video_modifiers = video_modifiers|merge(['vimeo']) %}

{% else %}
  {% set video_id = video_url|split('?v=')[1] %}
{% endif %}

<div {{bem(video_player_full_base_class, video_modifiers, '', additional_classes)}}>

    {% if title %}
      {% if id is not empty %}
        <h2 class="h2" data-jumpid={{id}}>{{title}}</h2>
      {% else %}
        <h2 class="h2">{{title}}</h2>
      {% endif %}
      <hr class="horizontalRule horizontalRule--yellow">
    {% endif %}
    {% if copy %}
      <div class="richTextCopy">
        {{copy|raw}}
      </div>
    {% endif %}
  <div class="content-wrapper">
    {% if vimeo_video_id is not empty %}
      {% include '@molecules/video/vimeo/vimeo-video.twig' %}
    {% else %}
      {% include '@molecules/video/youtube/youtube-video.twig' %}
    {% endif %}
  </div>
</div>