.textWithImage {
  display: flex;
  .image {
    display: flex;
    flex: 0 0 auto;
    width: 160px;
    margin-right: 30px;
    align-items: center;
  }
  .text {
    display: flex;
    align-items: center;
  }
  &--right {
    flex-direction: row-reverse;
    .image {
      margin-left: 30px;
      margin-right: 0;
    }
  }
}
