{% set textWithImage_base_class = textWithImage_base_class|default('textWithImage') %}

<div {{ bem(textWithImage_base_class, textWithImage_modifiers) }}>
    <div class="image">
        <img src={{ img_src }} alt={{ img_alt }} />
    </div>
    <div class="text">
        {{ text|raw }}
    </div>
</div>