.collapsing-nav {
  a.link {
    text-decoration: none;
    color: $blue-dark;
    &:hover {
      text-decoration: underline;
    }
  }
  &-header {
    list-style: none;
    padding: 0;
    li {
      display: inline;
    }
    a.link {
      font-weight: bold;
      font-size: 18px;
    }
    .menu-arrow {
      position: relative;
      padding: 0 0 0 10px;
      cursor: pointer;
      color: $blue;
      // &:hover {
      //   border-bottom: 1px solid $blue;
      // }
      svg {
        width: 24px;
        height: 9px;
        transform: scaleY(1);
        transition: transform 0.3s ease-out;
      }
    }
  }
  .link-list {
    // display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-left: 2px solid $yellow;
    li {
      margin-bottom: 16px;
      margin-left: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        padding: 8px 0 8px 6px;
        border-left: 7px solid $blue-light;
      }
    }
  }

  &.expanded {
    .link-list {
      // display: block;
      max-height: 500px;
    }
    .menu-arrow {
      svg {
        transform: scaleY(-1);
      }
    }
  }
}
