{% set collapsing_nav_base_class = collapsing_nav_base_class|default('collapsing-nav') %}

{% set additional_classes = additional_classes|default([]) %}

{% if show_expanded %}
    {% set additional_classes = additional_classes|merge(['expanded']) %}
{% endif %}

<div {{ bem(collapsing_nav_base_class, collapsing_nav_modifiers, [], additional_classes) }}>
    <ul class="collapsing-nav-header">
        <li>
            <a class="menu-parent link" href="{{url}}">{{title}}</a>
        </li>
        {% if links is not empty %}
            <li>
                <a class="menu-arrow">
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'arrowDown'
                } %}
                </a>
            </li>
        {% endif %}
    </ul>
    {% if links is not empty %}
        {% include "@atoms/links/link/link-list.twig" with {
            link_list_base_class: 'collapsing-nav-link-list link-list'
        } %}
    {% endif %}

</div>