@include breakpoint(0 $large) {
  .menu_primary {
    background-color: $blue;

    .logo {
      @include site-padding(15px, 15px);
      // margin: 15px 0 15px 15px;
      svg {
        height: 30px;
        fill: $white;
        color: $white;
      }
    }
    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr 100px;
      @include breakpoint(0 $medium) {
        grid-template-columns: 1fr 65px;
      }
      .mobile-menu {
        display: flex;
        align-items: center;
        margin-right: $l-margin;
        @include breakpoint(0 $medium) {
          margin-right: $s-margin;
        }
        .menu-button {
          width: 50px;
          height: 50px;
          border: 1px solid $white;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          .hamburger {
            width: 31px;
            height: 22px;
          }
          .close {
            display: none;
          }
          &.active {
            .hamburger {
              display: none;
            }
            .close {
              display: block;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .main-menu {
        min-width: $xs;
        position: fixed;
        top: 103px;
        z-index: 100;
        width: 100%;
        max-height: none;
        height: 0;
        // overflow: hidden;
        font-family: $font-heading;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: height 0.3s ease-out;
        grid-column: 1 / span 2;
        margin: 0;
        background-color: $blue;
        margin-bottom: 100px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        *::-webkit-scrollbar {
          display: none;
        }
        &.active {
          // max-height: 1000px;
          height: 90%;
          padding-top: 65px;
        }
        &--link {
          font-size: 24px;
          margin: 13px 0;
        }
        &--item {
          &:first-child() {
            padding-top: 68px;
          }
          @include breakpoint($medium $large) {
            margin: 0 (-$l-margin);
            padding: 0 $l-margin;
          }
          @include breakpoint(0 $medium) {
            margin: 0 (-$s-margin);
            padding: 0 $s-margin;
          }
          .main-menu--expand {
            font-size: 20px;
            // font-weight: bold;
            color: $white;
            background-color: transparent;
            width: 100%;
            display: flex;
            align-items: center;
            border-top: 1px solid $blue-dark;
            // @include site-padding(15px, 15px);
            padding: 15px 63px;
            @include breakpoint(0 $medium) {
              padding: 15px 30px;
            }
          }
          .mobile-expand {
            width: 23px;
            height: 13px;
            color: $yellow;
            transform: scaleY(1);
            // transition: transform 0.3s ease-out;
            // margin-right: 14px;
            // margin-left: 34px;
            position: absolute;
            right: 63px;
            @include breakpoint(0 $medium) {
              right: 30px;
            }
          }
          .sub-menu {
            background-color: $blue-dark;
            border-left: 14px solid $yellow;
            @include breakpoint($medium $large) {
              // margin: 0 (-$l-margin);
              padding: 0 $l-margin;
            }
            @include breakpoint(0 $medium) {
              // margin: 0 (-$s-margin);
              padding: 0 $s-margin;
            }

            overflow: hidden;
            max-height: 0;
            // transition: max-height 0.6s ease-out;
          }
          .collapsing-nav {
            display: block;
            margin-left: 15px;
            li {
              margin: 16px 0;
              display: block;
            }
            a.link {
              color: $white;
              font-weight: normal;
              font-size: 16px;
              &.menu-parent {
                font-weight: normal;
              }
            }
            .link-list {
              // border-left: 7px solid $yellow;
              padding-left: 14px;
            }
            &.expanded {
              padding-bottom: 14px;
            }
          }
          .top-level-nav {
            display: none;
            .collapsing-nav-header {
              a.link {
                font-size: 16px;
                // margin: -15px;
              }
            }
            .horizontalRule--yellow {
              // margin-left: 0;
              display: none;
            }
          }
          .collapsing-nav-header {
            .menu-arrow {
              color: $yellow;
            }
            li {
              display: inline-block;
            }
          }
        }
        &--item.open {
          .mobile-expand {
            color: $yellow;
            transform: scaleY(-1);
          }
          .sub-menu {
            max-height: 1500px;
            overflow: hidden;
            // margin-top: -92px;
            position: relative;

            // padding: 0 15px;
          }
        }
      }
    }
    &--institute-center {
      background-color: $gray;
      .logo {
        svg {
          fill: $blue;
        }
      }
      .content-wrapper {
        .mobile-menu {
          .menu-button {
            color: $blue;
            border: 1px solid $blue;
          }
        }
        .main-menu {
          background-color: $blue;
          &--item {
            .main-menu--expand {
              // color: $blue;
            }
            .sub-menu {
              // background-color: $gray;
              // color: $blue;
            }
          }
          .collapsing-nav {
            a.link {
              // color: $blue;
            }
          }
        }
      }
      @include breakpoint(0 $large) {
        .logo {
          svg {
            fill: $blue;
            color: $blue;
          }
        }
      }
    }
    .menu_global {
      display: block;
      width: 100%;
      margin: 0;
      text-align: left;
      background-color: $blue-dark;
      .content-wrapper {
        // grid-template-columns: 1 / span 2;
        display: block;
        // width: 100%;
        border-top: 3px solid $yellow;
        justify-content: space-around;
        padding: 15px 63px;
        @include breakpoint(0 $medium) {
          padding: 15px 30px;
        }
      }
      li {
        display: block;
        text-align: left;
        margin: 30px 0;
        // margin-right: 0;
        // margin-bottom: 15px;
        // padding: 15px;

        // flex: 0 1 auto;
      }
      .search {
        position: absolute;
        top: -20px;
        left: $l-margin;
        right: $l-margin;
        @include breakpoint(0 $medium) {
          left: $s-margin;
          right: $s-margin;
        }
        // width: 100%;
        border-top: 1px solid $blue-dark;
        input {
          background-color: transparent;
          color: $white;
          border: 1px solid $white;
          font-size: 16px;
          font-weight: normal;
          &::placeholder {
            color: $white;
            opacity: 1;
            font-weight: normal;
            font-size: 16px;
          }
        }
      }
      .nav-search {
        .trigger {
          display: none;
        }
        .form {
          max-width: 100%;
          width: 100%;
          .form-item__textfield {
            height: 36px;
          }
        }
      }
      .search-bar--nav {
        .iconButton--search {
          width: 24px;
          height: 24px;
          top: 5px;
          .icon {
            height: 24px;
            color: $white;
          }
        }
        .search-field {
          #search-term {
            // font-size: 24px;
          }
        }
      }
    }
  }
}

@include breakpoint(0 $small) {
  .menu_primary {
    .logo {
      svg {
        width: 100%;
      }
    }
  }
}

// .site--uci-chao-family-comprehensive-cancer-center {
//   .menu_primary .logo svg {
//     width: auto;
//   }
// }
.menu_primary .logo svg {
  // max-width: 440px;
  width: auto;

  @include breakpoint($medium) {
    max-width: 440px;
  }

  @include breakpoint(0 $medium) {
    max-width: 350px;
  }

  @include breakpoint(0 $small) {
    max-width: 240px;
  }
}
//different mobile-menu breakpoint for SOM due to large logo
.site--uci-school-of-medicine {
  @include breakpoint(0 $large-menu) {
    .menu_primary {
      background-color: $blue;

      .logo {
        @include site-padding(15px, 15px);
        // margin: 15px 0 15px 15px;
        svg {
          height: 30px;
          fill: $white;
          color: $white;
        }
      }
      .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 100px;
        @include breakpoint(0 $large-menu) {
          grid-template-columns: 1fr 65px;
        }
        .mobile-menu {
          display: flex;
          align-items: center;
          margin-right: $l-margin;
          @include breakpoint(0 $large-menu) {
            margin-right: $s-margin;
          }
          .menu-button {
            width: 50px;
            height: 50px;
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            .hamburger {
              width: 31px;
              height: 22px;
            }
            .close {
              display: none;
            }
            &.active {
              .hamburger {
                display: none;
              }
              .close {
                display: block;
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        .main-menu {
          min-width: $xs;
          position: fixed;
          top: 103px;
          top: 63px;
          z-index: 100;
          width: 100%;
          max-height: none;
          height: 0;
          // overflow: hidden;
          font-family: $font-heading;
          overflow-y: scroll;
          overflow-x: hidden;
          transition: height 0.3s ease-out;
          grid-column: 1 / span 2;
          margin: 0;
          background-color: $blue;
          margin-bottom: 100px;
          scrollbar-width: none;
          -ms-overflow-style: none;
          *::-webkit-scrollbar {
            display: none;
          }
          &.active {
            // max-height: 1000px;
            height: 90%;
            padding-top: 65px;
          }
          &--link {
            font-size: 24px;
            margin: 13px 0;
          }
          &--item {
            &:first-child() {
              padding-top: 68px;
            }
            @include breakpoint($medium $large-menu) {
              margin: 0 (-$l-margin);
              padding: 0 $l-margin;
            }
            @include breakpoint(0 $medium) {
              margin: 0 (-$s-margin);
              padding: 0 $s-margin;
            }
            .main-menu--expand {
              font-size: 20px;
              // font-weight: bold;
              color: $white;
              background-color: transparent;
              width: 100%;
              display: flex;
              align-items: center;
              border-top: 1px solid $blue-dark;
              // @include site-padding(15px, 15px);
              padding: 15px 63px;
              @include breakpoint(0 $medium) {
                padding: 15px 30px;
              }
            }
            .mobile-expand {
              width: 23px;
              height: 13px;
              color: $yellow;
              transform: scaleY(1);
              // transition: transform 0.3s ease-out;
              // margin-right: 14px;
              // margin-left: 34px;
              position: absolute;
              right: 63px;
              @include breakpoint(0 $medium) {
                right: 30px;
              }
            }
            .sub-menu {
              background-color: $blue-dark;
              border-left: 14px solid $yellow;
              @include breakpoint($medium $large-menu) {
                // margin: 0 (-$l-margin);
                padding: 0 $l-margin;
              }
              @include breakpoint(0 $medium) {
                // margin: 0 (-$s-margin);
                padding: 0 $s-margin;
              }

              overflow: hidden;
              max-height: 0;
              // transition: max-height 0.6s ease-out;
            }
            .collapsing-nav {
              display: block;
              margin-left: 15px;
              li {
                margin: 16px 0;
                display: block;
              }
              a.link {
                color: $white;
                font-weight: normal;
                font-size: 16px;
                &.menu-parent {
                  font-weight: normal;
                }
              }
              .link-list {
                // border-left: 7px solid $yellow;
                padding-left: 14px;
              }
              &.expanded {
                padding-bottom: 14px;
              }
            }
            .top-level-nav {
              display: none;
              .collapsing-nav-header {
                a.link {
                  font-size: 16px;
                  // margin: -15px;
                }
              }
              .horizontalRule--yellow {
                // margin-left: 0;
                display: none;
              }
            }
            .collapsing-nav-header {
              .menu-arrow {
                color: $yellow;
              }
              li {
                display: inline-block;
              }
            }
          }
          &--item.open {
            .mobile-expand {
              color: $yellow;
              transform: scaleY(-1);
            }
            .sub-menu {
              max-height: 1500px;
              overflow: hidden;
              // margin-top: -92px;
              position: relative;

              // padding: 0 15px;
            }
          }
        }
      }
      &--institute-center {
        background-color: $gray;
        .logo {
          svg {
            fill: $blue;
          }
        }
        .content-wrapper {
          .mobile-menu {
            .menu-button {
              color: $blue;
              border: 1px solid $blue;
            }
          }
          .main-menu {
            background-color: $blue;
          }
        }
        @include breakpoint(0 $large) {
          .logo {
            svg {
              fill: $blue;
              color: $blue;
            }
          }
        }
      }
      .menu_global {
        display: block;
        width: 100%;
        margin: 0;
        text-align: left;
        background-color: $blue-dark;
        .content-wrapper {
          // grid-template-columns: 1 / span 2;
          display: block;
          // width: 100%;
          border-top: 3px solid $yellow;
          justify-content: space-around;
          padding: 15px 63px;
          @include breakpoint(0 $medium) {
            padding: 15px 30px;
          }
        }
        li {
          display: block;
          text-align: left;
          margin: 30px 0;
          // margin-right: 0;
          // margin-bottom: 15px;
          // padding: 15px;

          // flex: 0 1 auto;
        }
        .search {
          position: absolute;
          top: -20px;
          left: $l-margin;
          right: $l-margin;
          @include breakpoint(0 $medium) {
            left: $s-margin;
            right: $s-margin;
          }
          // width: 100%;
          border-top: 1px solid $blue-dark;
          input {
            background-color: transparent;
            color: $white;
            border: 1px solid $white;
            font-size: 16px;
            font-weight: normal;
            &::placeholder {
              color: $white;
              opacity: 1;
              font-weight: normal;
              font-size: 16px;
            }
          }
        }
        .nav-search {
          .trigger {
            display: none;
          }
          .form {
            max-width: 100%;
            width: 100%;
            .form-item__textfield {
              height: 36px;
            }
          }
        }
        .search-bar--nav {
          .iconButton--search {
            width: 24px;
            height: 24px;
            top: 5px;
            .icon {
              height: 24px;
              color: $white;
            }
          }
        }
      }
    }
  }
}