body:not(.site--uci-school-of-medicine) {
  @include breakpoint($large) {
    .menu_primary {
      background-color: $blue;
  
      .content-wrapper {
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-bottom: 0;
        @include site-padding;
  
        .logo {
          margin: 15px 0;
  
          svg {
            height: 45px;
            fill: $white;
            color: $white;
          }
        }
  
        a.link {
          color: $white;
          text-decoration: none;
          font-family: $font-heading;
        }
  
        .mobile-menu,
        .menu-button,
        .mobile-expand {
          display: none;
        }
  
        .main-menu {
          display: none;
  
          @include breakpoint($large) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0;
  
            .main-menu--item {
              &:last-of-type {
                button {
                  border-right: 3px solid $blue;
                }
              }
  
              display: flex;
              background-color: $blue;
              padding-bottom: 10px;
  
              // margin: 0 10px;
              button {
                background-color: transparent;
                border: 0;
                padding: 0 6px;
                font-family: $font-heading;
                border-right: 3px solid $yellow;
                padding-right: 6px;
                cursor: pointer;
  
                svg {
                  color: $yellow;
                  width: 24px;
                  height: 24px;
                }
              }
  
              .main-menu--link {
                padding: 5px 10px;
                display: inline-block;
                text-decoration: none;
                color: $white;
                font-weight: bold;
                font-family: $font-heading;
                white-space: nowrap;
                margin: 0;
              }
  
              &.open {
                background-color: $blue-dark;
  
                .main-menu--link {
                  color: $gray;
                }
  
                // background-color: $gray;
                button {
                  border-right: 3px solid $blue-dark;
                  z-index: 100;
                }
  
                // .main-menu--link {
                //   // color: $blue;
                // }
                .main-menu--expand {
                  svg {
                    transform: rotate(180deg);
                  }
                }
  
                .sub-menu {
                  display: grid;
                  // min-height: 250px;
                }
              }
            }
          }
        }
  
        .sub-menu {
          display: none;
          transition: max-height 0.3s ease-out;
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 16px 100px;
          transform: translateY(100%);
          width: 100%;
          background-color: rgba($blue-dark, 0.98);
          grid-template-columns: repeat(3, 1fr);
  
          a.menu-parent {
            margin: 18px 0;
            display: inline-block;
          }
  
          a.link {
            color: $gray;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        .menu_global {
          display: none;
        }
      }
  
      .collapsing-nav-header {
        .menu-arrow {
          svg {
            color: $yellow;
          }
        }
      }
  
      &--institute-center {
        background-color: $gray;
  
        .content-wrapper {
          background-color: $gray;
  
          .logo {
            svg {
              fill: $blue;
              color: $blue;
            }
          }
  
          .main-menu {
            .main-menu--item {
              background-color: $gray;
  
              &:last-of-type {
                button {
                  border-right: 3px solid $gray;
                }
              }
  
              &.open {
                background-color: $blue-dark;
  
                .main-menu--link {
                  color: $gray;
                }
  
                button {
                  border-right: 3px solid $blue-dark;
                }
              }
  
              .main-menu--link {
                color: $blue;
              }
            }
          }
  
          .sub-menu {
            background-color: rgba($blue-dark, 0.98);
  
            a.link {
              color: $gray;
            }
          }
        }
  
        .mobile-menu {
          .icon {
            color: $blue-dark;
          }
        }
      }
  
      .top-level-nav {
        grid-row: 1 / span 10;
  
        a.link {
          font-size: 36px;
          margin-bottom: 0 !important;
  
          &:hover {
            text-decoration: none !important;
            color: $yellow;
          }
        }
  
        .horizontalRule--yellow {
          margin: 0;
          margin-block-start: $hr-margin-top;
          margin-block-end: $hr-margin-bottom;
        }
      }
    }
  }
}


//separate breakpoint for SOM due to large size of logo
.site--uci-school-of-medicine {
  @include breakpoint($large-menu) {  
    .menu_primary {
      background-color: $blue;
  
      .content-wrapper {
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-bottom: 0;
        @include site-padding;
  
        .logo {
          margin: 0;
  
          @include breakpoint($large-menu) {
            margin: 15px 0;
          }
          svg {
            height: 45px;
            fill: $white;
            color: $white;
          }
        }
  
        a.link {
          color: $white;
          text-decoration: none;
          font-family: $font-heading;
        }
  
        .mobile-menu,
        .menu-button,
        .mobile-expand {
          display: none;
        }
  
        .main-menu {
          display: none;
  
          @include breakpoint($large-menu) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0;
  
            .main-menu--item {
              &:last-of-type {
                button {
                  border-right: 3px solid $blue;
                }
              }
  
              display: flex;
              background-color: $blue;
              padding-bottom: 10px;
  
              // margin: 0 10px;
              button {
                background-color: transparent;
                border: 0;
                padding: 0 6px;
                font-family: $font-heading;
                border-right: 3px solid $yellow;
                padding-right: 6px;
                cursor: pointer;
  
                svg {
                  color: $yellow;
                  width: 24px;
                  height: 24px;
                }
              }
  
              .main-menu--link {
                padding: 5px 10px;
                display: inline-block;
                text-decoration: none;
                color: $white;
                font-weight: bold;
                font-family: $font-heading;
                white-space: nowrap;
                margin: 0;
              }
  
              &.open {
                background-color: $blue-dark;
  
                .main-menu--link {
                  color: $gray;
                }
  
                // background-color: $gray;
                button {
                  border-right: 3px solid $blue-dark;
                  z-index: 100;
                }
  
                // .main-menu--link {
                //   // color: $blue;
                // }
                .main-menu--expand {
                  svg {
                    transform: rotate(180deg);
                  }
                }
  
                .sub-menu {
                  display: grid;
                  // min-height: 250px;
                }
              }
            }
          }
        }
  
        .sub-menu {
          display: none;
          transition: max-height 0.3s ease-out;
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 16px 100px;
          transform: translateY(100%);
          width: 100%;
          background-color: rgba($blue-dark, 0.98);
          grid-template-columns: repeat(3, 1fr);
  
          a.menu-parent {
            margin: 18px 0;
            display: inline-block;
          }
  
          a.link {
            color: $gray;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        .menu_global {
          display: none;
        }
      }
  
      .collapsing-nav-header {
        .menu-arrow {
          svg {
            color: $yellow;
          }
        }
      }
  
      &--institute-center {
        background-color: $gray;
  
        .content-wrapper {
          background-color: $gray;
  
          .logo {
            svg {
              fill: $blue;
              color: $blue;
            }
          }
  
          .main-menu {
            .main-menu--item {
              background-color: $gray;
  
              &:last-of-type {
                button {
                  border-right: 3px solid $gray;
                }
              }
  
              &.open {
                background-color: $blue-dark;
  
                .main-menu--link {
                  color: $gray;
                }
  
                button {
                  border-right: 3px solid $blue-dark;
                }
              }
  
              .main-menu--link {
                color: $blue;
              }
            }
          }
  
          .sub-menu {
            background-color: rgba($blue-dark, 0.98);
  
            a.link {
              color: $gray;
            }
          }
        }
  
        .mobile-menu {
          .icon {
            color: $blue-dark;
          }
        }
      }
  
      .top-level-nav {
        grid-row: 1 / span 10;
  
        a.link {
          font-size: 36px;
          margin-bottom: 0 !important;
  
          &:hover {
            text-decoration: none !important;
            color: $yellow;
          }
        }
  
        .horizontalRule--yellow {
          margin: 0;
          margin-block-start: $hr-margin-top;
          margin-block-end: $hr-margin-bottom;
        }
      }
   }
  }
}