// .menu_global--wrapper {
//   background-color: $blue-dark;
// }

.menu_global {
  display: none;
  @include breakpoint($large) {
    display: block;
  }

  list-style: none;
  margin: 0 auto;
  text-align: right;
  padding: 0;
  .content-wrapper {
    @include site-padding(10px, 10px);
  }

  background-color: $blue-dark;
  li {
    display: inline-block;
    margin-right: 24px;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      margin-right: 0;
      // border-bottom: 1px solid transparent;
      // &:hover {
      //   border-bottom: 1px solid $white;
      // }
    }
  }

  &--institute-center {
    background-color: $blue;
  }
  nav {
    width: 100%;
    max-width: unset;
  }
}

.site--uci-school-of-medicine {
  .menu_global {
    @include breakpoint($large) {
      display: none;
    }

    @include breakpoint($large-menu) {
      display: block;
    }
  }
}