.menu_secondary {
  min-width: 500px;
  button {
    color: $blue-dark;
    margin-left: 24px;
    .active {
      display: none;
    }
  }
  .menu-bar {
    min-height: 42px;
  }
  .menu-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  &.active {
    .menu-list {
      max-height: 500px;
      // max-height: calc(100vh - 123px);
      overflow-y: auto;
    }
    button {
      .normal {
        display: none;
      }
      .active {
        display: block;
      }
    }
  }
  .link-list {
    background-color: rgba($gray, 0.98);
    margin-top: 0;
    padding: 15px;
    // margin-bottom: 20px;
    // padding: 24px 0;
    // padding-right: 22px;
    li {
      margin: 15px;
      a.link {
        text-decoration: none;
        color: $blue-dark;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    // &-level-1 {
    //   display: none;
    // }
    .collapsing-nav {
      overflow: hidden;
      .collapsing-nav-header {
        margin: 10px 15px;
        li {
          a {
            font-size: 16px;
          }
          &:nth-child(1) {
            margin-right: 0;
            margin-left: 0;
          }
          &:nth-child(2) {
            margin: 0;
          }
        }
      }
      .level-0 {
        border-left: 2px solid $yellow;
        padding: 0;
        margin-left: 12px;
        max-height: 0;
        margin-bottom: 0;
        li {
          a.link {
            font-weight: normal;
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &.expanded {
        .level-0 {
          max-height: 500px;
        }
      }
    }
  }
  ul[class^='link-list-level'] {
    padding-left: 12px;
    li {
      margin-left: 5px;
      margin-right: 0;
    }
  }
  // Hide the top level of the expanded nav since it's the same as the link next
  // to the hamburger nav
  // .link-list.level-0 > li > a.link {
  //   display: none;
  // }
  @include breakpoint(0 $medium) {
    width: 100%;
  }
  .collapsing-nav {
    .link-list {
      border-left: 0;
      background-color: transparent;
      color: $blue-dark;
    }
  }
}

// .menu_secondary {
//   &.active-scroll {
//     position: fixed;
//     top: 20rem;
//     z-index: 9999;
//   }
// }


body.role-anonymous .menu_secondary {
  position: fixed !important;
  top: 12.2rem !important;
  z-index: 99999 !important;
  transition: top 0.75s !important;

  @include breakpoint (0 $large) {
    top: 6.2rem !important;
  }

  &.show {
    top: -1000px !important;
  }
}

body.role-authenticated .menu_secondary {
  position: fixed !important;
  top: 20rem !important;
  z-index: 99999 !important;
  transition: top 0.75s !important;

  @include breakpoint (0 $large) {
    top: 10rem !important;
  }

  &.show {
    top: -1000px !important;
  }
}