{% set base_class = base_class|default('menu_global') %}

{%
  set classes = ['show']
%}

{% if logged_in %}
    {% set classes = classes|merge(['logged-in']) %}
{% endif %}

    <ul {{bem(base_class, modifiers, '', classes)}}>
        <div class="content-wrapper">
        {% block menu_global %}
            {% for link in links %}
                {% if link.title == 'Search' %}
                    {% set icon = 'magnifyingGlass' %}
                    {% set title = '' %}
                {% else %}
                    {% set title = link.title %}
                {% endif %}
                <li>
                    {% include "@atoms/links/link/link.twig" with {
                        link_url: link.url,
                        link_content: title,
                        link_attributes: link.attributes,
                        link_base_class: link.base_class,
                        link_modifiers: link.link_modifiers,
                    } %}
                </li>
            {% endfor %}
            <li class="search">
            {% include "@molecules/searchBar/nav-searchbar.twig" %}
            </li>
        {% endblock %}
        </div>
    </ul>