{% set menu_primary_base_class = menu_primary_base_class|default('menu_primary') %}

{%
  set classes = ['show']
%}

{% if logged_in %}
    {% set classes = classes|merge(['logged-in']) %}
{% endif %}

<nav {{ bem(menu_primary_base_class, modifiers, '', classes) }}>
    {# Logo #}
    <div class="content-wrapper">
        <div class="logo">
            {% block menu_primary_logo %}
                <a href="/">
                    {{ source(logo) }}
                </a>
            {% endblock %}
        </div>
        <div class="mobile-menu">
            <div class="menu-button">
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'hamburger',
                    icon_title: 'Open Menu',
                    icon_desc: 'Click to Open Menu',
                    icon_extra_class: ['hamburger'],
                } %}
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'close',
                    icon_title: 'Close Menu',
                    icon_desc: 'Click to Close Menu',
                    icon_extra_class: ['close'],
                } %}
            </div>
        </div>
        {# Main Menu Items #}
        {% block menu_primary %}
            {# <div class="main-menu"> #}
                <ul class="main-menu link-list">
                    {% for item in menu_items %}
                    {% if (item.url.routeName != "<front>") %}
                        <li class="main-menu--item">
                            <button class="main-menu--expand">
                                <p class="main-menu--link" data-href={{item.url}}>{{item.title}}</p>
                            {% include "@atoms/images/icons/_icon.twig" with {
                                icon_name: 'arrowDown',
                                icon_extra_class: ['mobile-expand'],
                            } %}
                            {# {% include "@atoms/links/link/link.twig" with {
                                link_content: item.title,
                                link_url: item.url,
                                link_base_class: 'main-menu--link'
                            } %} #}
                            </button>
                            {# {% for sub_menu in item.sub_menu %}
                                {{ sub_menu.name }}
                            {% endfor %} #}
                            <div id="{{ menu.data_attributes.menuid }}" class="sub-menu">
                            <div class='top-level-nav'>
                                {% include '@molecules/menus/_collapsing_nav.twig' with {
                                    title: item.title,
                                    url: item.url,
                                } %}
                                <hr class="horizontalRule horizontalRule--yellow">
                            </div>
                            {% for sub_menu in item.below %}
                            {# {{sub_menu.below}} #}
                                {% set show_expanded = false %}
                                {% include '@molecules/menus/_collapsing_nav.twig' with {
                                    title: sub_menu.title,
                                    url: sub_menu.url,
                                    links: sub_menu.below,
                                } %}
                                {# {% for linkList in menu %}
                                    {% include "@atoms/links/link/link-list.twig" with {
                                        links: linkList
                                    } %}
                                {% endfor %} #}
                            {% endfor %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% include "@molecules/menus/menu-global.twig" with {
                    'links': global_menu,
                } %}
                </ul>

            {# </div> #}
        {% endblock %}
    </div>
</nav>