{% set menu_secondary_base_class = menu_secondary_base_class|default('menu_secondary') %}

{% set addtional_classses = [''] %}
{% if logged_in %}
    {% set addtional_classses = addtional_classses|merge(['logged-in']) %}
{% endif %}
<nav {{ bem(menu_secondary_base_class, modifiers, '', addtional_classses) }}>
    <div class="menu-bar">
        {% include "@atoms/buttons/twig/iconButton.twig" with {
            button_modifiers: ['menu'],
            aria_label: button_aria_label,
            icon: 'hamburger',
            active_icon: 'close',
            text: title,
            title_url: title_url,
        } %}
    </div>
    {% set subnav = links|first %}

    <div class="menu-list">
        <div class="link-list">
        {% for link in subnav.below %}
            {% set show_expanded = false %}
            {% include "@molecules/menus/_collapsing_nav.twig" with {
                title: link.title,
                url: link.url,
                links: link.below,
            } %}
        {% endfor %}
        </div>
    </div>
</nav>
