<div class='player-modal'>
  <button class="close-btn">
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_name: 'plus'
    } %}
  </button>
  {% if 'vimeo' not in video_modifiers %}
    <div class='player-container'></div>
  {% endif %}
</div>