@mixin playButton {
  position: absolute;
  top: calc(47%);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border: 0;
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  cursor: pointer;
  svg {
    cursor: pointer;
    width: 62px;
    height: 69px;
  }
}

/* Responsive Video using CSS only */
.video {
  height: 0;
  overflow: hidden;
  // padding-top: 35px;
  padding-bottom: 56.25%; /* 56.25% = 16x9 */
  .video--poster {
    position: relative;
    display: inline-block;
    img {
      cursor: pointer;
    }
    &:hover {
      button {
        color: $blue-dark;
        background-color: $yellow;
      }
    }
    .figure {
      position: relative;
      &__caption {
        background-color: rgba($black, 0.5);
      }
    }
  }
  .play-btn {
    @include playButton();
  }

  // iframe {
  //   height: 100%;
  //   left: 0;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  // }
}

.video--full {
  padding-bottom: 75%; /* 75% = 4x3 */
}
