{#
/**
 * Available variables:
 * - video_base_class - the base classname
 * - video_modifiers - array of modifiers to add to the base classname
 *   by default, videos are expected to be 16x9, include the modifier "full" to support a 4x3 video
 * - video_blockname - blockname prepended to the base classname
 * - video_content - the content of the video (typically an iframe)
 *   the "|raw" filter is applied so that the iframe is rendered instead
 *   of simply passing the iframe as plain text.
 *
 * Available blocks:
 * - video_content - used to replace the content of the video with something other than the typical iframe
 *   for example: to insert an html5 video component
 */
#}
{% set video_base_class = video_base_class|default('video') %}

{# {% if youtube_video_id %}
  {% set video_id: 'data-video-id'}
{% endif %} #}
{% if youtube_video_id is not empty %}
  <div {{ bem(video_base_class, video_modifiers) }} data-video-id={{youtube_video_id}}>
{% elseif vimeo_video_id is not empty %}
  <div {{ bem(video_base_class, video_modifiers) }} data-vimeo-video-id={{vimeo_video_id}}>
{% else %}
  <div {{ bem(video_base_class, video_modifiers) }}>
{% endif %}
  {% block video_content %}
    <div class="{{ video_base_class }}--poster">
      {% if poster_image_caption is not empty %}
        {% include "@atoms/images/image/figure.twig" with {
          image_src: poster_image,
          image_alt: poster_image_alt,
          image_caption: poster_image_caption
        } %}
      {% else %}
        {% include "@atoms/images/image/_image.twig" with {
          image_src: poster_image,
          image_alt: poster_alt
        } %}
        {# <img src="{{ poster_image }}"  /> #}
      {% endif %}
      <button class="play-btn">
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: 'playButton'
      } %}
      </button>
    </div>
    {% if 'youtube' in video_modifiers %}
      {% include "@atoms/video/_player-modal.twig" %}
    {% endif %}
  {% endblock %}
</div>
