$quote-margin: 50px;

blockquote {
  margin: 0;
}

.blockquote {
  font-family: $font-body;
  font-weight: normal;
  font-size: 26px;
  font-style: italic;
  line-height: 1.3;
  position: relative;
  // display: flex;
  display: grid;
  padding: $quote-margin $xl-margin;
  margin: 0;
  // margin: 0 0 50px 40px;
  @include breakpoint($medium $large) {
    @include site-padding(25px, 25px);
    // padding: 25px $l-margin;
  }
  @include breakpoint(0 $medium) {
    // padding: 8px $s-margin;
    @include site-padding(8px, 8px);
  }
  img {
    align-items: flex-start;
  }

  &--image {
    @include breakpoint(0 $large) {
      display: block;
      img {
        display: none;
      }
    }

    grid-template-columns: 348px 1fr;
    &-right {
      grid-template-columns: 1fr 348px;
    }

    .image-right {
      margin-left: 30px;
      margin-right: 0;
      width: 318px;
    }
    .image-left {
      margin-right: 30px;
      // margin-left: 75px;
      width: 318px;
    }

    &::before {
      width: 100px;
    }
  }

  &-attribution {
    display: block;
    font-family: $font-body;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 24px;
  }
  &--dark {
    margin: 60px 0;
    background-color: $blue;
    // @include site-padding();
    color: $white;
    .blockquote-attribution {
      color: $yellow;
    }
  }
  &--yellow {
    z-index: 2;
    &.blockquote--image {
      grid-template-columns: 393px 1fr;
      &-right {
        grid-template-columns: 1fr 348px;
      }
      .image-left {
        margin-left: 75px;
      }
    }

    margin: $quote-margin 0;
    .copy {
      padding-left: 75px;
      @include breakpoint($medium $large) {
        padding-left: 50px;
      }
      @include breakpoint(0 $medium) {
        padding-left: 25px;
      }
      &::before {
        content: '';
        width: 150px;
        flex-direction: column;
        flex: 1 1 auto;
        background-color: $yellow;
        border: 1px solid $yellow;
        position: absolute;
        // left: -3rem;
        // top: -5rem;
        // bottom: -3rem;
        top: 0;
        left: $xl-margin;
        bottom: 0;
        z-index: -1;
        @include breakpoint($medium $large) {
          left: $l-margin;
        }
        @include breakpoint(0 $medium) {
          left: $s-margin;
        }
      }
    }
    .blockquote-attribution {
      margin-left: 48px;
    }

    // &.blockquote--image {
    //   .blockquote-attribution {
    //     margin-left: 72px;
    //   }
    // }
  }
}
