.callout-fiftyFifty {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  .callout-half {
    flex: 1;
    color: $white;
    .callout-copy {
      .h1,
      .h2,
      .h3,
      .h4,
      .h5 {
        color: $white;
        font-size: 26px;
        font-weight: normal;
      }
    }

    display: flex;
    flex-direction: column;
    &:first-child {
      background-color: $gray-blue;
    }
    &:nth-child(2) {
      background-color: $blue-dark;
    }
    .callout-top {
      flex: 0 0 0%;
      padding: 30px 30px 0 30px;
    }
    .callout-bottom {
      // padding: 60px 70px 60px 100px;
      @include site-padding(60px, 60px);

      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: stretch;
      .callout-copy {
        flex: 1;
      }
    }
    .button--ghost {
      margin-top: 10px;
      min-width: 280px;
    }
  }
  @include breakpoint(0 $medium) {
    display: block;
  }
  &--container {
    background: linear-gradient(
      90deg,
      $gray-blue 0%,
      $gray-blue 50%,
      $blue-dark 50%,
      $blue-dark 100%
    );
  }
}
