.nav-search {
  display: flex;
  .trigger {
    .iconButton {
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid $white;
      }

      background-color: transparent;
      color: $white;
      padding: 0;
      &--search {
        width: auto;
        height: auto;
      }
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  .form {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.2s ease-in-out;
    .form-item__textfield {
      height: 10px;
      // padding: 10px;
    }
    .iconButton {
      &--search {
        height: 14px;
        width: 14px;
        padding: 0;
        right: 10px;
        top: 2px;
      }
    }
  }

  &.exposed {
    .trigger {
      display: none;
    }
    .form {
      max-width: 500px;
    }
  }
}
