// .view-news-search {
.js-pager__items {
  list-style: none;
  margin: 48px auto;
  text-align: left;
  padding: 0;
  li {
    display: inline;
  }
  .is-active {
    a {
      text-decoration: underline;
    }
  }
}

nav[aria-labelledby='pagination-heading'] ul {
  display: flex;
  justify-content: center;
}

// h1.h1 {
//   margin-top: 48px;
//   padding-left: $side-padding-xl;
// }
// }
