.search-bar {
  margin-bottom: 60px;
  .search-field {
    display: flex;
    #search-term {
      margin-right: 40px;
    }
  }
  &--nav {
    margin-bottom: 0;
    .search-field {
      position: relative;
      #search-term {
        margin-right: 0;
        font-size: 16px;
      }
    }
    .iconButton {
      cursor: pointer;
      position: absolute;
      right: 0;
      background-color: transparent;
      color: $blue;
      .icon {
        height: 20px;
      }
    }
  }
}

// .search-bar,
// #views-exposed-form-news-search-news-search,
// #views-exposed-form-search-search {
//   margin: 90px 0;
//   .search-field {
//     display: flex;
//     #search-term {
//       width: 100%;
//     }
//     input[type='submit'] {
//       margin-left: 40px;
//     }
//   }
//   &--mini {
//     color: white;
//     max-width: 350px;
//     .search-field {
//       display: block;
//       position: relative;
//       button {
//         position: absolute;
//         top: 2px;
//         right: -52px;
//         height: 43px;
//       }
//     }
//   }
//   @include breakpoint(0 $medium) {
//     .search-field {
//       display: block;
//       input[type='submit'] {
//         margin-left: 0;
//         margin-top: 10px;
//       }
//     }
//   }
// }
