{% set nav_search_bar_base_class = nav_search_bar_base_class|default('nav-search') %}

<div {{bem(nav_search_bar_base_class, nav_search_bar_modifiers)}}>
  <div class="trigger">
    {% include "@atoms/buttons/twig/iconButton.twig" with {
        button_modifiers: ['search'],
        aria_label: 'submit',
        icon: 'magnifyingGlass',
    } %}  
  </div>
  <div class="form">
    {% include "@molecules/searchBar/searchBar.twig" with {
      modifiers: ['nav'],
    } %}
  </div>
</div>