{% set search_bar_base_class = search_bar_base_class|default('search-bar') %}

{# {% set action_attribute = create_attribute() %} #}
{% set form_action = 
    {'action' : '/search'} %}


<form {{ bem(search_bar_base_class, modifiers) }} {{create_attribute({form_action})}}>
    {% if field_label %}
    <label for="search-term" class="form-item__label form-item__label--required form-item__label--textfield">{{ field_label }}</label>
    {% endif %}
    <div class="search-field">
        <input id="search-term" name="search" maxlength="128" class="form-item__textfield form-item__textfield--password form-item__textfield--required" placeholder="Search this site..." required="required" aria-required="true" placeholder="{{field_placeholder}}">    
        {% if 'mini' or 'nav' in modifiers %}
            {% include "@atoms/buttons/twig/iconButton.twig" with {
                button_modifiers: ['search'],
                aria_label: 'submit',
                icon: 'magnifyingGlass',
            } %}
        {% else %}
            <input type="submit" value="{{ cta_text }}" />
        {% endif %}
    </div>
</form>
