{% set image_caption = details.date|date('M d, Y') ~ ' | ' ~ details.publication %}

<div class="teaser teaser--featured">
    {% include "@atoms/images/image/figure.twig" with {
        image_src: image_featured.src,
        image_alt: image_featured.alt
    } %}
    <div class="copy">
        <a class="headline" href={{ url }}>{{ details.title }}</a>
        <p>{{ details.description_short }}</p>
    </div>
</div>
