.related-links {
  h4 {
    margin-top: 34px;
    margin-bottom: 16px;
    color: $black;
  }
  .story-link {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    .link-icon {
      margin-right: 14px;
      .icon {
        width: 6px;
        height: 14px;
      }
    }
    .link {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
