{% set related_faculty_base_class = related_faculty_base_class|default('related-faculty') %}

<div {{ bem(related_faculty_base_class, modifiers) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: 'Related Faculty'
    } %}
    <div class="people">
        {% for person in related_faculty %}
            {% include "@molecules/news-events/person.twig" with {
                url: person.url,
                name: person.name,
                img_url: person.img_url,
                titles: person.titles
            } %}
        {% endfor %}
    </div>
</div>