{% set related_links_base_class = related_links_base_class|default('related-links') %}

<div {{bem(related_links_base_class, related_links_modifiers)}}>
    {% include "@atoms/text/headings/_heading.twig" %}

  {% for link in links %}
  <div class="story-link">
    <div class="link-icon">
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'arrowRight'
        } %}
    </div>
    <div class="link">
            {% include "@atoms/links/link/link.twig" with {
                link_content: link.title,
                link_url: link.url,
                link_attributes: link.attributes
            } %}
    </div>
  </div>
  {% endfor %}
</div>