{% set people_teasers_base_class = people_teasers_base_class|default('people-teasers') %}
<div {{ bem(people_teasers_base_class, modifiers) }}>
    {% for person in people %}
        {% include "@molecules/person/person-teaser.twig" with {
            img_src: person.img_src,
            name: person.name,
            titles: person.titles
        } %}
    {% endfor %}
</div>