{% set callouts_base_class = callout_base_class|default('callouts') %}
<div {{ bem(callouts_base_class, modifiers) }}>
    {% include "@molecules/callouts/callout-common.twig" %}
    {% if 'mini-menu' in modifiers %}
        {% include '@organisms/callouts/miniMenu/miniMenu.twig' %}
    {% endif %}
    {% if 'search' in modifiers %}
        {% include '@organisms/callouts/search/search.twig' %}
    {% endif %}
</div>