{% set personas_base_class = personas_base_class|default('personas') %}

<div {{bem(personas_base_class, personas_modifiers)}}>
  {% set persona_menu_items_base_class = persona_menu_items_bas_class|default('persona-menu-items') %}
  <div {{bem(persona_menu_items_base_class, persona_menu_items_modifiers)}}>
  {% for item in personas %}
          {% include "@molecules/persona/menu_item.twig" with {
            title: item.title,
            image_src: item.image_src,
            image_alt: item.image_alt,
            color: item.color,
            persona_menu_item_modifiers: ['menu-item'],
          } %}
        {# </div> #}
      {% endfor %}
  </div>
  {% set persona_panels_base_class = persona_panels_base_class|default('persona-panels') %}
  <div {{bem(persona_panels_base_class, persona_panels_modifiers, '')}}>
    {% for item in personas %}
      <div class="persona-wrapper" data-persona={{item.title|clean_class}}>
        {% include "@molecules/persona/tab.twig" with {
          title: item.title,
          image_src: item.image_src,
          image_alt: item.image_alt,
          color: item.color,
          persona_tab_modifiers: ['tab', item.color],
        } %}
        {% include "@molecules/persona/panel.twig" with {
          title: item.title,
          image_src: item.image_src,
          image_alt: item.image_alt,
          color: item.color,
          content: item.content,
          persona_panel_modifiers: ['panel', item.color],
        } %}
      </div>
    {% endfor %}
  </div>
</div>