// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$button-colors: (
  primary: (
    text: $black,
    bg: $yellow,
    text-hover: $black,
    bg-hover: $yellow-hover,
    text-active: $white,
    bg-active: $blue,
  ),
  ghost: (
    text: $white,
    bg: $transparent,
    text-hover: $white,
    bg-hover: $transparent,
  ),
  tag: (
    text: $blue,
    bg: $blue-light,
    text-hover: $blue,
    bg-hover: $blue-light,
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin buttonColors(
  $scheme,
  $pallate: map-get($button-colors, $scheme),
  $map: $button-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);

  &:visited {
    color: map-get($pallate, text);
  }

  &:hover {
    color: map-get($pallate, text-hover);
    background-color: map-get($pallate, bg-hover);
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 34px;
  font-size: 18px;
  line-height: 1;
}

@mixin button-ghost {
  border: 3px solid $white;
  &:hover {
    border-color: $white-hover;
    text-decoration: underline;
  }
}

@mixin button-tag {
  text-transform: none;
  font-size: 17px;
  padding: 2px 25px;
  font-weight: bold;
}

// Button color variations
// Note how we include dark mode options for each
@mixin button-color-primary {
  @include buttonColors(primary);
}

@mixin button-color-ghost {
  @include buttonColors(ghost);
}

@mixin button-color-tag {
  @include buttonColors(tag);
}

.button,
input[type='submit'] {
  @include button-base;
  @include button-color-primary;

  width: auto;

  &.reset {
    border: none;
    background-color: transparent;
    display: inline;
    width: auto;
    font-size: 11px;
    position: relative;
    top: 14px;
    left: 14px;
    padding: 0;
    cursor: pointer;
    color: $blue;
    text-transform: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.button--ghost {
  @include button-base;
  @include button-ghost;
  @include button-color-ghost;
}

.button--tag {
  @include button-tag;
  @include button-color-tag;
}

.button--active {
  background-color: $blue;
  color: $white;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.button--full-width {
  width: 100%;
}

// icon styling
.button--with-icon {
  svg {
    width: 14px;
    height: 14px;
    margin-left: 10px;
  }
}

a.button.button-tab {
  color: $white;
  &:hover,
  &--active {
    color: $black;
  }
}

a.button-tab {
  font-weight: bold;
  background-color: $blue;
  border: 0;
  color: $white;
  width: 150px;
  height: 72px;
  font-size: 18px;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &--active {
    color: $black;
    background-color: $yellow;
    text-decoration: none;
  }
  @include breakpoint (0 $medium) {
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
  }
}

.button--extra-large {
  width: 100%;
  font-family: $font-heading;
  font-size: 26px;
  padding: 28px 0;
}

.button--right {
  display: inline-block;
  right: 0;
  left: 100%;
}

.button-position {
  &__center {
    margin: 0 auto !important;
  }

  &__left {
    margin: 0 auto 0 0 !important;
  }

  &__right {
    margin: 0 0 0 auto !important;
  }

  &__center,
  &__left,
  &__right {
    display: table;
  }
}
