.colored-button {
  min-height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  text-decoration: none;
  line-height: 1.2;
  padding: 6px 35px 6px 25px;

  svg {
    height: 21px;
    width: 13px;
    flex: none;
    margin-left: 6px;
  }

  &--blue {
    background-color: $gray-blue;
  }

  &--green {
    background-color: $green;
  }

  &--yellow {
    background-color: $yellow-light;
  }
}