.iconButton {
  border: 0;
  &--menu {
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    svg {
      width: 20px;
      height: 18px;
    }
  }
  .label,
  .link--root-link {
    font-size: 26px;
    font-family: $font-heading;
    margin-left: 20px;
    text-decoration: none;
    color: $blue-dark;
  }
  .link--root-link {
    &:hover {
      text-decoration: underline;
    }
  }
  &--arrow,
  &--search {
    width: 55px;
    height: 45px;
    background-color: $yellow;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &--arrow {
    padding: 8px 20px;
    color: $blue-dark;
  }
  &--search {
    padding: 6px 10px;
    &-alt {
      width: 20px;
      height: 20px;
      background-color: transparent;
      padding: 0;
      color: $white;
    }
  }
}
