.shareButton {
  display: block;
  width: 48px;
  height: 48px;
  border: 4px solid $yellow;
  border-radius: 24px;
  position: relative;
  color: $white;
  svg {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: 24px;
    height: 24px;
  }
  &.shareButton--alt {
    border-color: $blue;
    color: $blue;
    width: 36px;
    height: 36px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
