$bg-transparency: 0.88;

.transparent-button {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  text-decoration: none;
  padding: 0 35px 0 55px;
  font-family: $font-heading;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.25;
  svg {
    height: 21px;
    width: 13px;
  }
  &--blue {
    background-color: rgba($gray-blue, $bg-transparency);
  }
  &--orange {
    background-color: rgba($orange, $bg-transparency);
  }
  &--green {
    background-color: rgba($green, $bg-transparency);
  }
  &--yellow {
    background-color: rgba($yellow-light, $bg-transparency);
  }
  &--gray {
    background-color: rgba($gray, $bg-transparency);
  }
}
