.sg-ghost-button-wrapper {
  background-color: $blue;
  padding: 24px;
}

.sg-icon-search-alt {
  .iconButton--search-alt {
    background-color: $blue;
  }
}

.sg-share-buttons {
  padding: 24px;
  display: flex;
  .shareButton {
    margin-bottom: 16px;
  }
}
.sg-share-buttons-blue {
  padding: 24px;
  background-color: $blue;
}

.sg-share-buttons-alt {
  padding: 24px;
}
