.form-item--checkboxes,
.form-item--checkbox__item,
.js-form-type-checkbox {
  @include list-reset;
  // @include inputIndicator('checkbox');
  .checkbox-label {
    font-weight: normal;
  }
}

.form-item--checkboxes {
  @include inputIndicator('checkbox');
}

.js-form-type-checkbox {
  @include inputIndicator('checkbox');
}