<li class="form-item--checkbox__item">
    <input data-drupal-selector="{{id}}" id="{{id}}" name="{{name}}" value="{{value}}" type="checkbox" class="form-checkbox form-item__textfield" {% if checked %} checked {% endif %}>
    <label class="checkbox-label" for="{{id}}">
    {{title}}
    </label>
</li>

{# 
<input data-drupal-selector="edit-field-event-type-6" type="checkbox"
id="edit-field-event-type-6" name="field_event_type[6]" value="6"
class="form-checkbox form-item__textfield"> 
#}
