{% if not attributes %}
<fieldset class="form-item form-item--checkbox">
  <legend>{{ title }}</legend>
  <ul class="form-item--checkboxes">
{% endif %}
  {% for key, checkbox in checkboxes %}
    {% include "@atoms/forms/checkbox/_checkbox-item.twig" with {
      id: checkbox.title,
      checked: checkbox.checked,
      title: checkbox.title,
    } %}
  {% endfor %}
{% if not attributes %}
  </ul>
</fieldset>
{% endif %}
