{% set features_briefs_base_class = features_briefs_base_class|default('features_briefs') %}
{# <div {{ bem(features_briefs_base_class, modifiers) }}> #}
<div class="items">
    {% for item in items %}
    <div class="item">
        {% include "@molecules/card/card.twig" with {
            details: item.details,
            image_featured: item.image_featured,
            type: item.type,
            tags: item.tags
        } %}
    </div>
    {% endfor %}
</div>