.features_briefs {
  &--teaser {
    display: block;
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      .item {
        // margin-bottom: 36px;
        background-color: $gray;
        height: 100%;
      }
      @include breakpoint($small $medium) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include breakpoint(0 $small) {
        grid-template-columns: 1fr;
      }
    }
    .cta {
      text-align: center;
    }
  }
}
