{% set features_briefs_base_class = features_briefs_base_class|default('features_briefs') %}

<div {{ bem(features_briefs_base_class, modifiers) }}>
    {% if section_title %}
        <h2 class="h2">{{ section_title }}</h2>
    {% endif %}
    {% if items %}
        {% include "./_features-briefs.twig" %}
    {% endif %}
    {% if cta_text %}
        <div class="cta">
            {% include "@atoms/buttons/twig/button.twig" with {
                button_content: cta_text,
                button_url: cta_url
            } %}
        </div>
    {% endif %}
</div>