.image--full-width-wrapper {
  &:not(.image--full-width-wrapper--no-gradient) {
    background-color: $blue;
  }
  .figure {
    max-width: $max-width;
    margin: 0 auto;
  }
  .figure__caption {
    background-color: rgba($black, 0.5);
  }
  .figure__image {
    margin: 0 auto;
  }
}
