{% set image_full_width_base_class = image_full_width_base_class|default('image--full-width-wrapper') %}

<div {{bem(image_full_width_base_class, image_modifiers)}}>
  {% include "@atoms/images/image/figure.twig" %}
</div>