{% set sidebar_event_registration_base_class = sidebar_event_registration_base_class|default('sidebar-event-registration') %}

<div {{ bem(sidebar_event_registration_base_class, modifiers) }}>
     {# Registration Button #}
     {# {{kint(details)}} #}
    {% if details.registration_cta == "Register Soon" %}
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: details.registration_cta,
            button_modifiers: ['full-width']
        } %}
        {# <p style="text-align: center; text-transform: uppercase; font-size: 18px; padding: 14px 0; margin: 0;"><b>{{details.registration_cta}}</b></p> #}
    {% elseif details.registration_cta %}
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: details.registration_cta,
            button_url: details.registration_url,
            button_modifiers: ['full-width']
        } %}
    {% endif %}
    {# Cost #}
    {% if details.cost %}
        {% include "@molecules/text/summary/summary.twig" with {
            label: 'Event Cost',
            icon: 'ticket',
            content: details.cost,
        } %}
    {% endif %}
    {# Organizer Contact #}
    {# {% set organizer_email = '<a href=mailto:"' ~ organizer.email ~ '">' ~ organizer.email ~ '</a>' %}
    {% set organizer_phone = '<a href=tel:"' ~ organizer.phone ~ '">' ~ organizer.phone ~ '</a>' %} #}
    {% if organizer %}
        {% include "@molecules/text/summary/summary.twig" with {
            label: 'Organizer Contact',
            icon: 'person',
            content: organizer,
        } %}
    {% endif %}
    {# Social Share #}
    {% if socialLinks %}
        {% include "@molecules/text/summary/summary.twig" with {
                label: socialLinks.label,
                content: socialLinks.content,
                icon: 'share',
                shareIcons: socialLinks.shareIcons
            } %}
    {% endif %}
    {# More Info #}
    {% if more_info %}
        {% include "@molecules/text/summary/summary.twig" with {
            label: 'More Info',
            content: more_info,
            icon: 'info'
        } %}
    {% endif %}
</div>