.sidebar {
  background-color: $gray;
  // padding: 64px 100px 100px 64px;
  // padding: 64px 100px 100px 100px;
  padding: 50px;
  @include breakpoint(0 $medium) {
    padding: 25px;
  }
  .button {
    margin-bottom: 30px;
  }
  .summary-section {
    margin-bottom: 24px;
  }
}
