{% set sidebar_base_class = sidebar_base_class|default('sidebar') %}

<section {{ bem(sidebar_base_class, modifiers) }}>
    {# Buttons #}
    {% if buttons %}
        {% for button in buttons %}
            {% include "@atoms/buttons/twig/button.twig" with {
                button_content: button.button_content,
                button_url: button.button_url,
                button_modifiers: ['full-width']
            } %}
        {% endfor %}
    {% endif %}
    {# Text #}
    {% if summaries %}
        {% for summary in summaries %}
            {% include "@molecules/text/summary/summary.twig" with {
                label: summary.label,
                content: summary.content
            } %}
        {% endfor %}
    {% endif %}
    {# Contacts #}
    {% if contacts %}
        {% for contact in contacts %}
            {% include "@molecules/text/summary/summary.twig" with {
                label: contact.label,
                content: contact.content,
                icon: 'person'
            } %}
        {% endfor %}
    {% endif %}
    {# Social #}
    {% if social %}
        {% include "@molecules/text/summary/summary.twig" with {
            label: social.label,
            content: social.content,
            icon: 'share',
            shareIcons: social.shareIcons
        } %}
    {% endif %}
    {# Event Registration #}
    {% if type == 'event' %}
        {% include "@organisms/sidebar/_event-registration.twig" %}
    {% endif %}
</section>