{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{# include "@molecules/menus/breadcrumbs/breadcrumbs.twig" #}

{% if breadcrumb %}

{% set links = [] %}
{% for item in breadcrumb %}
      {% set links = links|merge([{
        url: item.url,
        text: item.text,
      }]) %}
      {# <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li> #}
    {% endfor %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% include "@molecules/breadcrumbs/breadcrumb.twig" with {
      home_url: '/',
      home_text: 'Home'
    } %}
  </nav>

{% endif %}