{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{{ attach_library('ucisom/main-menu') }}
{{ attach_library('ucisom/collapsing_nav') }}

{% set header_top = drupal_menu('header-top')['#items'] %}
{% set global_menu = [] %}
{% for item in header_top %}
    {% set global_menu = global_menu|merge([{
        'url': item.url,
        'title': item.title,
    }]) %}
{% endfor %}

{% include "@molecules/menus/menu-primary.twig" with {
    menu_items: items,
    logo: site_logo,
    modifiers: site_modifier,
} %}