{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{# include "@molecules/menus/_menu.twig" #}

{# {% extends 'themes/custom/ucisom/templates/layout/region--footer.html.twig'
%} #}
  {% block footer_links %}
    {% set links = [] %}
    {% for link in items %}
      {% set title = link.title %}
      {% set url = link.url %}
      {% set links = links|merge([{'title': title, 'url': url}]) %}
    {% endfor %}
    {% include "@molecules/footer/footer-links.twig" %}
  {% endblock %}