.employee-directory {
  .accordion {
    margin-bottom: 16px;
    &-header {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      h3 {
        margin: 0;
        color: #1b3d6d;
      }
    }
    .icon {
      color: #1b3d6d;
      transition: transform 0.2s ease-out;
      &.open {
        transform: scale(1, -1);
      }
      svg {
        width: 45px;
        height: 22px;
      }
    }
    .content {
      padding: 24px;
      cursor: default;
      &[aria-hidden='true'] {
        display: none;
      }

      max-height: 500px;
      overflow-y: scroll;
    }
  }
}
