.clinical_trials {
  .h4 {
    margin-top: 0;
  }
  .trial {
    list-style: none;
    padding: 16px 10px 16px 0;
    border-bottom: 1px solid $gray-dark;
    .info {
      li {
        list-style: none;
      }
    }
  }
}