.faculty-directory {
  max-width: $max-width;
  margin: 0 auto;
  @include margin;
  @include site-padding;

  .view-filters form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;

    .form-item {
      margin-bottom: 0;
      margin-right: 15px;

      select {
        height: auto;
      }
    }
  }

  .view-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    @include breakpoint($medium $large) {
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;

    }

    @include breakpoint($small $medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @include breakpoint(0 $small) {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }

    .views-row {
      display: flex;
      flex-direction: column;
    }

    .person-teaser {
      width: auto;
      height: 100%;
    }
  }
}

/* Faculty Contextual View */
.faculty-filtered-view {
  padding: 3rem 0;

  .view-content {
    padding-top: 3rem;
  }
}