.main {
  display: block;
}

.employee-directory {
  h2,
  h3,
  .h2,
  .h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  .block {
    ul {
      @include list-reset();
      li {
        line-height: 1.5;
      }
    }
    &.links {
      a {
        font-family: $font-heading;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .titles {
    @include list-reset();
    li {
      line-height: 1.5;
    }
  }
  .sidebar {
    p {
      margin-bottom: 0;
    }
    .block {
      margin-bottom: 16px;
    }
    .link {
      &.h5 {
        font-size: 16px;
        display: block;
        margin-bottom: 0;
      }
    }
  }
}
