@import './accordion';
@import './main.scss';

.employee-directory {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 40px;
  @include breakpoint(0 $medium) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .content {
    padding: 0;
  }
  .sidebar {
    padding: 40px;
  }

}