.events-teasers {
  .event-items {
    .item {
      margin-bottom: 60px;
    }
  }
}

.events-list {
  hr {
    margin-bottom: 28px;
  }
  .items {
    background-color: $gray;
    padding: 24px;
    .event-list--events {
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .view-all-cta {
    margin: 24px 0;
  }
}

.events-search {
  // display: grid;
  // grid-template-columns: 1fr 3fr;
  // column-gap: 60px;
  .col-left {
    background-color: $gray;
    height: 100%;
    padding: 30px 60px;
  }
}

// Drupal styling for event-search-form
.view-events-search {
  .view-header {
    p {
      font-size: 20px;
    }
  }
  .pager {
    .pager__items {
      text-align: left;
      padding: 0;
    }
  }
  .form-item__label,
  legend {
    font-size: 17px;
    font-weight: bold;
  }
  .events-search-form {
    input[id^='edit-reset'] {
      font-weight: normal;
      color: $blue;
      text-decoration: italic;
      font-size: 16px;
      background-color: transparent;
      text-transform: initial;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#block-views-block-events-teasers {
  .title {
    text-align: left;
    hr.horizontalRule--yellow {
      margin-left: 0;
    }
  }
}

.events-teasers-image {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 75px;
    .image {
      text-align: center;
    }
    .items {
      grid-column: span 2;
      .content {
        padding: 0;
        display: block;
      }
    }
  }
  .button {
    display: inline-block !important;
    position: relative;
    // left: 50%;
    // transform: translateX(-50%);
    // margin: 48px 12px;
    margin-top: 0;
    padding: 14px 34px !important;
  }
  .items {
    background-color: transparent;
    padding: 0;
    .title,
    .view-all-cta {
      display: none;
    }
  }
  @include breakpoint(0 $large) {
    .content {
      // padding: 0;
      .items {
        grid-column: span 3;
      }
    }
    .image {
      display: none;
    }
  }
}

// body:not(.page-home) .view-events a.events-secondary-button {
//   display: none;
// }