{% set news_teasers_base_class = news_teasers_base_class|default('events-teasers') %}
<div {{ bem(news_teasers_base_class, modifiers) }}>
    <h2 class="month-header">{{ month }}</h2>
    <div class="event-items">
        {% for item in event_items %}
            <div class="item">
                {% include "@molecules/news-events/teaser.twig" with {
                details: item.details,
                image: item.image,
                type: item.type
                } %}
            </div>
        {% endfor %}
    </div>
</div>