{% set news_teasers_base_class = news_teasers_base_class|default('event-teasers') %}

<div {{ bem(news_teasers_base_class, modifiers) }}>
    {% if section_title %}
        <h2 class="h2">{{ section_title }}</h2>
    {% endif %}
    {% if event_items %}
        {% include "./_events-teasers.twig" with {
            items: event_items
        } %}
    {% endif %}
    {# {% if cta_text %}
        <div class="cta">
            {% include "@atoms/buttons/twig/button.twig" with {
                button_content: cta_text,
                button_url: cta_url
            } %}
        </div>
    {% endif %} #}
</div>