{% set event_search_base_class = event_search_base_class|default('events-search') %}
<div {{ bem(event_search_base_class, modifiers) }}>
    <div class="container--sidebar-left">
        <div class="col-left">
            {% include "@molecules/forms/event-search.twig" with {
                heading: search_data.heading,
                keyword_field_label: search_data.keyword_field_label,
                keyword_field_placeholder: search_data.keyword_field_placeholder,
                event_type_heading: search_data.event_type_heading,
                event_types: search_data.event_types,
                search_button_cta: search_data.search_button_cta,
                clear_filters_cta: search_data.clear_filters_cta
            } %}
        </div>
        <div class="col-right">
            {% include "@molecules/forms/month-pagination.twig" with {
                previous_alt_text: month_pagination_labels.previous_alt_text,
                next_alt_text: month_pagination_labels.next_alt_text,
                label: month_pagination_labels.label
            } %}
            {% include "@organisms/events/events-teasers.twig" %}
        </div>
    </div>
</div>