{% set events_list_base_class = eevnt_list_base_class|default('events-list') %}

<div {{ bem(events_list_base_class, modifiers) }}>
    {% if title %}
        {# Remove redundant title/heading #}
        {# {% include "@atoms/text/headings/_sectionHeader.twig" with {
            heading_level: 2,
            heading: 'Events'
        } %} #}
    {% endif %}
    <div class="items">
        {% for event in event_items %}
            {% include "@molecules/events/event_list.twig" with {
                details: event.details
            } %}
        {% endfor %}
    </div>
    <div class="view-all-cta">
        {# Remove redundant 'View All Events' button #}
        {# {% include "@atoms/links/link/link.twig" with {
            link_url: all_events_url,
            link_content: all_events_cta,
            link_modifiers: ['arrow'],
            icon_after: 'arrowRight'
        } %} #}
    </div>
</div>