{% set eventTeasersImageBaseClass = eventTeasersImageBaseClass|default('events-teasers-image') %}

<div {{bem(eventTeasersImageBaseClass, eventTeasersImageModifiers, '', ['container--locked', 'events-list'])}}>
  <h2 class="h2 section-header">Events</h2>
  <hr class="horizontalRule horizontalRule--yellow">
  <div class="content">
    <div class="image">
      <img src={{teaser_hero.src}} alt={{teaser_hero.alt}} />
    </div>
    <div class="agenda items">
    {% block agenda %}
      <h4>Agenda Data Goes here</h4>
    {% endblock %}
    </div>
  </div>
  {# {% include "@atoms/buttons/twig/button.twig" with {
    button_content: view_all_events.cta,
    button_url: view_all_events.url,
  } %} #}
</div>