.infographic {
  text-align: center;
  .icon {
    svg {
      color: $gray-dark;
      max-height: 140px;
      max-width: 240px;
    }
  }
  dl {
    margin: 0;
  }
  dd {
    color: $blue;
    font: {
      family: $font-heading;
      size: 48px;
      weight: bold;
    }

    margin: 0;
    padding: 0;
    line-height: 1.1;
  }
  dt {
    margin-top: 10px;
    color: $black;
    padding: 10px;
    font-size: 25px;
    line-height: 29px;
  }
}
