{% set infographic_base_class = infographic_base_class|default('infographic') %}

<div {{ bem(infographic_base_class, infographic_modifiers) }}>
  {% if svg_image_src != '/' %}
  <div class="icon">
    {{ source(svg_image_src) }}
  </div>
  {% endif %}
    <dl>
    <dd>{{ number }}</dd>
    <dt>{{ label }}</dt>
    </dl>
</div>