.section-header {
  font-family: $font-heading;
  display: block;
  text-align: center;
  margin-bottom: 0;
  // &::after {
  //   content: '';
  //   position: relative;
  //   top: 10px;
  //   display: block;
  //   // border: 7px solid $yellow;
  //   margin: 0 auto;
  //   height: 7px;
  //   background-color: $yellow;
  // }
  margin-top: 0;
}

h3.section-header {
  font-size: 26px;
  font-weight: normal;
  color: $blue;
  &::after {
    width: 210px;
  }
}

h2.section-header {
  font-size: 35px;
  color: $blue;
  &::after {
    width: 175px;
  }
  &--ghost {
    color: $white;
  }
}

// Styleguide styles
.sg-sectionHeaderExamples {
  background-color: $gray;
  padding: 10px;
}
