{% set headers_base_class = headers_base_class|default('section-header') %}
{% if id %}
<h{{ heading_level }} {{ bem(headers_base_class, modifiers) }} data-jumpid={{id}}>
{% else %}
<h{{ heading_level }} {{ bem(headers_base_class, modifiers) }}>
{% endif %}
    {{ heading }}
</h{{ heading_level }}>
{% include "@atoms/horizontalRules/horizontalRule.twig" with {
    horizontalRule_modifiers: ['yellow']
  
} %}