{% set fiftyFifty_base_class = fiftyFifty_base_class|default('callout-fiftyFifty') %}

<div {{ bem(fiftyFifty_base_class, fiftyFifty_modifiers) }}>
        {% for callout in callouts %}
            <div class='callout-half'>
                {# Image #}
                <div class="callout-top">
                    {% include "@atoms/images/image/_image.twig" with {
                        image_src: callout.img_src,
                        image_alt: callout.img_alt
                    } %}
                </div>
                <div class="callout-bottom">
                    <div class="callout-copy">
                        {# Header #}
                        {% include "@atoms/text/headings/_heading.twig" with {
                            heading_level: callout.heading_level,
                            heading: callout.heading_copy
                        } %}
                        {# Copy #}
                        <p>{{ callout.copy }}</p>
                    </div>
                    {% if callout.button_copy %}
                        <div class="callout-cta">
                            {# CTA #}
                            {% include "@atoms/buttons/twig/button.twig" with {
                                button_content: callout.button_copy,
                                button_url: callout.button_url,
                                button_modifiers: ['ghost'],
                                external_link: callout.button_external_link,
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
</div>