.callout-common--gradient {
  // @include space-stack-page;

  .content-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    // padding: 18px $side-padding-xl 18px $side-padding-xl;
    color: $white;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    position: relative;
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
      color: $white;
      font-size: 35px;
      margin-top: 0;
    }
    p {
      margin-bottom: 60px;
    }
    .content {
      // padding: 60px 0 60px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      p {
        margin: 0;
      }
    }
    .photo {
      width: 30%;
      display: flex;
      align-items: center;
    }
    .cta {
      margin-top: 60px;
    }
    @include space-stack-page;

    @include breakpoint(0 $medium) {
      display: block;
      .content,
      .photo {
        width: 100%;
        // .image {
        //   margin: $s-margin 0;
        // }
      }
    }
    
  }
  &--reverse {
    .content-wrapper {
      flex-direction: row-reverse;
    }
  }
}
