{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{# {% extends '@organisms/footer/_footer.twig' %} #}
{% block footer_info %}
  {% set copy = [] %}
  {% for item in content.field_icon['#items'] %}
    {% set icon = item.entity.field_template_icon.value %}
    {% set text = item.entity.field_title.value %}
    {% set copy = copy|merge([{'icon': icon, 'text': text}]) %}
  {% endfor %}
  
  {% set socialLinks = [] %}
  {% for item in content.field_social_links['#items'] %}
    {% set link_url = item.entity.field_link.0.url %}
    {% set link_alt_text = item.entity.field_link.0.title %}
    {% set social_icon = item.entity.field_template_icon.value %}
    {% set socialLinks = socialLinks|merge([{'link_url': link_url, 'link_alt_text': link_alt_text, 'social_icon': social_icon}]) %}
  {% endfor %}
  
  {% set footer_info = [] %}
  {% set footer_info = footer_info|merge({'logo_img': site_logo}) %}
  {% set footer_info = footer_info|merge({'department_or_center': content.field_text[0]['#context'].value}) %}
  {% set footer_info = footer_info|merge({'copy': copy}) %}
  {% set footer_info = footer_info|merge({'socialLInks': socialLinks}) %}

  {% include "@molecules/footer/footer-info.twig" %}

  {% set copyright = content.field_copyright.0 %}

{# {% include "@molecules/footer/footer-bar.twig" %} #}

{% endblock %}

  {# {% set socialLinks = [] %}
  {% for item in content.field_social_links['#items'] %}
    {% set link_url = item.entity.field_link.0.url %}
    {% set link_alt_text = item.entity.field_link.0.title %}
    {% set social_icon = item.entity.field_template_icon.value %}
    {% set socialLinks = socialLinks|merge([{'link_url': link_url, 'link_alt_text': link_alt_text, 'social_icon': social_icon}]) %}
  {% endfor %}
    {% include "@molecules/socialLinks/socialLinks.twig" %} #}

{# <p>{{file_url(content.field_logo[0]['#media'].field_media_image.entity.uri.value)}}</p>
<p>Deparment: {{content.field_text[0]['#context'].value}}</p>
{% for item in content.field_icon['#items'] %}
  <p>Icon: {{item.entity.field_template_icon.value}} | Text: {{item.entity.field_title.value}}</p>
{% endfor %} #}


{# {{kint(content.field_icon['#items'])}} #}
{# {{kint(content.field_icon[0]['#paragraph'].field_title.value)}}
{{kint(content.field_icon[0]['#paragraph'].field_template_icon.value)}} #}
{# <div {{ bem('block') }}>
  
  <h1>Block - Footer Info</h1>
  
  
  {% block content %}
    {{ content }}
  {% endblock %}
</div> #}

{# {% include "@molecules/footer/footer-info.twig" with {
  content: content
} %} #}