.callout-map {
  @include space-stack-page();

  margin-top: 50px;
  margin-bottom: 50px;

  // margin: 150px 0;

  // @include breakpoint(0 $medium) {
  //   margin: 25px 0;
  // }

  .content-wrapper {
    background-color: $blue;
    display: flex;
    column-gap: 0;
    // margin: $xl-vertial-space $side-padding-xl;
    // @include site-padding(50px, 50px);

    .info {
      color: $white;

      // margin-top: 90px;
      // margin-bottom: 100px;
      // padding: 50px 80px;
      a,
      h3 {
        color: $white;
      }
      .button {
        color: black;
      }

      @include site-padding(50px, 50px);

      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 15px;
      line-height: 150%;

      .name {
        font-size: 20px;
      }
    }

    .info,
    .map {
      flex: 1 1 50%;
    }

    .map {
      margin: -50px 0;
      display: flex;
      align-items: center;
    }

    iframe {
      width: 100%;
    }

    &--parking {
      margin: 0;
    }

    @include breakpoint(0 $medium) {
      // padding: 0;
      display: block;

      .info {
        margin: 0;
      }

      .map {
        margin: 0;
      }
    }
  }

  &.gray {
    .content-wrapper {
      background-color: $gray;
    }

    .content-wrapper .info {
      color: $blue;

      a,
      h3 {
        color: $blue;
      }
      .button {
        color: black;
      }
    }
  }

  &.gradient {
    .content-wrapper {
      background: $gradient-blue-green;
    }

    .content-wrapper .info {
      color: $white;

      a,
      h3 {
        color: $white;
      }
      .button {
        color: black;
      }
    }
  }

  &.left {
    .content-wrapper {
      flex-direction: row-reverse;
    }
  }
}
