{% set callout_map_base_class = callout_map_base_class|default('callout-map') %}
  <div {{bem(callout_map_base_class, callout_map_modifiers, '', ['container', background, mapSide]) }}>
    <div class="content-wrapper" >
      <div class="info">
        {% if id is not empty %}
          <span class="name" data-jumpid={{id}}><b>{{name}}</b></span>
        {% else %}
          <span class="name"><b>{{name}}</b></span>
        {% endif %}
        {{address1}}<br />
        {% if address2 %}
          {{address2}}<br />
        {% endif %}
        {% if city and state and zip %}
        {{city}}, {{state}} {{zip}}
        {% endif %}
        {% if phone %}
        <br />{{phone}}
        {% endif %}
        {% if rich_text %}
          {{rich_text|raw}}
        {% endif %}
      </div>
      <div class="map">
      {{iframe|raw}}
      </div>
    </div>
  </div>
