{{ attach_library('ucisom/vimeoVideoPlayer') }}

{% set vimeo_video_base_class = vimeo_video_base_class|default('vimeo') %}
<div {{ bem(vimeo_video_base_class, modifiers) }}>
    {# <div class="{{playlist_item_base_class}}-video"> #}
        {% include '@atoms/video/video.twig' %}
    {# </div> #}
</div>
