{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

{% set fields = form.elements %}
<div class="container--locked">
  {{form.elements.message}}
  {{fields.title}}
  <div class="field-group field-group--date">
    <h2 class="h2">Date</h2>
    {{fields.start_date}}
    {{fields.end_date}}
  </div>
  {{fields.type}}
  <div class="field-group field-group--images">
    <h2 class="h2">Images</h2>
    {{fields.hero_image}}
    {{fields.thumbnail}}
    {{fields.hero_image_text}}
    {{fields.hero_horizontal_align}}
    {{fields.hero_vertical_align}}
  </div>
  {{fields.summary}}
  {{fields.location}}
  {{fields.departments}}
  <div class="field-group field-group--home">
    <h2 class="h2">Details</h2>
    {{fields.details}}
  </div>
  <div class="field-group field-group--agenda">
    <h2 class="h2">Agenda</h2>
    {{fields.agenda_items}}
  </div>
  <div class="field-group field-group--speakers">
    <h2 class="h2">Speakers</h2>
    {{fields.speakers}}
  </div>
  <div class="field-group field-group--parking">
    <h2 class="h2">Parking</h2>
    {{fields.name}}
    {{fields.address_1}}
    {{fields.address_2}}
    {{fields.city}}
    {{fields.state}}
    {{fields.zip}}
    {{fields.phone}}
    {{fields.iFrame}}
  </div>
  <div class="field-group field-group--sponsors">
    <h2 class="h2">Sponsors</h2>
    {{fields.sponsors}}
  </div>
  <div class="field-group field-group--sidebar">
    <h2 class="h2">Sidebar</h2>
    {{fields.registratioin_url}}
    {{fields.cost}}
    {{fields.contact}}
    {{fields.additional_info}}
  </div>
  {# These fields required for form functionality #}
  {{form.form_build_id}}
  {{form.form_id}}
  {{form.form_token}}
  
  {# Submit Button #}
  {{form.actions}}
</div>
