{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

{% set fields = form.elements %}
<div class="container--locked event-submission">
  <div class="content">
    {{form}}
  </div>
</div>
