{#
/**
 * Available variables:
 * - blockquote_base_class - the base classname
 * - blockquote_modifiers - array of modifiers to add to the base classname
 * - blockquote_blockname - blockname prepended to the base classname
 * - blockquote_url - the url this blockquote should point to
 * - blockquote_content - the content of the blockquote (typically text)
 *
 * Available blocks:
 * - blockquote_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}
{% set blockquote_base_class = blockquote_base_class|default('blockquote') %}

  <blockquote
    {{ bem(blockquote_base_class, blockquote_modifiers, blockquote_blockname) }}
  >
  {% if image and 'image-right' not in blockquote_modifiers %}
    <img class='image-left' src={{ image }} alt={{ image_alt }} />
  {% endif %}
  <div class="copy">
    {{ quote }}
    <span class="blockquote-attribution">
      -{{ attribution }}
    </span>
  </div>
  {% if image and 'image-right' in blockquote_modifiers %}
    <img class='image-right' src={{ image }} alt={{ image_alt }} />
  {% endif %}
    
    {# {% block blockquote_content %}
      {{ blockquote.quote }}
    {% endblock %} #}
  </blockquote>
