.callout-basic {
  &--blue {
    background-color: $blue;
  }
  &--gray {
    background-color: $gray;
    padding-bottom: 24px;
  }
}

.callout {
  margin-top: $xl-vertial-space;
  margin-bottom: $xl-vertial-space;
  &--blue {
    background-color: $blue;
    padding-top: $space-xlarge;
    padding-bottom: $space-xlarge;
    margin-top: 0;
    margin-bottom: 0;
  }
  &--gray {
    background-color: $gray;
    padding-top: $space-xlarge;
    padding-bottom: $space-xlarge;
    margin-top: 0;
    margin-bottom: 0;
  }
  .banner {
    padding-bottom: 0;
  }
  .infographic-container,
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .imageLink {
      margin: 10px;
      flex: 1 1 100%;
      max-width: 20%;
      @include breakpoint($medium $large) {
        // flex: 1 1 30%;
        max-width: 30%;
      }
      @include breakpoint($small $medium) {
        // flex: 1 1 100%;
        max-width: 40%;
      }
      @include breakpoint(0 $small) {
        max-width: 100%;
      }
    }
    .infographic {
      flex: 0 1 240px;
      // margin-bottom: 24px;
    }
    @include breakpoint(0 $large) {
      flex-wrap: wrap;
    }
  }
  .links-container {
    text-align: center;
    // padding: 0 48px 48px 48px;
    padding: 0 48px;
  }
  .faculty {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0 $side-padding-xl;
    .person-teaser {
      margin: 12px;
      // flex: 0 0 calc(20% - 25px);
      // flex: 0 0 225px;
      flex: 0 0 250px;
      // flex: 0 0 calc(25% - 24px);
      // @include breakpoint($small $medium) {
      //   flex: 1 1 calc(50% - 24px);
      // }
    }
  }
  &--rich-text {
    .banner {
      padding-bottom: 0;
      padding-top: 0;
    }
    .columns,
    .richTextCopy {
      // @include site-padding(0, 0);
      @include site-padding();

      padding-bottom: 38px;
      .align-left {
        margin-right: 24px;
        @include breakpoint(0 $small) {
          margin-right: 0;
        }
      }
      .align-right {
        margin-left: 24px;
        @include breakpoint(0 $small) {
          margin-left: 0;
        }
      }
      .align-center {
        margin-right: 24px;
        margin-left: 24px;
        text-align: center;
        @include breakpoint(0 $small) {
          margin-left: 0;
          margin-right: 0;
        }
        img {
          margin: 0 auto;
        }
      }
      figcaption {
        padding: 8px 0;
      }
    }
    .columns {
      .text-long {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div {
          margin: 0 0 20px;
          width: 100%;
          flex: 1 1 20%;
          @include breakpoint($medium $large) {
            flex: 1 1 30%;
          }
          @include breakpoint(0 $medium) {
            flex: 1 1 100%;
          }
        }
      }
    }
    @include breakpoint(0 $small) {
      img {
        display: block;
        // width: 100%;
        margin: 10px auto;
        // text-align: center;
      }
    }
    &.rich-text-columns {
      &--gray {
        background-color: $gray;
        padding-bottom: 24px;
        padding-top: 24px;
      }
    }
  }

  .topics {
    margin: 38px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    @include site-padding(0, 0);
    @include breakpoint($small $large) {
      grid-template-columns: 1fr 1fr;
      .figure__caption {
        min-height: 75px;
      }
    }
    @include breakpoint(0 $small) {
      grid-template-columns: 1fr;
      .figure__caption {
        min-height: 75px;
      }
    }
  }
  &--topics {
    // margin-bottom: $xl-vertial-space;
    // @include site-padding(0, 0);
    // padding: 0 $side-padding-xl;
    &-centered {
      text-align: center;
      .figure__caption {
        justify-content: center;
      }
    }
  }
}

section.full-width-content {
  &--gray {
    background-color: $gray;
    padding-top: 54px;
    padding-bottom: 54px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    .content-wrapper {
      max-width: calc($max-width - 200px);
      margin: 0 auto;
      .richTextCopy {
        padding-bottom: 0;
      }
    }
  }
}
