{% set callout_base_class = callout_base_blass|default('callout') %}
{% set default_additional_classes = ['region', 'container'] %}

{# {% set additional_links = additional_links|merge(['region', 'container']) %} #}
{% if additional_classes is not empty %}
    {% set additonal_classes = additional_classes|merge(default_additional_classes) %}
{% else %}
    {% set additional_classes = default_additional_classes %}
{% endif %}
{# {{dd(additional_classes)}} #}
<div class="container--full-bleed">
    <section {{ bem(callout_base_class, modifiers, '', additonal_classes) }}>
        <div class='content-wrapper'>
            {% if banner.heading_text is empty and banner.body_copy is empty %}
                {% set banner = null %}
            {% endif %}
            {% if banner %}
                {% include "@molecules/banners/banner.twig" with {
                    heading_level: banner.heading_level,
                    heading_text: banner.heading_text,
                    body_copy: banner.body_copy,
                    banner_modifiers: modifiers
                } %}
            {% endif %}
            {% if infographics %}
                <div class="infographic-container">
                    {% for infographic in infographics %}
                        {% include "@atoms/images/infographicImage/infographicImage.twig" with {
                            icon: infographic.icon,
                            number: infographic.number,
                            label: infographic.label,
                            svg_image_src: infographic.svg_image_src,
                            svg: infographic.svg
                        } %}
                    {% endfor %}
                </div>
            {% endif %}
            {# {% if icons %}
                <div class="button-container">
                {% for button in icons %}
                    {% include "@atoms/images/imageLink.twig" with {
                        icon: button.icon,
                        label: button.label,
                        link_url: button.link_url,
                        modifiers: modifiers,
                        additional_links: button.additional_links,
                        svg_image_src: button.svg_image_src,
                    } %}
                {% endfor %}
                </div>
            {% endif %} #}
            {% if images %}
                <div class="button-container">
                    {% for image in images %}
                        {# {% if image.image_type and image.image_type is 'svg' %} #}
                        {% if image.image_type == 'svg' %}
                            {% include "@atoms/images/imageLink.twig" with {
                                label: image.label,
                                link_url: image.link_url,
                                modifiers: modifiers,
                                additional_links: image.additional_links,
                                svg_image_src: image.image_src,
                                rich_text: image.rich_text,
                            } %}
                        {% else %}
                            {% include "@atoms/images/imageLink.twig" with {
                                image_src: image.image_src,
                                image_alt: image.image_alt,
                                label: image.label,
                                link_url: image.link_url,
                                additional_links: image.additional_links,
                                rich_text: image.rich_text,
                            } %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if faculty %}
                <div class="faculty">
                    {% for person in faculty %}
                        {% include "@molecules/person/person-teaser.twig" with {
                            'img_src': person.img_src,
                            'name': person.name,
                            'url': person.url,
                            'titles': person.working_titles,
                            'phone': person.show_phone ? person.phone : null,
                            'email': person.show_email ? person.email : null,
                            'url': person.url,
                            'unique_id': person.unique_id
                        } %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if richText %}
                <div class="richTextCopy">
                    {{richText}}
                </div>
            {% endif %}
            {% if columns %}
                <div class="columns">
                    {{columns}}
                {# {{kint(columns)}}
                    {# {% for column in columns['#items'] %}
                    {{kint(column)}}
                        <div class="column">
                            {{column.value}}
                        </div>
                    {% endfor %} #}
                </div>
            {% endif %}
            {% if topics %}
                <div class="topics">
                {% for topic in topics %}
                    {% include "@molecules/card/card.twig" with {
                        type: 'topic',
                        details: topic.details,
                        image_card: topic.image_card,
                        link: topic.link,
                        new_window: topic.new_window,
                    } %}
                {% endfor %}
                </div>
            {% endif %}
            {% if links[0].button_content %}
                <div class="links-container">
                    {% for link in links %}
                        {% include "@atoms/buttons/twig/button.twig" with {
                            button_content: link.button_content,
                            button_url: link.button_url,
                            button_modifiers: link.button_modifiers,
                            new_window: link.new_window,
                        } %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</div>