.region {
  background-color: $white;
  &--blue {
    background-color: $blue;
    color: $white;
  }
  &--gray {
    background-color: $gray;
  }
}

// styleguide styles
.sg-regions {
  .region {
    padding: 20px;
  }
}
