$side-padding: 45px;
$vertical-padding: 24px;

$xl-arrow-padding: $xl-margin + $side-padding;
$l-arrow-padding: $l-margin + $side-padding;
$s-arrow-padding: $s-margin + $side-padding;

.accordion-item {
  margin-bottom: 16px;
  transition: height 0.2s ease-out;
  position: relative;
  .content-wrapper {
    position: relative;
  }
  button {
    background-color: $gray;
    width: 100%;
    text-align: left;
    border: 0;
    display: block;
    cursor: pointer;
    padding: $vertical-padding $xl-arrow-padding $vertical-padding $xl-margin;
    @include breakpoint($medium $large) {
      padding: $vertical-padding $l-arrow-padding $vertical-padding $l-margin;
    }

    @include breakpoint(0 $medium) {
      padding: $vertical-padding $s-arrow-padding $vertical-padding $s-margin;
    }

    text-decoration: none;
    color: $blue-dark;
    font-weight: 400;
    font-size: 26px;
    font-family: $font-heading;
    &:focus {
      outline: none;
    }
  }
  .content {
    display: none;
    // padding: $vertical-padding 50px $vertical-padding $side-padding;
    padding: $vertical-padding $side-padding-xl;
    @include breakpoint($medium $large) {
      padding: $vertical-padding $l-arrow-padding $vertical-padding $l-margin;
    }

    @include breakpoint(0 $medium) {
      padding: $vertical-padding $s-arrow-padding $vertical-padding $s-margin;
    }
  }
  .icon-open,
  .icon-closed {
    .icon {
      color: $blue-dark;
      height: 22px;
      width: 45px;
      position: absolute;
      top: $vertical-padding;
      right: 30px;
      right: 100px;
      transition: transform 0.2s ease-out;
      cursor: pointer;
      @include breakpoint($medium $large) {
        right: $l-margin;
      }
      @include breakpoint(0 $medium) {
        right: $s-margin;
      }
    }
  }

  &[aria-expanded='true'] {
    button {
      background-color: $blue-light;
    }
    .content {
      display: inline-block;
      height: auto;

      img {
        padding: 0 2rem;
      }
    }
    .icon-closed {
      display: none;
    }
    .icon-open {
      display: block;
    }
    // .icon-close,
    // .icon-open {
    .icon {
      transform: scale(1, -1);
      top: $vertical-padding;
    }
    // transform: rotate(180deg);
    // }
  }
  &--alert {
    background-color: $orange;
    margin-bottom: 0;
    button {
      background-color: $orange;
      color: $blue-dark;
      // padding-left: $side-padding-xl;
      // @include site-padding;
    }
    .icon-open,
    .icon-closed {
      .icon {
        // right: $xl-margin;
        color: $blue-dark;
        fill: $blue-dark;
      }
    }
    .content {
      margin-top: 0;
      // @include site-padding;
      // padding-left: $side-padding-xl;
      // padding-right: $side-padding-xl;
      .button--ghost {
        color: $blue-dark;
        border-color: $blue-dark;
      }
    }
    .icon-open {
      display: none;
    }
    &[aria-expanded='true'] {
      button {
        background-color: $orange;
      }
      .content {
        background-color: $orange;
      }
      .icon-open {
        display: block;
      }
      .icon-closed {
        display: none;
      }
    }
  }
}
