.view-funding-opportunities {
  .content {
    padding-right: 0;
    .views-row {
      border-bottom: 1px solid $blue-dark;
      margin-bottom: 24px;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.teaser--funding-opportunity {
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

.container--funding-opportunity {
  .funding-opportunity {
    padding-right: 100px;
    @include breakpoint(0 $large) {
      padding-right: 0;
    }
  }
  .sidebar {
    .h3 {
      margin-bottom: 10px;
      border-bottom: 1px solid black;
    }
    .more-link {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .due-dates {
    @include list-reset();
    li {
      margin-bottom: 10px;
    }
  }
  .tags {
    .tag {
      margin: 10px 0;
      border-bottom: 1px solid $blue-light;
      a {
        margin-bottom: 10px;
      }
      .label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
