{% set funding_opportunity_base_class = funding_opportunity_base_class|default('funding-opportunity') %}




<div {{ bem(funding_opportunity_base_class, modifiers) }}>
    <h1 class="h2">{{ details.title }}</h1>
    <hr>
    
    {# <div class="col-2"> #}
        
    {# </div> #}
    {% include "@organisms/news/pressRelease/_copy.twig" %}
    {# {% include "@atoms/images/image/figure.twig" with {
        output_image_tag: true,
        image_src: image_full.src,
        image_caption: image_full.caption,
        image_credit: image_full.credit
    } %} #}
    {# {% if related_links %}
        <h4 class="h4">Associated Links</h4>
        {% include "@atoms/links/link/link-list.twig" with {
            links: related_links
        } %}
    {% endif %}
    {% if about %}
        {% include "@organisms/news/pressRelease/_copy.twig" with {
            heading: about.heading,
            heading_level: about.heading_level,
            copy: about.copy
        } %}
    {% endif %}
    {% if related_faculty %}
        {% include "@molecules/news/_related-faculty.twig" with {
            heading_level: related_faculty.heading_level,
            heading_copy: related_faculty.heading_copy,
            person: related_faculty.person
        } %}
    {% endif %} #}
</div>