.table {
  max-width: $max-width;
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  tr {
    border: 0;
  }
  td {
    border: 0;
    padding: 16px;
    p {
      margin: 0;
    }
  }
  th {
    text-align: left;
    padding: 16px;
    p {
      margin: 0;
    }
  }
  thead {
    background-color: $blue;
    color: $white;
    font-weight: bold;
  }
  tbody {
    tr {
      // cursor: pointer;
      &:nth-child(odd) {
        background-color: $gray;
      }
      // &:hover {
      //   background-color: $blue-light;
      // }
    }
  }
}
