{% set table_base_class = table_base_class|default('table') %}
<table {{bem(table_base_class, table_modifiers)}}>
  {% for section in sections %}

    {% include "@atoms/tables/table_section.twig" with {
      section_type: section.section_type,
      rows: section.rows,
    } %}
  {% endfor %}
</table>