{% set table_row_base_class = table_row_base_class|default('table_row') %}

{% if section_type == 'header' %}
  <thead>
{% elseif section_type == 'footer' %}
  <tfoot>
{% else %}
  <tbody>
{% endif %}
    {% for row in rows %}
    <tr {{bem(table_row_base_class, table_row_modifiers)}}>
      {% for item in row %}
        {% for cell in item %}
          {% include "@atoms/tables/_table_cell.twig" with {
            'copy': cell.copy,
            'colspan': cell.colspan,
          } %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {# </tbody> #}