.callouts {
  &--mini-menu {
    max-width: $max-width;
    margin: 0 auto;
    background-color: $gray;
    color: $white;
    display: grid;
    grid-template-columns: 30% 70%;

    .h2 {
      color: $white;
      margin: 0 0 12px 0;
    }

    .content {
      background-color: $blue;
      // padding: 24px 100px;
      @include site-padding(24px, 24px);

      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        padding: 0;
      }

      .cta a {
        margin-right: 42px;
      }
    }

    .photo {
      grid-row: 1/2;
      background-size: cover;

      &--no-bar-title {
        grid-row: 1/3;
      }
    }

    .bar-title {
      .h2 {
        color: $blue;
      }

      padding: 18px 34px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .menu {
      height: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px 20px;

      li {
        list-style: none;
        display: flex;
      }
    }

    .footer-bar {
      background-color: $gray;

      .h2 {
        color: $blue;
      }
    }

    @include breakpoint(0 $large) {
      display: grid;
      grid-template-columns: 1fr;

      .photo {
        grid-row: 1;
        height: 350px;
      }

      .bar-title {
        grid-row: 2;
        @include site-padding(18px, 18px);
      }

      .content {
        grid-row: 3;
      }

      .right {
        grid-row: 4;
      }

      .menu {
        display: block;

        li {
          border-top: 5px solid $white;
        }
      }
    }
  }
}