{% set callouts_base_class = callout_base_class|default('callouts') %}
<div {{ bem(callouts_base_class, modifiers) }}>
{% set photo_class = bar_title is not empty ? 'photo' : ['photo', 'no-bar-title'] %}
{% set photo_modifiers = bar_title is empty ? 'no-bar-title' : '' %}
    {# <div class="content-wrapper"> #}
        <div {{bem('photo', photo_modifiers)}} style="background-image: url('{{ img_src }}')">
        </div>
        <div class='content'>
            {% include "@atoms/text/headings/_heading.twig" with {
                heading_level: heading_level,
                heading: heading_copy,
                id: id,
            } %}
            {# Copy #}
            <p>{{ body_copy }}</p>
            {# CTA #}
            {% if ctas %}
                <div class="cta">
                {% for cta in ctas %}
                    {% include "@atoms/buttons/twig/button.twig" with {
                        button_content: cta.link_text,
                        button_url: cta.link_url,
                        button_modifiers: cta.button_modifiers,
                        external_link: cta.link_external,
                    } %}
                {% endfor %}
                </div>  
            {% endif %}
        </div>
        {% if bar_title %}
        <div class="bar-title">
        {# Header #}
            {% include "@atoms/text/headings/_heading.twig" with {
                heading_level: heading_level,
                heading: bar_title,
                id: "",
            } %}
        </div>
        {% endif %}
        <div class="right">
            <ul class='menu'>
                {% for menu_item in menu_items %}
                <li>
                    {% include "@atoms/buttons/twig/coloredButton.twig" with {
                        button_content: menu_item.button_content,
                        button_url: menu_item.button_url,
                        button_modifiers: menu_item.button_modifiers
                    } %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {# </div> #}
</div>