// https://www.w3.org/Style/Examples/007/color-bullets.en.html

.text-long,
.richTextCopy {
  ul,
  ol {
    padding-left: 48px;
    line-height: 1.5;
  }
  ul {
    list-style: none;
    li::before {
      // content: '\2022';
      content: '\25CF';
      color: $blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  ol {
    // list-style-type: decimal;
    // list-style: none;
    // counter-reset: li;

    & > li {
      // counter-increment: li;

      &::marker {
        color: $blue;
        font-weight: bold;
      }

      &::before {
        // content: '.' counter(li);
        // color: $blue;
        // font-weight: bold;
        // display: inline-block;
        // width: 1em;
        // margin-left: -1.5em;
        // margin-right: 0.5em;
        // text-align: right;
        // direction: rtl;
      }
    }
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

// .text-long {
//   ol,
//   ul {
//     li {
//       // @extend .list-item;
//     }
//   }
// }

// Styleguide styling
.sg-lists {
  padding: 10px;
}
