$check: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="currentColor" /></svg>');
$circle: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><circle cx="50" cy="50" r="40" fill="currentColor" /></svg>');
$downArrow: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="45" height="22" viewBox="0 0 45 22" fill="none" id="arrowDown"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.7067 21.9918C23.2498 21.949 23.763 21.735 24.1709 21.3846L44.0319 4.44556C44.5789 4.02325 44.9251 3.40047 44.9887 2.72131C45.0544 2.04404 44.8316 1.36877 44.374 0.854972C43.9165 0.34117 43.264 0.0317825 42.5678 0.00258756C41.8715 -0.0285504 41.1932 0.222502 40.6899 0.693453L22.4997 16.2002L4.30959 0.693453C3.80828 0.222492 3.12994 -0.0285504 2.43369 0.00258756C1.73743 0.0317776 1.08497 0.341215 0.627406 0.854972C0.167884 1.36872 -0.0529068 2.04404 0.010749 2.72131C0.0763961 3.40052 0.420539 4.02327 0.967589 4.44556L20.8286 21.3846C21.3458 21.8264 22.0222 22.0463 22.7065 21.9918H22.7067Z" fill="%230064A4" /></svg>');

// Checkboxes and Radio Selects
@mixin inputIndicator($type) {
  .form-item--#{$type}__item {
    position: relative;
    padding-left: 10px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
    @include breakpoint(0 $medium) {
      font-size: 16px;
      margin-bottom: 4px;
    }

    input[type='#{$type}'] {
      opacity: 0;
      appearance: none;
      position: absolute;
      &:checked {
        & ~ label {
          &::after {
            background: {
              color: $yellow;
              //   image: $check;
              size: 14px;
              position: 2px 2px;
              repeat: no-repeat;
            }
            @if $type == 'checkbox' {
              background-image: $check;
            }
            @if $type == 'radio' {
              background-image: $circle;
            }
          }
        }
      }
    }
    label {
      cursor: pointer;
      padding-left: 24px;
      display: inherit;
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border: 1px solid $black;
        left: 0;
        top: 6px;
        @if $type == 'radio' {
          border-radius: 10px;
        }
      }
    }
  }
}

.form-item {
  max-width: 100%;
}

fieldset {
  legend {
    margin-bottom: 14px;
  }

  border: none;
  padding: 0;
}
