{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if element['#parents'][0] == 'reset' %}
  <input{{ attributes.addClass('form-item__textfield reset') }} />{{ children }}
{% else %}
  <input{{ attributes.addClass('form-item__textfield') }} />{{ children }}
{% endif %}