footer {
  background-color: $blue;
  .content-wrapper {
    @include site-padding(10px, 10px);
  }
  .registration {
    border: 3px solid $yellow;
    display: flex;
    padding: 28px 100px;
    form {
      display: flex;
      width: 100%;
      .cta-text {
        font-size: 20px;
        margin-right: 36px;
        color: $yellow;
        font-style: italic;
        text-align: right;
        display: flex;
        align-items: flex-end;
      }
      .form-item {
        margin-right: 18px;
        margin-bottom: 0;
        width: 30%;
        input {
          height: 45px;
        }
      }
      .email-field {
        display: flex;
        .iconButton {
          flex: 0 0 55px;
          display: block;
          width: 55px;
        }
      }
    }
  }

  // Contact Info
  .contact-info {
    color: $white;
    &--logo {
      svg {
        height: 30px;
        // width: 390px;
        fill: $white;
      }
    }
    &--address {
      svg {
        height: 20px;
        width: 20px;
        display: inline;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }
    }
  }

  // Link List
  .footer-links {
    margin: 16px 0;
    column-count: 2;
    column-fill: balance;
    column-gap: 12px;
    .link-list {
      margin: -24px 0;
    }
    a.link {
      color: $white;
      text-decoration: none;
      display: block;
      margin: 24px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-bar {
    background-color: $footer-blue;
    color: $white;
    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .copyright {
      color: $yellow;
    }
    .link-list {
      text-align: right;
      li {
        display: inline-block;
        a {
          color: $white;
          text-decoration: none;
        }
        &::after {
          content: '|';
        }
        &:last-child {
          &::after {
            content: '';
          }
        }
      }
    }
  }

  // Styleguide Specific Styling
  .sg-form--blue {
    padding: 10px;
  }
  .sb-footer {
    background-color: $blue;
  }
}
