footer {
  .info {
    color: $white;
    a {
      color: white;
    }
    &--logo {
      svg {
        height: 30px;
        // width: 390px;
        fill: $white;
        filter: brightness(0) invert(1);
        width: auto;
      }
      @include breakpoint(0 $small) {
        svg {
          width: 100%;
        }
      }
    }
    &--address {
      svg {
        height: 20px;
        width: 20px;
        display: inline;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }
    }
  }
}
