{% set footer_bar_base_class = footer_bar_base_class|default('footer-bar') %}

{# <section {{ bem(footer_bar_base_class) }}> #}
    <div class="copyright">
        <p>&copy; {{copyright}}</p>
    </div>
    {# {% include "@atoms/links/link/link-list.twig" %}
</section> #}