{% set footer_info_base_class = footer_info_base_class|default('footer-info') %}
{% block footer_info %}
    <div {{ bem(footer_info_base_class, modifiers) }}>
        {% if footer_info.logo_img %}
            <div class="info info--logo">
                {{ source(footer_info.logo_img) }}
            </div>
        {% endif %}
        <div>{{footer_info.department_or_center}}</div>
        <div class="info info--address">
            {% for item in footer_info.copy %}
                <p>{% include "@atoms/images/icons/_icon.twig" with { icon_name: item.icon } %} {{ item.text|raw }}</p>
            {% endfor %}
        </div>
        {% include "@molecules/socialLinks/socialLinks.twig" %}
    </div>
{% endblock %}