{% set registration_base_class = registration_base_class|default('registration') %}
<div {{ bem(registration_base_class, modifiers) }}>
    <form>
        <div class="cta-text">{{ registration_form.cta_text }}</div>
        <div class="form-item form-item--blue">
            <label for="full-name" class="form-item__label form-item__label--required form-item__label--textfield">{{ registration_form.name_label }}</label>
            <input id="full-name" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="{{ registration_form.name_label }}">
        </div>
        <div class="form-item form-item--blue">
            <label for="email" class="form-item__label form-item__label--required form-item__label--textfield">{{ registration_form.email_label }}</label>
            <div class="email-field">
                <input id="email" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="{{ registration_form.email_label }}">
                {% include "@atoms/buttons/twig/iconButton.twig" with {
                    button_modifiers: ['arrow'],
                    aria_label: 'submit',
                    icon: 'arrowRight',
                } %}
            </div>
        </div>
    </form>
</div>