.video--youtube,
.video--vimeo {
  max-width: 1220px;
  .player-modal {
    display: none;
    background-color: rgba($black, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    &.visible {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      z-index: 500;
    }
    .close-btn {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 24px;
      right: 24px;
      border-radius: 24px;
      z-index: 50;
      svg {
        width: 100%;
        height: 100%;
      }

      transform: rotate(45deg);
      cursor: pointer;
      background-color: $blue;
      color: $yellow;
      &:hover {
        background-color: $yellow;
        color: $blue;
      }
    }
    .player-container,
    .vimeo-embeded-video-player {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// .video--vimeo {
//   .player-container {
//     top: 100px;
//   }
//   .vimeo-embeded-video-player {
//     width: 90%;
//     height: 90%;
//     margin: 0 auto;
//     padding: 56.25% 0 0 0;
//     & > div {
//       padding: none !important;
//     }
//   }
// }
