{{ attach_library('ucisom/youtubeVideoPlayer') }}

{% set youtube_video_base_class = youtube_video_base_class|default('youtube') %}
<div {{ bem(youtube_video_base_class, modifiers) }}>
    <div class="{{playlist_item_base_class}}-video">
        {% include '@atoms/video/video.twig' %}
    </div>
</div>
