{% set copy_base_class = copy_base_class|default('copy') %}

<div {{ bem(copy_base_class, modifiers) }}>
    {% if heading %}
        {% include "@atoms/text/headings/_heading.twig" %}
    {% endif %}
    {{ copy|raw }}
</div>