.container--news {
  max-width: $max-width;
}
.press-release {
  padding-right: $side-padding-xl;
  @include breakpoint(0 $large) {
    padding-right: 0;
  }
  .source {
    text-transform: uppercase;
  }
  figure {
    float: left;
    margin: 0 24px 24px 0;
  }
  hr {
    margin-bottom: 48px;
  }
  & > div {
    margin: 24px 0;
  }
  .socialLinks {
    @include breakpoint(0 $medium) {
      margin: $s-margin 0;
      justify-content: flex-start;
    }
  }
}
