{% set press_release_base_class = press_release_base_class|default('press-release') %}

<div {{ bem(press_release_base_class, modifiers) }}>
    <h1 class="h2">{{ details.title }}</h1>
    <hr>
    <div class="source">Posted: {{ details.date }}<br /><br />
    Source: {{ details.publication }}</div>
    <div class="col-2">
        <div class="tags">
            <span class="label">News Type:&nbsp;</span>
            {% for tag in tags %}
                {% include "@atoms/buttons/twig/button.twig" with {
                    button_content: tag.title,
                    button_url: tag.url,
                    button_modifiers: ['tag']
                } %}
            {% endfor %}
        </div>
        <div class="social">
            {% include "@molecules/socialLinks/socialLinks.twig"  with {
                color: ['blue'],
                label: 'share'
            } %}
        </div>
    </div>
    {% include "@atoms/images/image/figure.twig" with {
        output_image_tag: true,
        image_src: image_full.src,
        image_caption: image_full.caption,
        image_credit: image_full.credit
    } %}
    {% include "@organisms/news/pressRelease/_copy.twig" %}
    {% if about %}
        {% include "@organisms/news/pressRelease/_copy.twig" with {
            heading: about.heading,
            heading_level: about.heading_level,
            copy: about.copy
        } %}
    {% endif %}
    {% if related_faculty %}
        {% include "@molecules/news/_related-faculty.twig" with {
            heading_level: related_faculty.heading_level,
            heading_copy: related_faculty.heading_copy,
            person: related_faculty.person
        } %}
    {% endif %}
</div>