.summary-section {
  display: flex;
  align-items: flex-start;
  .summary-label {
    font-family: $font-body;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .summary-icon {
    width: 13px;
    height: 13px;
    // height: auto;
    margin-right: 10px;
    color: $blue;
    padding-top: 2px;
    margin-left: -24px;
    flex: 0 0 auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .summary-content {
    p {
      margin-top: 0;
    }
  }
  .socialLinks {
    a.link-social {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border-width: 3px;
      .icon {
        padding: 6px;
      }
    }
  }
  &--event,
  &--events {
    margin-bottom: 46px;
    .summary-icon {
      width: 25px;
      height: 25px;
    }
    .date {
      margin-top: 0;
      margin-bottom: 6px;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Storybook specific styling
.sb-summaryIcon {
  margin-left: 24px;
}
