{% set summary_base_class = summary_base_class|default('summary-section') %}

<div {{ bem(summary_base_class, modifiers) }}>
{% if (icon) or (type == 'event') %}
    <div class="summary-icon">
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: icon
        } %}
    </div>
{% endif %}
    <div class="summary-data">
        {% if label %}<div class="summary-label">{{ label }}</div>{% endif %}
        {% if content %}<div class="summary-content">{{ content|raw }}</div>{% endif %}
        {% if event_title %}<div class="summary-event">
            {% if event_date_start %}
                <p class='paragraph--x-small date'>{{ event_date_start|date("M j") }} – {{ event_date_end|date("M j, Y") }}</p>
            {% elseif event_date %}
            <p class='paragraph--x-small date'>{{ event_date|date("M j, Y") }}</p>
        {% endif %}
        {% include "@atoms/links/link/link.twig" with {
            link_url: event_url,
            link_content: event_title
        } %}
        </div>
        {% endif %}
        {% if shareIcons %}<div class="summary-share">
                {% include "@molecules/socialLinks/socialLinks.twig" with {
                    socialLinks: shareIcons,
                    label: '',
                    color: ['blue']
                } %}

    </div>
        {% endif %}
    </div>
</div>