.callouts {
  &--search {
    background-color: $blue-dark;
    .footer-bar {
      color: $white;
      display: grid;
      grid-template-columns: 0.9fr 1.2fr 0.9fr;
      .header {
        padding: 18px 34px;
        .h1,
        .h2,
        .h3,
        .h4,
        .h5 {
          color: $white;
        }
      }
      .center {
        padding: 18px 34px;
      }
      .left {
        // padding-left: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.view-search {
  h1 {
    // margin-top: 48px;
    // margin-bottom: 12px;
    padding-left: $side-padding-xl;
  }
}
