<div class="footer-bar">
    <div class="header left">
    {# Header #}
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: heading_level,
            heading: bar_title,
            heading_modifiers: ['white']
        } %}
    </div>
    <div class="center">
        {{ bar_content }}
    </div>
    <div class="right">
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: bar_cta_text,
            button_url: bar_cta_url
        } %}
    </div>
</div>