{% set accordion_item_base_class = accordion_item_base_class|default('accordion-item') %}

{{ attach_library('ucisom/accordion') }}
<section id="{{ title|url_encode|lower }}" aria-expanded="false" {{bem(accordion_item_base_class, accordion_item_modifiers) }}>
    <div class="content-wrapper">
        <button class="accordion-header">{{ title }}</button>
        <div class="content text-long">
            {{ content|raw }}
            {% if button.field_button_link.0 %}
                {% include "@atoms/buttons/twig/button.twig" with {
                    button_content: button.field_button_link.0.title,
                    button_url: button.field_button_link.0.url,
                    external_link: button.field_button_link.0.url.external,
                    button_modifiers: [button.field_button_color.value, button.field_alignment.value|default('left')],
                } %}
            {% endif %}
        </div>
        {% if 'alert' in accordion_item_modifiers %}
            {% set icon = {'closed': 'plus', 'open': 'minus'} %}
        {% else %}
            {% set icon = {'closed': 'arrowDown', 'open': 'arrowDown'} %}
        {% endif %}
        <div class="icon-closed">
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: icon.closed,
            } %}
        </div>
        <div class="icon-open">
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: icon.open,
            } %}
        </div>
    </div>
</section>