@mixin image {
  display: block;
  height: auto;
  max-width: 100%;
}

img,
picture {
  @include image;
}

.figure {
  margin: 0; /* override normalize */
  position: relative;
  display: block;
  &--no-image {
    .figure__caption {
      position: relative;
    }
  }
  .caption-wrapper {
    display: flex;
  }
}

.figure__caption {
  background-color: rgba($blue, 0.9);
  // position: absolute;
  // width: 0;
  flex: 1;
  color: $white;
  // padding: 23px 15px;
  max-width: $max-width;
  padding: 15px;
  p {
    font: {
      family: $font-body;
      size: 11px;
    }
  }
  .icon {
    height: 24px;
    width: 13px;
    flex: 0 0 13px;
    margin-left: 13px;
  }
  &--persona {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    background-color: rgba($blue-dark, 0.9);
  }
}

.image_credit {
  text-align: right;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 6px;
  font-style: italic;
}

// Sneaking in some basic styling here for department persona
.department-persona {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  figure {
    // flex: 1 1 auto;
    max-width: 230px;
    margin: 0;
    padding: 10px;   
    // margin: 0 10px;
    // &:first-child {
    //   margin-left: 0;
    // }
    // &:last-child {
    //   margin-right: 0;
    // }
    @include breakpoint(0 $small) {
      max-width: 100%;
      margin: 20px 0;
    }
  }
}
