{% set image_figure_base_class = image_figure_base_class|default('figure') %}
{% set image_link_base_class = image_link_base_class|default('link') %}
{% if image_src is null %}
  {% set image_figure_modifiers = 'figure--no-image' %}
{% endif %}

{% if image_figure_modifiers %}
  <figure class={{image_figure_modifiers}}>
{% else %}
  <figure {{bem(image_figure_base_class)}}>
{% endif %}
  {% if image_url %}
    <a {{ bem(image_link_base_class, image_link_modifiers, image_link_blockname|default(image_figure_base_class)) }} href="{{ image_url }}">
  {% endif %}
  {% if image_src %}
    {% block figure_content %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        responsive_image_blockname: responsive_image_blockname|default(image_figure_base_class),
      } %}
    {% endblock %}
  {% endif %}
  

  {% if image_caption %}
    <div class="caption-wrapper">
      <figcaption {{ bem('caption', figcaption_modifiers, figcaption_blockname|default(image_figure_base_class)) }}>
        {% if 'persona' in figcaption_modifiers %}
          {{ image_caption|raw }} 
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'arrowRight',
          } %}
        {% else %}
          {{ image_caption|raw }}
        {% endif %}
        {% if image_credit %}
          <p class="image_credit">{{ image_credit }}</p>
        {% endif %}
      </figcaption>
    </div>
  {% endif %}
  {% if image_url %}
    </a>
  {% endif %}
</figure>