/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

.paragraph {
  @include paragraph;
  &--small {
    font-size: 14px;
    line-height: 1.5;
  }
  &--x-small {
    font-size: 12px;
    line-height: 1.5;
  }
  &--annotation {
    font-size: 10px;
    text-decoration: underline;
  }
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  hr {
    @extend .hr;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
}
