{% set imageLink_base_class = imageLink_base_class|default('imageLink') %}
<div {{ bem(imageLink_base_class, modifiers) }}>
  {% if link_url %}
  <a href={{ link_url }}>
  {% endif %}
    {# {% if icon %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    {% endif %} #}
    {% if svg_image_src %}
      {{ source(svg_image_src) }}
    {% endif %}
    {% if image_src and (image_src|length > 1) %}
      {% include "@atoms/images/image/_image.twig" with {
        image_src: image_src,
        image_alt: image_alt
      } %}
    {% endif %}
    
    {% if label %}
      <p class="text">{{ label }}</p>
    {% endif %}
    {% if link_url %}
      </a>
    {% endif %}
    {% if additional_links %}
      <div class="additional-links">
        {% for link in additional_links %}
          <a class="link" href={{ link.url }}>{{ link.label }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if rich_text %} 
      <div class="rich-text">
        {{rich_text|raw}}
      </div>
    {% endif %}
</div>