/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/

// Fonts
// $font-body: 'Roboto', sans-serif;
$font-body: arial, "Helvetica Neue", helvetica, sans-serif;
$font-heading: 'Roboto Slab', 'serif';

// Spacing
$space: 1rem;

$space-xlarge: 48px;
$space-large: 24px;
$space-medium: 16px;
$space-small: 12px;
$space-xsmall: 0.8px;

// Type Sizes
$ts-body: 16px;

// Line heights
$text-lh: 1.2;

// Times
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// Divided
$space-one-half: calc($space/2);
$space-one-third: calc($space/3);
$space-one-fourth: calc($space/4);
$space-one-fifth: calc($space/5);
$space-one-sixth: calc($space/6);
$space-one-seventh: calc($space/7);
$space-one-eighth: calc($space/8);

$side-padding-xl: 100px;

$grid-column-gap-xl: 60px;

// Site Margins
$xl-margin: 100px;
$l-margin: 50px;
$s-margin: 15px;

$xl-vertial-space: 60px;

$hr-margin-top: 14px;
$hr-margin-bottom: 20px;
