/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.6;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin site-padding($top: 0, $bottom: 0) {
  @include breakpoint($large) {
    padding: $top $xl-margin $bottom $xl-margin;
  }
  @include breakpoint($medium $large) {
    padding: $top $l-margin $bottom $l-margin;
  }
  @include breakpoint(0 $medium) {
    padding: $top $s-margin $bottom $s-margin;
  }
}

@mixin site-margin($top: 0, $bottom: 0) {
  margin: $top $xl-margin $bottom $xl-margin;
}

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  padding-top: 30px;
  padding-bottom: 30px;
  @include breakpoint(0 $medium) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@mixin media-wrapper {
  background: $gradient-blue-green;
  padding-top: 80px;
  padding-left: 135px;
  @include breakpoint(0 $large) {
    padding: 0;
    background: none;
  }
}
