html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: $xs;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: $ts-body;
  color: clr(text-color);
  line-height: $text-lh;
  font-family: $font-body;
  // max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  // max-width: $max-width;
  // min-width: $min-width;
  // margin: 0 auto;
}

.content-wrapper {
  max-width: $max-width;
  margin: 0 auto;

  .content p {
    margin: 0 0 1em;
  }
}

// Used on Page Layout
// .content-area {
//   & > * {
//     margin-bottom: 100px;
//   }
// }

// ::selection {
//   background: $gold;
//   color: $nearblack;
// }

// ::-moz-selection {
//   background: $gold;
//   color: $nearblack;
// }

.main {
  // @include wrapper;

  display: block; /* Fix for IE weirdness */
}

button {
  border: 0;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.component-wrapper {
  @include site-margin;
}

// WYSIWYG Overrides
.text-long {
  article {
    &.align-center {
      img {
        margin: 0 auto;
      }
    }
  }
}
