@mixin container {
  width: 100%;
  // margin: 0 auto $space-double auto;
  @include site-padding;
  
  margin: $space-xlarge auto $space-xlarge auto;
  // margin: 0 auto ;
  // @include space-stack-page;

  // column-gap: $grid-column-gap-xl;
  // background-color: green;
  .view-header {
    .h2 {
      margin-top: 0;
    }
  }
}

.container {
  @include container;

  // padding: 0 $side-padding-xl;
}

.container--locked {
  @include container;

  // grid-column: 1 / span all;
  max-width: $max-width;
  .content {

    @include site-padding();
  }
}

.container--full-bleed {
  width: 100%;
  margin: 0 auto;
  column-gap: 0;
}

.container--fifty-fifty {
  @include container;

  max-width: $max-width;
  // margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  @include site-padding();
  // @include margin;
  @include breakpoint(0 $large) {
    display: block;
  }
}

.container--centered {
  @include space-stack-page;

  max-width: $max-width;
  margin: 0 auto;

  .content {
    margin: 0 auto;
    width: 60%;

    @include breakpoint(0 $large) {
      width: 100%;
      @include site-padding(0, 0);
    }
  }
  // padding: 0 $side-padding-xl;
}

.container--sidebar-right {
  @include container;

  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  .sidebar {
    padding: 50px;
  }
  .content {
    padding-top: 64px;
  }
  @include breakpoint(0 $large) {
    .sidebar,
    .content,
    .view-footer {
      grid-column: 1 / span 2;
      @include site-padding(15px, 15px);
    }
    .view-footer {
      // padding: 0;
    }
  }
}

.container--sidebar-left {
  @include container;

  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 2fr;
  .sidebar {
    padding: 50px;
    .view-header {
      p {
        margin-top: 0;
      }
    }
  }
  .content {
    // padding-top: 64px;
    @include site-padding(64px, 0);
  }
  @include breakpoint(0 $large) {
    .sidebar,
    .content {
      grid-column: 1 / span 2;
      @include site-padding(15px, 15px);
    }
  }
}

// .container--sidebar-right,
// .container--sidebar-left {
//   .sidebar {
//     background-color: #f3f1f1;
//   }
// }

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakpoint (0 $medium) {
    display: block;
  }
}

.container--news, .container--funding-opportunity {
  @include container;

  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: $max-width;
  .content {
    padding: 64px 0 64px $side-padding-xl;
  }
  @include breakpoint(0 $large) {
    display: block;
  }
}

.container--center-content {
  @include container;

  width: 75%;
  margin: 0 auto;
}

.container--card-grid {
  @include container;

  max-width: $max-width;
  // margin: 0 auto;
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 40px;
    @include site-padding;
    @include breakpoint($small $large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(0 $small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .view-header {
    max-width: $max-width;
    margin: 0 auto;
    @include site-padding;
  }
}
