// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Primary
$white: #fff;
$black: #000;
$blue: #0064a4;
$yellow: #ffd200;
$blue-dark: #1b3d6d;
$gray: #f3f1f1;

// Secondary
$gray-blue: #6aa2b8;
$gray-dark: #dadada;
$orange: #f78d2d;
$green: #94c83d;
$gray-blue-dark: #447d94;
$yellow-hover: #d9b612;
$white-hover: #7ec1db;
$transparent: transparent;
$yellow-light: #f7eb5f;
$blue-light: #c4dbea;
$blue-form: #2c87b3;

// Footer
$footer-blue: #025b94;

// Gradients
$gradient-blue-green: linear-gradient(
  270deg,
  rgba($yellow-light, 0.85) -12.88%,
  rgba(#17a7dc, 0.85) 31.42%,
  rgba(#0a4f7b, 0.85) 86.23%
);

html {
  --gray-blue: 106, 162, 184;
  --orange: 247, 141, 45;
  --green: 148, 200, 61;
  --yellow: 255, 210, 0;
  --gray: 243, 241, 241;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}
