// Color Usage variables - use these (via the `clr` function below)
// rather than color variables directly.
$defaultColors: (
  blue: $blue,
  yellow: $yellow,
  blue-dark: $blue-dark,
  gray: $gray,
  gray-blue: $gray-blue,
  orange: $orange,
  green: $green,
  gray-blue-dark: $gray-blue-dark,
  footer-blue: $footer-blue,
  yellow-light: $yellow-light,
  blue-light: $blue-light,
  blue-form: $blue-form,
  text-color: $black,
);

///////////
// Usage //
///////////
// This color function makes it easy for you to call a color by it's functional
// name anywhere you need.
// E.g. to use the `text` color, you type: `color: clr(text);`
//
// How it works:
// This function works in conjunction with the dynamic css custom properties
// declarations below. The item called in the function is prefixed with
// `var(--c-` to call the custom property for that color.
// E.g. `color: clr(text);` will return `color: var(--c-text);`
// Note: (The `--c-` is added via the `@each` loops below)
@function clr($colorChoice) {
  @return var(--c-#{$colorChoice});
}
