// These styles only affect the colors "Usage" page in the component library
.sg-colors {
  padding: 1rem;
  display: flex;
}

.sg-colors__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 0;
  border: 1px solid $black;
  flex: 1 1;
  max-width: 16rem;
}

.sg-info {
  padding: 8px;
  font-size: 14px;
}

.sg-name {
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.sg-colors__item {
  list-style: none;
  padding: 1rem 2rem;
  transition: all 0.4s;
  flex: 1 1 20%;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sg-colors__color {
  padding: 6.4rem;
  // max-width: 85px;
  margin: 0 auto;
  border-bottom: 1px solid $black;
  width: 100%;

  &--white {
    background-color: $white;
  }

  &--black {
    background-color: $black;
  }

  &--blue {
    background-color: $blue;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--blue-dark {
    background-color: $blue-dark;
  }

  &--gray {
    background-color: $gray;
  }

  &--gray-dark {
    background-color: $gray-dark;
  }

  &--gray-blue {
    background-color: $gray-blue;
  }

  &--orange {
    background-color: $orange;
  }

  &--green {
    background-color: $green;
  }

  &--gray-blue-dark {
    background-color: $gray-blue-dark;
  }

  &--footer-blue {
    background-color: $footer-blue;
  }

  &--yellow-light {
    background-color: $yellow-light;
  }

  &--blue-light {
    background-color: $blue-light;
  }

  &--blue-form {
    background-color: $blue-form;
  }
}

// Dynamically set swatch text color based on the lightness of the background color
@function set-color(
  $color,
  $text-primary: accent-high,
  $text-secondary: muted
) {
  @if (lightness($color) > 50) {
    @return clr($text-primary);
  } @else {
    @return clr($text-secondary);
  }
}

// Style default color swatches
@each $name, $color in $defaultColors {
  .sg-colors__item--default {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color);
    }
  }
}
