{% set colors_base_class = "sg-colors" %}
 
<div {{ bem(colors_base_class) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: colors_heading,
  } %}
{#
  {% for palette in palettes %}
    {% set palette_machine = palette.palette_heading|lower %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: palette.palette_heading ~ ' Theme',
    } %} #}

<ul {{ bem(colors_base_class) }}>
  {% for color in colors %}
    <li {{ bem("list", [], colors_base_class) }}>
      <div {{ bem("color", [color.value], colors_base_class) }}></div>
      <div {{ bem("sg-info") }}>
        <span {{ bem("sg-name") }}>{{ color.name }}</span> <br/>
        <code>${{ color.value }}</code> <br />
        <code>#{{ color.hex }}</code>
      </div>
    </li>
  {% endfor %}
</ul>

    {# <ul {{ bem('list', [palette_machine], colors_base_class) }} data-theme="{{ palette_machine }}">
      {% for color in palette.colors %}
        {% set color_machine = color.name|lower|replace({' ': '-'}) %}
        {% if color.color_reverse == TRUE %}
          {% set colors_title_modifiers = ['reverse'] %}
        {% endif %}
        <li {{ bem("item", [palette_machine ~ '-' ~ color_machine], colors_base_class) }}>
          <span {{ bem("title", colors_title_modifiers, colors_base_class) }}>{{ color.name }}</span> <br/>
        </li>
      {% endfor %}
    </ul>
  {% endfor %} #}
</div>
