.accordion {
  cursor: pointer;
  .banner {
    margin-bottom: 0;
    @include site-padding(0, 0);

  }
  section {
    margin-bottom: 16px;
    transition: height 0.2s ease-out;
    position: relative;
  }
}

.paragraph--accordion {
  .banner {
    @include site-padding(0, 0);
  }
}