{% set base_class = base_class|default('accordion') %}


{{ attach_library('ucisom/accordion') }}
<div {{ bem(base_class, modifiers) }}>
    {% for item in accordion_items %}
        {% include "@molecules/accordion/accordion_item.twig" with {
            title: item.title,
            content: item.content
        } %}
    {% endfor %}
</div>