.html-video {
  position: relative;
  video {
    object-fit: cover;
    display: block;
    width: 100%;
  }
  .video-controls {
    position: absolute;
    right: 15px;
    bottom: 15px;
    button {
      width: 50px;
      height: 50px;
      background-color: $blue-dark;
      cursor: pointer;
      border-radius: 25px;
      color: $white;
      &.pause-btn {
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &.play-btn {
        svg {
          position: relative;
          left: 2px;
          width: 25px;
          height: 100%;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}
