{% set html_video_base_class = html_video_base_class|default('html-video') %}

<div {{bem(html_video_base_class, html_video_modifiers) }}>
    <video preload="none" muted="" loop="" poster="{{poster}}">
        <source src="{{mp4}}" type="video/mp4">
        <source src="{{webm}}" type="video/webm">
        <source src="{{ogv}}" type="video/ogg">
    </video>
    <div class="video-controls">
        <button class="play-btn hidden" {{ add_attributes(additional_attributes) }}>
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: 'playButton'
            } %}
        </button>
        <button class="pause-btn" {{ add_attributes(additional_attributes) }}>
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: 'pauseButton'
            } %}
        </button>
    </div>
</div>