{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{# {% include "@organisms/footer/_footer.twig" with {
  content: content
} %} #}

{# {% block footer_content %}
<p>Bubu</p>

<p>bubu</p>
{% endblock %} #}

{%
  set classes = []
%}

{% set footer_base_class = footer_base_class|default('footer') %}
<footer  {{ attributes.addClass(classes) }}>
<div class="content-wrapper">
    {# Registration Form #}
    {# {% block footer_registration %}
      {% include "@molecules/footer/registration-form.twig" %}
    {% endblock %} #}
    {# Footer Info #}
    {# {% set copy = [] %}
    {% for item in elements.footerinfo.content.field_icon['#items'] %}
      {% set icon = item.entity.field_template_icon.value %}
      {% set text = item.entity.field_title.value %}
      {% set copy = copy|merge([{'icon': icon, 'text': text}]) %}
    {% endfor %} #}
    

    {# {% set socialLinks = [] %}
    {% for item in elements.footerinfo.content.field_social_links['#items'] %}
      {% set link_url = item.entity.field_link.0.url %}
      {% set link_alt_text = item.entity.field_link.0.title %}
      {% set social_icon = item.entity.field_template_icon.value %}
      {% set socialLinks = socialLinks|merge([{'link_url': link_url, 'link_alt_text': link_alt_text, 'social_icon': social_icon}]) %}
    {% endfor %} #}
    
    {# {% set footer_info = [] %}
    {% set footer_info = footer_info|merge({'logo_img': file_url(elements.footerinfo.content.field_logo[0]['#media'].field_media_image.entity.uri.value)}) %}
    {% set footer_info = footer_info|merge({'department_or_center': elements.footerinfo.content.field_text[0]['#context'].value}) %}
    {% set footer_info = footer_info|merge({'copy': copy}) %}
    {% set footer_info = footer_info|merge({'socialLInks': socialLinks}) %} #}

    {# Footer Links #}
    {# {% set footer_links = [] %}
    {% for link in elements.footerlinks.content['#items'] %}
      {% set name = link.title %}
      {% set url = link.url %}
      {% set footer_links = footer_links|merge([{'name': name, 'url': url}]) %}
    {% endfor %} #}

    {# Footer Bar #}
    {# {% set footer_bar_links = [] %}
    {% for link in elements.footerbarlinks.content['#items'] %}
      {% set name = link.title %}
      {% set url = link.url %}
      {% set footer_bar_links = footer_bar_links|merge([{'name': name, 'url': url}]) %}
    {% endfor %} #}
    {# {{kint(footer_bar_links)}} #}

    <div class="col-2">
      {% block footer_info %}
        {{ drupal_entity('block', 'footerinfo') }}
      {% endblock %}
      {% block footer_links %}
        {{ drupal_entity('block', 'footerlinks') }}
      {% endblock %}
    </div>
  </div>
  <section class='footer-bar'>
    <div class="content-wrapper">
      {% block footer_bar %}
        {{ drupal_entity('block', 'footerbar') }}
      {% endblock %}
      {% block footer_bar_links %}
        {{ drupal_menu('footer-bar-links') }}
      {% endblock %}
      </div>
  </section>
</footer>