{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}




{# Reference

{% block menu_global %}
  {{ drupal_menu('header-top') }}
{% endblock %}

{% block menu_primary %}
  {{ drupal_menu('main') }}
{% endblock %}

#}


{# TODO: include the above menus in content|without('') to prevent duplication #}
{% set classes = [
  "fixed-nav",
  "show",
] %}

{% if is_admin %}
  {% set classes = classes|merge(['is_admin']) %}
{% endif %}

<div {{attributes.addClass(classes)}}>
{{ content }}
</div>


