// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__select {
  height: 60px;
  word-wrap: break-word;
  padding: 8px 65px 9px 20px;
  position: relative;
  cursor: pointer;
  font: {
    size: 20px;
    family: $font-body;
    style: italic;
  }

  color: $blue;
  line-height: 1.3;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid $blue;
  appearance: none;
  background: {
    color: $white;
    image: $downArrow;
    position: calc(100% - 14px) center;
    repeat: no-repeat;
    size: 28px;
  }
  &--ghost {
    border: 0;
  }
}

.form-item__select:focus {
  outline: none;
}

// Styleguide Styling
.sg-dropdown {
  background-color: $gray;
  padding: 10px;
}
