{% set select_base_class = select_base_class|default('form-item__select') %}

{% set additional_attributes = {
  class: bem(select_base_class, modifiers)
} %}

{# {% if not attributes %} #}
<div class="form-item">
  <label for={{ id }} class="h4">{{label}}</label>
  <div class="form-item__dropdown">
    <select onChange="window.location.href=this.options[this.selectedIndex].dataset.value" {{ add_attributes(additional_attributes) }} id={{ id }}>
        {% for selection in select %}
          {% include "@atoms/forms/select/_select-item.twig" with {
            select_item: selection.title,
            data: selection.data|e('html'),
            selected: selection.selected,
          } %}
        {% endfor %}
{# {% if not attributes %} #}
      
    </select>
  </div>
</div>
{# {% endif %} #}
