.socialLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  .label {
    display: flex;
    align-items: center;
    color: $blue;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    margin-right: 22px;
  }
  a.link-social {
    margin: 0 5px;
    &--white {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      .icon {
        height: 30px;
        padding: 0;
      }
    }
  }
}

// Styleguide styling
.sg-socialLinks {
  background-color: $blue;
  padding: 10px;
  &.blue {
    background-color: transparent;
  }
}
