{% set socialLinks_base_class = socialLinks_base_class|default('socialLinks') %}
    {% if label and "alt" in color %}
        <p class="title"><b>{{label}}</b></p>
    {% endif %}
    <ul {{ bem(socialLinks_base_class, socialLinks_modifiers) }}>
        {% if label and "alt" not in color %}
            <li class='label'>{{ label }}</li>
        {% endif %}
        {% for link in socialLinks %}
            <li>
                {% include "@atoms/links/link/link-social.twig" with {
                    link_url: link.link_url,
                    link_attributes: link.link_attributes,
                    link_alt_text: link.link_alt_text,
                    social_icon: link.social_icon,
                    link_modifiers: color
                }%}
            </li>
        {% endfor %}
    </ul>