$hero-padding-top: 24px;
$hero-padding-sides: $side-padding-xl;

.hero {
  // --hero-min-height: 33vw;
  --hero-min-height: 480px;

  position: relative;

  .banner--blue {
    padding: 38px 60px;
  }

  // max-width: 2000px;
  margin: 0 auto;
  // @include breakpoint(0 $large) {
  //   margin: 64px auto 0 auto;
  // }
  .content {
    max-width: $max-width;
    margin: 0 auto;
    // position: relative;
    width: 100%;
    min-height: var(--hero-min-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include site-padding($hero-padding-top, $hero-padding-top);
  }
  img {
    object-fit: cover;
    position: absolute;
  }
  nav {
    position: absolute;
    z-index: 50;
    top: 0;
    // left: 0;
    max-width: $max-width;
    padding-right: 100px;
    min-width: 500px;
    @include breakpoint(0 $medium) {
      min-width: auto;
    }
    // transition: top 0.2s;
    // &.show {
    //   top: 120px;
    //   transition: top 0.4s;
    //   @include breakpoint($medium $large) {
    //     top: 64px;
    //   }
    //   @include breakpoint(0 $medium) {
    //     top: 64px;
    //   }
    //   &.logged-in {
    //     top: 199px;
    //     @include breakpoint(1080px $large) {
    //       top: 212px;
    //     }
    //     @include breakpoint(0 1080px) {
    //       top: 212px;
    //       // left: 0;
    //     }
    //   }
    // }
    @include breakpoint($medium $large) {
      padding-right: 50px;
    }
    @include breakpoint(0 $medium) {
      padding-right: 0;
      left: 0;
    }
    .menu-bar {
      position: relative;
      background-color: $yellow;
      // left: $xl-margin;
      padding-right: 75px;
      display: flex;

      &::before {
        background: $yellow;
        content: '';
        height: 100%;
        left: -100vw;
        position: absolute;
        width: 200vw;
        z-index: -1;
      }

      .iconButton {
        display: flex;
        align-items: center;
      }
      @include breakpoint($medium $large) {
        // left: $l-margin;
      }
      @include breakpoint(0 $medium) {
        // left: 0;
      }
      button {
        margin-left: 0;
      }
      @include breakpoint(0 $medium) {
        padding: 0;
        .iconButton {
          margin-left: 3px;
        }
      }
    }
    .menu-list {
      // padding-left: $hero-padding-sides;
      position: absolute;
      right: 100px;
      left: 0;
      @include breakpoint($medium $large) {
        // padding-left: $l-margin;
        right: $l-margin;
      }
      @include breakpoint(0 $medium) {
        right: 0;
      }
    }
  }
  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  .overlay {
    background: linear-gradient(
      90.92deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0) 80%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include breakpoint(0 $large) {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .hero-wrapper--main {
    z-index: 20;
    min-height: var(--hero-min-height);
    background-size: cover;
    // padding: $hero-padding-top $hero-padding-sides;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-position: top right;
    width: 100%;
    .h1 {
      color: $white;
      margin-top: 0;
    }
    .copy {
      max-width: 470px;
      color: $white;
      margin-bottom: 40px;
    }
  }
  &--blue {
    display: flex;
    justify-content: center;
    margin-bottom: 172px;
    @include breakpoint(0 $large) {
      margin-bottom: 30px;
    }
    .content {
      position: absolute;
      top: 0;
      max-width: $max-width;
      margin: 0 auto;
      // left: 50%;
      // transform: translateX(-50%);

      z-index: 20;
      .breadcrumbs {
        display: none;
      }
    }

    // .hero-wrapper--main {
    //   width: 100%;
    //   background-color: transparent;
    //   position: relative;
    //   display: flex;
    //   padding-top: 16px;
    // }
    .hero-wrapper--blue {
      // max-width: 960px;
      width: 960px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -125px;
      z-index: 20;
      @include breakpoint(0 $large) {
        width: 100%;
        max-width: 100%;
        transform: translateX(0) translateY(50%);
        // position: absolute;
        bottom: 50%;
        left: 0;
      }
    }
    .hero-img {
      z-index: auto;
      height: 480px;
      position: relative;
    }
    .overlay {
      z-index: auto;
    }
  }
  &--short {
    .hero-wrapper--main {
      min-height: 240px;
      .copy {
        margin-bottom: 24px;
      }
    }
  }
  &--details {
    .hero-wrapper--main {
      justify-content: flex-end;
      .h1 {
        line-height: 1;
      }
      .breadcrumbs {
        margin-top: 0;
      }
    }
  }
  &--microsite {
    .breadcrumbs {
      margin-top: 50px;
    }
  }
  &--video {
    position: relative;
    margin-bottom: 0;
    display: block;
    .html-video {
      video {
        // 123px height of main nav (79px) + global nav (44)
        height: calc(100vh - 123px);
        @include breakpoint(0 $large) {
          // 62px height of main mobile nav
          height: calc(100vh - 62px);
        }
      }
      .video-controls {
        display: none;
      }
    }

    &.has-video {
      .html-video .video-controls {
        display: block;
      }
    }
    .hero-wrapper--main {
      padding: 0;
    }
    .hero-wrapper--blue {
      position: absolute;
      top: inital;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      // display: flex;
      // align-items: center;
      @include breakpoint(0 $large) {
        top: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
      }
    }
  }
  &--interior {
    .hero-wrapper--main {
      background: $gradient-blue-green;
      min-height: 0;
      .content {
        min-height: 0;
      }
    }
  }
  .breadcrumbs {
    margin: 0;
    padding: 0;
    li {
      a,
      &::before {
        color: $white;
        display: inline-block;
      }
    }
  }
  .arrow {
    background-color: $blue;
    position: absolute;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    left: 50%;
    bottom: 20px;
    .icon {
      width: 16px;
      height: 8px;
    }
    // width: 16px;
  }
}

.hero--has-menu {
  // @include breakpoint (0 $medium) {
    .hero-wrapper--main {
      padding-top: 42px;
    }
  // }
}

//SOM site specific styles to account for special menu breakpoints
.site--uci-school-of-medicine {
  .hero {
    &--blue {
      display: flex;
      justify-content: center;
      margin-bottom: 172px;
      @include breakpoint(0 $large-menu) {
        margin-bottom: 30px;
      }
      .content {
        position: absolute;
        top: 0;
        max-width: $max-width;
        margin: 0 auto;
        // left: 50%;
        // transform: translateX(-50%);

        z-index: 20;
        .breadcrumbs {
          display: none;
        }
      }

      // .hero-wrapper--main {
      //   width: 100%;
      //   background-color: transparent;
      //   position: relative;
      //   display: flex;
      //   padding-top: 16px;
      // }
      .hero-wrapper--blue {
        // max-width: 960px;
        width: 960px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -125px;
        z-index: 20;
        @include breakpoint(0 $large-menu) {
          width: 100%;
          max-width: 100%;
          transform: translateX(0) translateY(50%);
          // position: absolute;
          bottom: 50%;
          left: 0;
        }
      }
      .hero-img {
        z-index: auto;
        height: 480px;
        position: relative;
      }
      .overlay {
        z-index: auto;
      }
    }

    &--video {
      position: relative;
      margin-bottom: 0;
      display: block;
      .html-video {
        video {
          // 123px height of main nav (79px) + global nav (44)
          height: calc(100vh - 123px);
          @include breakpoint(0 $large-menu) {
            // 62px height of main mobile nav
            height: calc(100vh - 62px);
          }
        }
        .video-controls {
          display: none;
        }
      }

      &.has-video {
        .html-video .video-controls {
          display: block;
        }
      }
      .hero-wrapper--main {
        padding: 0;
      }
      .hero-wrapper--blue {
        position: absolute;
        top: inital;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        // display: flex;
        // align-items: center;
        @include breakpoint(0 $large-menu) {
          top: 50%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

/* Hero with Menu - Full-Width, multi-column */
.hero--has-menu {
  $hero-has-menu-padding: 200px;

  nav {
    padding: 0 $hero-has-menu-padding 0 0;
    width: 100%;

    @include breakpoint($medium $large) {
      padding-right: 100px;
    }

    @include breakpoint(0 $medium) {
      padding-right: 0;
    }

    .menu-bar,
    .menu-list {
      padding-right: $hero-has-menu-padding;
      width: 100%;

      @include breakpoint($medium $large) {
        padding-right: 100px;
      }

      @include breakpoint(0 $medium) {
        padding-right: 0;
      }
    }

    .menu-list {
      & > .link-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoint($medium $large) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(0 $medium) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}