{% set hero_base_class = hero_base_class|default('hero') %}

{% set modifiers = modifiers|default([]) %}


{% if img.src is empty %}
    {% set modifiers = modifiers|merge(['interior']) %}
{% endif %}

{% if menu %}
    {% set modifiers = modifiers|merge(['has-menu']) %}
{% endif %}

<div {{ bem(hero_base_class, modifiers) }}>
    {% if video %}
        {% include "@molecules/video/html/html-video.twig" with {
            mp4: video.mp4,
            webm: video.webm,
            ogv: video.ogv,
            poster: video.poster,
        } %}
    {% endif %}

    {% if blue_box %}
        {% if img.src %}
        <div class="hero-wrapper hero-wrapper--main" style="background-image: url('{{img.src}}'); background-position: {{v_align}} {{h_align}}">
        <div class="overlay"></div>
        </div>
        {% endif %}
        <div class="hero-wrapper hero-wrapper--blue">    
            {% include "@molecules/banners/banner.twig" with {
                heading_level: 1,
                heading_text: blue_box.title,
                body_copy: blue_box.text,
                banner_modifiers: ['blue']
            } %}
        </div>
    {% else %}
        {% if img.src %}
        {# <div class="hero-wrapper hero-wrapper--main" style="background-image: url('{{img.src}}'); background-position: {{v_align}} {{h_align}}"> #}
        <div class="hero-wrapper hero-wrapper--main" style="background-image: url('{{img.src}}'); background-position: {{v_align}} {{h_align}}">
        <div class="overlay"></div>
        {% else %}
        <div class="hero-wrapper hero-wrapper--main">
        {% endif %}
    {% endif %}
    <div class="content">
    {% if menu %}
        {% include "@molecules/menus/menu-secondary.twig" with {
            title: menu.title,
            button_aria_label: menu.button_aria_label,
            links: menu.links,
            title_url: menu.title_url,
        } %}
    {% endif %} 
            {# {% if img %}
                <img class="hero-img" src={{img.src}} alt={{img.alt}} />
                
            {% endif %} #}
            {% if copy %}
                {% if copy.title %}
                    <h1 class="h1">{{ copy.title }}</h1>
                {% endif %}
                {% if copy.text %}
                    <div class="copy">
                        {{ copy.text }}
                    </div>
                {% endif %}
            {% endif %}
            {% if breadcrumbs %}
                {% include "@molecules/breadcrumbs/breadcrumb.twig" with {
                    home_url: breadcrumbs.home_url,
                    home_text: breaadcrumbs.home_text,
                    links: breadcrumbs.links
                } %}
            {% endif %}
        </div>
        {% if arrow %}
            <div class="arrow">
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'arrowDown'
                } %}
            </div>
        {% endif %}
    {# {% endif %} #}
    {% if not blue_box %}
        </div>
    {% endif %}
</div>
