.persona {
  --background-transparency: 0.88;

  height: 525px;
  &--blue {
    --persona-color: var(--gray-blue);
  }
  &--orange {
    --persona-color: var(--orange);
  }
  &--green {
    --persona-color: var(--green);
  }
  &--yellow {
    --persona-color: var(--yellow);
  }
  &--gray {
    --persona-color: var(--gray);
  }
  &--menu-item {
    cursor: pointer;
    max-width: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .transparent-button {
      position: absolute;
      bottom: 125px;
    }
  }
  .h2 {
    color: #000;
    font-size: 23px;
    line-height: 1.25;
  }
  &--tab {
    // width: 100px;
    position: relative;
    // width: 100px;
    // height: 525px;
    cursor: pointer;
    min-width: 100px;

    .title-wrapper {
      position: relative;
      // padding-left: 50px;
      // transform: rotate(-90deg);
      // transform-origin: center center;
      // width: 525px;
      height: 100%;
      // width: 100%;
      // display: flex;
      // position: absolute;
      // justify-content: stretch;
      // align-items: flex-start;
      background-color: rgba(
        var(--persona-color),
        var(--background-transparency)
      );
      h2 {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-90deg);
        // transform: rotate(-90deg);
        margin: 0;
        // flex: 1;
        // padding-left: 50px;
        // border: 1px solid black;
        // display: flex;
        justify-content: center;
        white-space: nowrap;
      }
    }
  }
  &--panel {
    // padding: 70px 40px;
    background-color: rgba(var(--persona-color), 1);
    position: relative;
    // overflow-y: scroll;
    overflow: hidden;
    // display: none;
    // &.active {
    //   display: block;
    // }
    .h2 {
      margin-bottom: 60px;
    }
    .imageLink {
      .image {
        height: 100px;
      }
      p.text {
        color: $black;
      }
    }
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
      height: calc(100% - 35px);
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    button.iconButton {
      position: absolute;
      top: 25px;
      right: 25px;
      padding: 10px;
      border: 4px solid $black;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      display: block;
      background-color: transparent;
      cursor: pointer;
      svg {
        position: relative;
        left: -1px;
        top: -1px;
        width: 25px;
        height: 25px;
      }
    }
  }
  &--panels {
    display: flex;
  }
}
