{% set persona_menu_item_base_class = persona_menu_item_base_class|default('persona') %}



<div {{bem(persona_menu_item_base_class, persona_menu_item_modifiers, '', persona_menu_item_additional_classes)}} style="background-image: url({{ image_src }})" data-persona="{{title|clean_class}}" >
  {# <h2 class="h2">{{title}}</h2> #}
  {% include "@atoms/buttons/twig/transparentButton.twig" with {
    button_content: title,
    button_modifiers: [color],
  } %}
</div>