{% set persona_panel_base_class = persona_panel_base_class|default('persona') %}

<div {{bem(persona_panel_base_class, persona_panel_modifiers)}} data-persona="{{title|clean_class}}">
  <h2 class="h2">{{title}}</h2>
  {% include "@atoms/buttons/twig/iconButton.twig" with {
    aria_label: 'close',
    icon: 'close',
  } %}
  <div class="items">
    {% for item in content %}
      <div class="item">
        {% include "@atoms/images/imageLink.twig" with {
          image_src: item.img_src,
          image_alt: item.img_alt,
          label: item.title,
        } %}
        <p>{{item.copy|raw}}</p>
      </div>
    {% endfor %}
  </div>
</div>  