{% set persona_tab_base_class = persona_tab_base_class|default('persona') %}

<div {{bem(persona_tab_base_class, persona_tab_modifiers)}} style="background-image: url({{ image_src }})" data-persona="{{title|clean_class}}">
  <div class="title-wrapper">
    <h2 class="h2">{{title}}</h2>
  </div>
</div>