.carousel-wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.carousel {
  position: relative;
  background-color: $blue;
  .carousel-container,
  .carousel-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }
  }
  .carousel-container {
    overflow: hidden;
    .slide-wrapper {
      display: flex;
      transition: transform 700ms;
    }
    .carousel-slide {
      width: 100%;
      flex: 1 0 100%;
      background-color: rgba($black, 0.5);
      .figure {
        height: 100%;
      }
      .figure__caption {
        // background-color: rgba($black, 0.5);
        background-color: transparent;
        text-align: center;
        padding-bottom: 40px;
        // padding-right: 20%;
      }
    }
  }
  .carousel-nav-wrapper {
    width: 100%;
    justify-content: center;
    position: absolute;
    // right: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .carousel-nav {
    display: block;
    li {
      display: inline-block;
      background-color: $white;
      width: 16px;
      height: 16px;
      overflow: hidden;
      text-indent: 50px;
      border-radius: 8px;
      margin: 0 8px;
      cursor: pointer;
      &.active {
        width: 10px;
        height: 10px;
        background-color: $yellow;
        transform: translate(0, -3px);
        // transform: translateX(3px);
      }
    }
  }
  .carousel-arrow {
    color: rgba($black, 0.75);
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    &-prev {
      left: 0;
      svg {
        transform: rotate(90deg);
      }
    }
    &-next {
      right: 0;
      svg {
        transform: rotate(-90deg);
      }
    }
    .icon {
      height: 90px;
      width: 50px;
    }
    &:disabled {
      color: rgba($black, 0.1);
      cursor: auto;
    }
    &:focus {
      outline: 0;
    }
  }
  &-small {
    max-width: 800px;
  }
}
