{% set carousel_base_class = carousel_base_class|default('carousel') %}

<div class="carousel-wrapper">
    <div {{bem(carousel_base_class, carousel_modifiers) }}>
        <div class="carousel-container">
            <div class="slide-wrapper">
            {% for slide in slides %}
                <div class="carousel-slide" data-slide-index="{{loop.index}}">
                    {% include "@atoms/images/image/figure.twig" with {
                        image_src: slide.img_src,
                        image_alt: slide.img_alt,
                        image_caption: slide.caption,
                        output_image_tag: true
                    } %}
                </div>
            {% endfor %}
            </div>
        <div class="carousel-nav-wrapper">
            <ul class="carousel-nav">
                {% for slide in slides %}
                    <li data-button-index="{{loop.index}}">Slide {{loop.index}}</li>
                {% endfor %}
            </ul>
            </div>
            <button class="carousel-arrow carousel-arrow-prev" data-direction="prev">
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'arrowDown'
                } %}
            </button>
            <button class="carousel-arrow carousel-arrow-next" data-direction="next">
                {% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: 'arrowDown'
                } %}
            </button>
        
        </div>
    </div>
</div>