.news-event-person {
  .h2 {
    color: $blue-dark;
    font-size: 26px;
    font-weight: normal;
  }
  .copy {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-column-gap: 45px;
    padding: 18px 0;
    .image {
      // border-radius: 70px;
      margin-right: 40px;
    }
    .info {
      display: flex;
      align-items: center;
      line-height: 1.5;
      a {
        font-weight: bold;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
      }
    }
  }
  @include breakpoint(0 $medium) {
    .copy {
      display: block;
      .photo {
        margin-bottom: 15px;
      }
    }
  }
}

.related-faculty {
  .people {
    border-top: 14px solid $gray;
    border-bottom: 14px solid $gray;
  }
}
