.teaser {
  // display: flex;
  margin-bottom: 24px;
  .content-wrapper {
    display: grid;
    grid-template-columns: 180px 1fr;
    column-gap: 30px;
    @include breakpoint($medium $large) {
      grid-template-columns: 100px 1fr;
      column-gap: 10px;
      .teaser-image {
        width: 100px;
      }
    }
    
  a {
    text-decoration: none;
    color: black;
    // width: 100%;
    
    
    }
    @include breakpoint(0 $medium) {
      grid-template-columns: 1fr;
    }
  }
  .teaser-image {
    flex: 0 0 auto;
  }
  .headline {
    font-family: $font-body;
    font-size: 18px;
    text-decoration: none;
    color: $blue;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.16;
  }
  .tags {
    @include list-reset();

    display: none;
    a {
      color: $blue;
    }
    // li {
    //   list-style: none;
    //   display: inline;
    //   line-height: 1.5;
    // }
  }
  .date {
    margin-top: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
  }
  hr {
    max-width: 250px;
    margin-left: 0;
  }
  &--search {
    margin-bottom: 0;
    .content-wrapper {
      display: block;
    }
    &:hover {
      background-color: $blue-light;
    }
    a {
      padding: 24px;
      display: block;
    }

    border-bottom: 1px solid $blue-dark;
  }
  &--event {
    .date {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 0;
    }
    hr {
      margin-top: 4px;
    }
  }
  &--funding-opportunity {
    .content-wrapper {
      display: block;
    }
    a {
      display: block;
    }
  }
}
