{% set news_event_person_base_class = news_event_person_base_class|default('news-event-person') %}

<div {{ bem(news_event_person_base_class, modifiers) }}>
    <div class="copy">
        <div class="photo">
        {% if img_url %}
            {% include "@atoms/images/image/_image.twig" with {
                image_src: img_url,
                image_alt: image_alt ?? name
            } %}
        {% endif %}
        </div>
        <div class="info">
            <div>
                {# {% if url is defined %} #}
                {% if url is not empty %}
                    {% include "@atoms/links/link/link.twig" with {
                    link_url: url,
                    link_content: name,
                    } %}
                {% else %}
                    <b>{{ name }}</b>
                {% endif %}
                {% if titles %}
                    <ul class="titles">
                    {% for title in titles %}
                        <li>{{ title.value }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if about_speaker is defined %}
                    <div class="about">
                        <p class="label">{{ about_label }}</p>
                        {{ about_speaker|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>