
{% set teaser_base_class = teaser_base_class|default('teaser') %}
{% set modifiers = type %}

{% set content %}
    {% if type != 'search' and type != 'funding-opportunity' %}
        <div class="teaser-image">
            {% include "@atoms/images/image/_image.twig" with {
                image_src: image.src,
                image_alt: image.alt
            } %}
        </div>
    {% endif %}
    <div class="copy">
        <div>
            {% if type == 'event' %}
                <p class="date">{{details.date}}</p>
                <hr />
            {% elseif type == 'news' or type.title == 'Press Release' or type.title == 'In the News' or type.title == "Features & Briefs" %}
                <p class="date">{% if details.date %}{{ details.date|date('M d, Y') }} {% endif %} {% if details.publication %}| {{ details.publication }}{% endif %}{% if details.time %}| {{ details.time }} {% endif %}</p>
                <hr />
            {% elseif type == 'funding-opportunity' %}
                <p class="date">{{details.date_label}}: {{details.date|date('M d, Y')}}</p>
                {# <hr> #}
            {% endif %}

            {% if details.title %}
                <p class="headline">{{ details.title }}</p>
            {% endif %}

            {% if details.description_short %}
                <p>{{ details.description_short }}</p>
            {% endif %}

            {% if type.title == 'Newsletter' %}
                <p>{{details.date|date('F d, Y')}}</p>
            {% endif %}

            {% if buttons %}
                {% for button in buttons %}
                    {% include "@atoms/buttons/twig/button.twig" with {
                        button_content: button.title,
                        button_url: button.url,
                        button_modifiers: button.external ? ['with-icon'] : [],
                        icon: button.external ? 'readMore' : '',
                    } %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endset %}
<div {{ bem(teaser_base_class, modifiers) }}>
    {% if details.url is not null %}
        <a class="content-wrapper" href={{details.url}} target={{details.url_target}}>
            {{content}}
        </a>
    {% else %}
        <div class="content-wrapper">
            {{content}}
        </div>
    {% endif %}
    <ul class="tags">
        {% for tag in tags %}
            <li>{% include "@atoms/buttons/twig/button.twig" with {
                button_content: tag.title,
                button_url: tag.url,
                button_modifiers: ['tag']
            } %}
            </li>
        {% endfor %}
    </ul>
</div>
