hr {
  border-top: 1px solid $gray;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  &.thick {
    border-top: 14px solid $gray;
  }
}

.horizontalRule {
  margin-block-start: $hr-margin-top;
  margin-block-end: $hr-margin-bottom;
  border-top: 1px solid $gray;
  &--thick {
    border-top: 14px solid $gray;
  }
  &--yellow {
    border-top: 7px solid $yellow;
    width: 200px;
  }
  &--narrow {
    width: 144px;
  }
}
